[2020-03-27 19:22] deanorderly commented on #1925
"Tradeoffs abound in libraries such as these."  VERY TRUE.

It is really just a side-thought of "man, it would be really nice instead of all testing having to do is the number between .9 and 1.1".

After all, Junit deprecated the equals(double, double) in favor of something that works 100% of the time with a (double, double, rangeValue)

Dean

[2020-03-28 11:28] AdamAntinoo commented on #1626
I have created a SpringBoot simple hystrix command surrounding a test repository and afterwards collected the metrics. I have adapted the proposed Hystrix Dashboard and fixed most of the panels.
There is a set of panels that seems not compatible with current metrics because latency data is not being reported. This is my first effort and I wish to know if I should go ahead and rework the panels not

[2020-03-29 00:44] sgrmgj-quotient opened #1951 "Issue with Micrometer with stackdriver sending to GCP"
I am creating a sample spring boot microservice which is sending some custom metrics to my GCP
environment. this is what my config looks like.
[code]
and this is how invoke it -
[code]
But I keep getting error - Is there an issue with stackdriver with micrometer -

[code]
Any help is deeply appreciated.

[2020-03-29 06:09] shakuzen commented on #1951
The exception doesn't indicate an issue in Micrometer code directly. You're probably better off troubleshooting with Stackdriver help resources to find out more details about the error that occurred. I don't know if there is a way to find more information about these kinds of errors from Stackdriver or not, but that stacktrace would be all the information we have on the Micrometer side.

[2020-03-29 06:09] #1951 closed

[2020-03-29 10:33] sgrmgj-quotient commented on #1951
HI @shakuzen - thanks a ton for your reply - I think I found the solution to my issue. Since your have closed the issue, I am not sure whether I should share the solution here. But yes definitely I agree, that there's nothing wrong with the Micrometer adaptors. Based on your suggestion, I can post the solution which can probably help some others.

[2020-03-30 02:59] shakuzen commented on #1951
@sgrmgj-quotient yes, please feel free to share the solution here as it may help other Micrometer users that run into it and come across this GitHub issue.

[2020-03-30 16:08] igorng commented on #1912
Hello,
This is a great feature! I was about to ask the ability to extend OkHttpMetricsEventListener, or at least a way to add context specific tags, as I wanted to have dimension like Exception and stuff (same dimensions as spring boot default on web clients ).
When will this feature be released?

[2020-03-30 16:13] renanreismartins opened #1954 ""Mapping Spring's health indicators to metrics" has deprecated example"
Hi,

First, great job on this documentation (https://github.com/micrometer-metrics/micrometer-docs/commit/ca3cae90daa1986f47f812affc79512dab614b11).

Time passed and some classes got deprecated, for example CompositeHealthIndicator is deprecated in favor of CompositeHealthContributor.

The new one tho does not offer a method where we can check the general health. Any ideas if there is a more pract

[2020-03-30 16:33] renanreismartins commented on #1954
Just found this: https://github.com/micrometer-metrics/micrometer/issues/416#issuecomment-554969394

Could we use that in the new doc?

[2020-03-30 16:52] #1954 closed

[2020-03-30 16:53] renanreismartins commented on #1954
Since the issue mentioned on the previous comment is still open I will keep the discussion there

[2020-03-30 17:04] renanreismartins commented on #416
@jkschneider since it will not became part of spring, should we update the doc and close it?
I could gladly do that when we decide on a final solution

[2020-03-31 01:18] shakuzen commented on #1912
This is marked for the [1.5.0 milestone](https://github.com/micrometer-metrics/micrometer/milestone/57), which has a tentative release date listed in the milestone page.

[2020-03-31 10:19] shakuzen commented on #416
@renanreismartins thank you for the reminder on this. See https://github.com/micrometer-metrics/micrometer-docs/pull/100 for the resolution on this. Closing as there's no action to take in this repository.

[2020-03-31 10:19] #416 closed

[2020-03-31 15:25] tloszabno opened #1956 "Failed to load ApplicationContext after update to 1.4.0"
I use spring boot 2.2.5-RELEASE, after update a micrometer-registry-new-relic from 1.3.5 to 1.4.0 my application does not start.

Stacktrace:
[code]
It seems that you removed the method which is used by spring boot in autoconfiguration for plugin. Backward compatibility is broken now:
`NewRelicMetricsExportAutoConfiguration`:
[code]

[2020-04-01 00:30] cschuyle commented on #877
Hi @jdbranham, have you been able to fix or work around this?  I have a similar problem that `PrometheusMeterRegistry` is in conflict with something else, but instead of `KafkaConsumerMetrics`, it's because I'm using Spring Boot actuator.

If I annotate the controller method with just @Timed() with no parameters, there is no error.  However, if I use @Timed with a name argument, like this:
[code]

[2020-04-01 05:49] shakuzen commented on #1956
Thank you for the report. We'll add back that method to not break API compatibility. Spring Boot will also have some corresponding changes when they upgrade the version of Micrometer they manage, but we should make as smooth a transition as possible.

[2020-04-01 06:02] shakuzen opened #1958 "NewRelicClientProvider implementations not using NamingConvention configured via Builder"
The configured `NamingConvention` from the Builder is not passed to the NewRelicClientProvider implementations, so the default `NewRelicNamingConvention` is always used.

[2020-04-01 12:29] neiljpowell commented on #1958
@shakuzen The implementations use the default just like the NewRelicMeterRegistry.  NamingConvention hasn't been exposed as a construction/builder option in previous versions, so the effect is the same.

[2020-04-01 12:38] shakuzen commented on #1958
I'm wondering whether exposing it at all was a mistake (see https://github.com/micrometer-metrics/micrometer/pull/1957#issuecomment-607058490) without a request from users to be able to customize it. We're ending up with multiple places to pass things which requires understanding about which will eventually be used. If we are exposing it, though, users would expect it to have the intended effect.

[2020-04-01 13:16] neiljpowell commented on #1958
Yep, understood. I was just pointing out that it's not actually a bug but I'm happy to help with the update to expose it now or for 1.5.  If I recall, there are other MeterRegistry implementations that also don't expose NamingConvention, which could be due to a strict preference of their target backends.

Speaking of another possible oversight, it would be good to expose the underlying HttpUrlConn

[2020-04-01 13:21] shakuzen commented on #1958
The `namingConvention` is already a method on the Builder from 1.4.0, which is what caused me to notice and open this issue https://github.com/micrometer-metrics/micrometer/commit/5d5617ded1975298f9ed9ea4972f07fe31a4c313#diff-d8e6a06ddbf45f53edb233b7b4729cfcR127-R130

[2020-04-01 14:06] shakuzen commented on #1177
@sudiero thank you for sharing. I wonder if New Relic denies access from IP addresses outside of the region the URL is for.

[2020-04-01 16:32] HugoTigre commented on #1003
with version 1.4.0 I was able to change the `resource type` to `gke_container` and pass it the respective resource labels that stackdriver needs, this works, this works just by overriding the new methods in `StepRegistryConfig`.

@deanorderly regarding this error

[code]

You need to fill out the necessary `resource labels` according to the `resource type`, this seems to be only possible in versio

[2020-04-01 17:59] deanorderly commented on #1003
@HugoTigre sorry, I didn't update....we got ours working and we use this class..

https://github.com/micrometer-metrics/micrometer/blob/master/implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver/StackdriverMeterRegistry.java

Does springboot NOT use that class?  That class is hardcoded to

            StringBuilder metricType = new StringBuilder("custom.googleap

[2020-04-01 18:10] HugoTigre commented on #1003
`I wonder if I can hack and put a plugin to override their css`

lol, I have the same problem you have now idea how many times I've complained about this :)

Spring boot uses that, there is no problem with the `prefix` and there might not be a problem with the name metric also, for ex, for a metric in stackdriver that looks like this `custom/jvm/memory/used` in the `hpa.yml` config it should look

[2020-04-01 21:16] deanorderly commented on #1003
yeah, we are trying to do what OpenCensus did like this (BUT replace the opencensus with each microservice name) as seen here

![image](https://user-images.githubusercontent.com/60440987/78187495-bd813a00-742b-11ea-8fe6-966b4975bd82.png)

[2020-04-01 21:20] deanorderly commented on #1003
lol, now I need to find a plugin that overrides very specific css as I just edited google's css in dev tools to get this so I can read crap...

![image](https://user-images.githubusercontent.com/60440987/78187780-4a2bf800-742c-11ea-9d9f-7f3b4779965e.png)

[2020-04-02 00:00] deanorderly commented on #1910
@checketts uh, on terminology, sure!  You guys are using ScheduledExecutorService, correct?  you can throw back to it's threadpool  and it will invoke the error listener I put above.  It will not break or cause the thread to die.  Only Timer.java does that (it was written wrong and dies if you throw into it).

Unless I am misremembering.  I wanted to re-test that but I am slammed right now.  we ar

[2020-04-02 06:29] #1956 closed

[2020-04-02 09:41] snicoll opened #1964 "Wavefront apiToken no longer mandatory"
If you try to create a `WavefrontRegistry` without an api token this leads to the following

[code]

Micrometer recently switched to `WavefrontSender` to publish metrics and such a check is no longer applied. It looks like the creation of the default `WavefrontSender` should fail, [but it does not seem to](https://github.com/micrometer-metrics/micrometer/blob/901651c26f4b8d1991701aa85d66453f2b5fae

[2020-04-02 09:50] snicoll opened #1965 "Provide an API to build a default WavefrontSender based on WavefrontConfig"
`WavefrontMeterRegistry` can be built using a `WavefrontSender` or without one. If none is provided, a default instance is created based on the current configuration.

Spring Boot could use a public API for the latter as we'd like to expose a `WavefrontSender` bean and back off if the user has provided one.

This relates to #1964 as well as we'd like to make sure a direct API cal without an API to

[2020-04-02 11:33] HugoTigre commented on #1003
i finally got it working, I had to problems in the end.

1. the metric `custom/jvm/memory/used` in `hpa` needs to be `custom.googleapis.com|jvm|memory|used` which is weird according to the official documentation

2. we use `Workload Identity` for authentication in K8s, so we needed to change the original `custom metrics adapter` and map the k8s service account with a google service account.

I cou

[2020-04-02 13:44] snicoll opened #1967 "WavefrontConfig should not be a PushRegistryConfig anymore"
In `PushRegistryConfig` we have two deprecated properties to configure the connection and read timeouts. With the move to `WavefrontSender`, Micrometer does not use an http client at all and therefore those attributes aren't used.

On the Spring Boot side of things, we still expose those two attributes as we auto-configure the HTTP client for the user and we use those settings to tune it. However,

[2020-04-02 15:02] shakuzen commented on #1956
@tloszabno would you be able to try with the latest 1.4.2-SNAPSHOT version and let us know if that resolves the issue?

[2020-04-03 05:23] shakuzen commented on #1958
Release notes should mention the removal of the constructor with NamingConvention from public API - it was a mistake this constructor was ever included in public API.

[2020-04-03 05:47] tloszabno commented on #1956
@shakuzen hello, I've just tested it - all works fine - thanks for fix!

[2020-04-03 11:13] snagafritz opened #1968 "Bug in new KafkaMetrics (1.4.0+) when using multiple clients and common tags"
I was attempting to use the new Kafka meter binders introduced in 1.4.0 and ran into a problem. The application has multiple Kafka producers and consumers, and uses a `MeterFilter` to apply common tags to all meters. The behavior I'm seeing is that meters only get registered for _one_ consumer and _one_ producer.

I traced the problem to `checkAndBindMetrics`, specifically where the code removes/i

[2020-04-06 04:03] #1958 closed

[2020-04-06 04:09] shakuzen commented on #1968
Thank you for trying out the new Kafka metrics implementation and sorry you're having an issue with it.

The reason for avoiding registering meters with less tags is because the Kafka client will return metrics e.g. per partition and overall. This does not play well with PrometheusMeterRegistry due to having the same name but a different set of tags. If we register the fine-grained meters and not

[2020-04-06 08:09] snicoll commented on #1965
One more though. `WavefrontDirectIngestionClient.Builder` has some interesting settings Spring Boot may want to expose as  configuration properties.

If that makes sense (i.e. the type of the default `WavefrontSender` is always going to be a  `WavefrontDirectIngestionClient`) then it would be nice if Micrometer would initialize a builder for us.

If we don't have that guarantee, then let's stick w

[2020-04-06 11:42] jeqo commented on #1942
@tchiotludo calling `checkAndBindMetrics` is not the issue but passing by the first validation on every call is:

[code]

If the set of meter names is different, then it attempts to synchronize values.

I've created a branch with a flag to test this doesn't happen on every call: https://github.com/micrometer-metrics/micrometer/compare/master...jeqo:test-kstreams

Would be possible for you to test

[2020-04-06 12:24] jeqo commented on #1968
@snagafritz thanks! @shakuzen is right on why we are removing metrics with less tags, but I think you're right about the issue with `MeterFilter`. There are a couple of issues as I can see:

- If `registry` injects common tags that are not observed by `KafkaMetrics` then validating less tags will fail, as `registry` is shared between binders. @shakuzen is there a way to get this tags available via

[2020-04-06 12:51] tchiotludo commented on #1942
Thanks @jeqo I was just starting looking to find a way to reproduce the issue with a unit test.
(don't have find for now)

There is no changed in performance with that branch.
To be honest, I can understand why changing a simple bool value would change the behavior, or I don't understand the change ?

I've look deeper the checkAndBindMetrics and you are true with this part : `// if this is true on

[2020-04-06 13:04] jeqo commented on #1942
No change in performance intended, just added a flag and an IT for Kafka Streams to validate things :)

Thanks for the profiling!

Agree, this will be a better way to deal with this.

[2020-04-06 13:50] tchiotludo commented on #1942
I made a simple draft PR about that.
Tell me what to you think about.

In my case, it fix performance issue and I seems to update tags properly.
In the unit test, I need to add an extra thread sleep, since new metrics are available only when the background task was running (as I understand).

I've a bigger Kafka Application that have some overhead with this metrics, but seems startup & warmup is v

[2020-04-06 13:55] tchiotludo commented on #1942
Forgot the concurrent part, I discovered that no concurrent call is possible :

https://stackoverflow.com/a/35498230/1590168

So we can remove the synchonized without risk

[2020-04-06 14:36] jeqo commented on #1942
@tchiotludo thanks! we can follow up on the PR then.

[2020-04-07 20:21] AarjavP opened #1974 "InfluxDB 2.0 API support"
Looks like the 'direct' api for 1.x will not work with 2.0.
Thankfully the changes seem pretty small, for comparison [1.x write api](https://docs.influxdata.com/influxdb/v1.7/tools/api/#write-http-endpoint) and [2.x write api](https://v2.docs.influxdata.com/v2.0/api/#operation/PostWrite)

The body remains the same (line protocol), only major change I believe is for auth (though user + password is

[2020-04-07 20:34] AarjavP commented on #1974
Looks like this is already being worked on: #1423

[2020-04-08 02:06] shakuzen commented on #1974
It looks like 2.0 is still beta according to the docs. That doesn't mean we can't support it, necessarily, but we don't want to put something out there that claims to be stable when the integration isn't a final version yet.

[2020-04-08 04:02] AarjavP commented on #1974
Yes, that makes sense. In the meantime, I can help with testing or anything else that may be needed to prepare.

[2020-04-08 04:19] shakuzen commented on #1965
I see there is a `WavefrontProxyClient`, but since recent versions of the Wavefront proxy can accept HTTP traffic, I'm not sure there is a reason to use that anymore. There's also a `WavefrontMultiClient` but I don't know how common its use is, and doesn't seem like something we need to provide a convenience API for. @panghy any insight on this?

[2020-04-08 04:24] shakuzen commented on #1964
I'll add back a similar check we had before to the constructor so we can fail fast.

https://github.com/micrometer-metrics/micrometer/blob/da1e1d09acd7da7779fc7688390381fbc8809959/implementations/micrometer-registry-wavefront/src/main/java/io/micrometer/wavefront/WavefrontMeterRegistry.java#L104-L107

Just to confirm with the Wavefront team, @panghy when sending metrics to a Wavefront proxy, the a

[2020-04-08 07:35] panghy commented on #1965
The multi-client is mainly for sending data to multiple wavefront backends, we shouldn't configure that by default. As long as the user can supply their own WavefrontSender that'd be fine.

We are in the process of deprecating the proxy client since sending metrics on sockets is just not reliable and new proxies can accept HTTP traffic on the same port. The only thing is that to report to the prox

[2020-04-08 07:36] panghy commented on #1964
That is correct

[2020-04-08 12:18] fkrull opened #1977 "Datadog: units missing from metadata"
Since updating to 1.4, sending units to Datadog doesn't work any more. Metrics are being sent as expected, but they only show up as unitless numbers. Certain metrics sent by e.g. `JvmMemoryMetrics` still show a unit, but none of our custom metrics do. Downgrading to 1.3.7 with no further code changes fixes the issue.

I did some debugging and came to the conclusion that the units are properly pipe

[2020-04-08 13:50] GregoryOrciuch commented on #1838
I'm looking forward that too. In my app there is no point of sending out the avg/min/max, while all those can be calculated directly in CloudWatch.

@kvaidas did you find a way to maybe disable those aggregated ones? or blacklist them.

[2020-04-08 16:19] #1964 closed

[2020-04-08 16:52] #1965 closed

[2020-04-08 17:56] jeqo commented on #1968
@snagafritz I created #1978 as an attempt to fix the second issue, only considering meters from same client when filtering out based on client-id and kafka-version.

Still not sure how to approach the first one, when tags registered via MeterFilter tho

[2020-04-08 17:58] snicoll commented on #1964
@shakuzen I don't think that fix is correct. As far as I can see, the `apiToken` (and `url` is only used by the `WavefrontSender` now. If you provide a custom `WavefrontSender`, then such a check should not occur anymore (as you may have configured yours with whatever custom settings you need).

I'd rather move those checks in what initializes the default builder and it feels more natural to me to

[2020-04-09 11:44] #1942 closed

[2020-04-10 05:46] shakuzen commented on #1977
Pinging @gzussa and team. Any insight on this?

[2020-04-10 07:56] gzussa commented on #1977
@fkrull Would you mind to open a support case with our support team so we can have more informations about your org. You can link this issue and mention that i asked you to open the ticket.
https://www.datadoghq.com/fr/support/ Thanks

[2020-04-10 08:56] shakuzen opened #1981 "Adapt to Wavefront SDK v2 (2.1) changes"
After we recently updated the Wavefront support (e.g. #1901), Wavefront SDK v2 has been released which deprecated some API we were using. We got back (different) API to achieve the same thing in the 2.1 release (see https://github.com/wavefrontHQ/wavefront-sdk-java/issues/132).
We have not released a version of Micrometer with a dependency on the Wavefront SDK yet, but any Micrometer WavefrontMete

[2020-04-10 09:39] #1981 closed

[2020-04-10 12:52] gzussa commented on #1977
We tested our APIs and it is working all fine.
You can try yourself with your environment with following commands:

[code]
Then go to the metric summary page `/metric/summary` and you should see `test.eu.metric.unit` with all metadatas set properly.

PS: We are working on fixing the doc.

[2020-04-12 19:00] brunokoeferli opened #1989 "TomcatMetrics: Servlet metrics are missing with multiple servlets"
TomcatMetrics only provides servlet metrics for one servlet (and not for all registered servlets). This happens due to the fix of issue #1792 which causes `TomcatMetrics.registerMetricsEventually` to only consired the last servlet (see pull request #1828).

Tested/verified with version: 1.3.7

Expectation is that the class TomcatMetrics provides metrics for all registered servlets.

As stated in t

[2020-04-13 06:39] sombhattacharyya1983 opened #1990 "The ZlibDecoders in Netty 4.1.x before 4.1.46 cause CVE-2020-11612"
We use Micrometer statsd and are having issues with the following vulnerability in netty.

https://nvd.nist.gov/vuln/detail/CVE-2020-11612

It gives off an annoying high severity alert and due to shaded dependency  i cannot update it.
Please advise.

[2020-04-13 07:51] shakuzen commented on #1990
From the linked vulnerability description:

There is no Netty server usage in Micrometer code so this isn't applicable to Micrometer. The shaded netty/reactor-netty dependencies will be upgraded to the latest versions in the upcoming 1.5.0 release.

[2020-04-13 08:04] sombhattacharyya1983 commented on #1990
@shakuzen  Thanks for the clarification.

[2020-04-13 08:04] #1990 closed

[2020-04-13 14:15] shakuzen commented on #1838
Could you be more specific? Averages probably shouldn't be shipped at all anyways, but removing that will have to be a 2.0 change. I suppose we could make a configuration option to not ship them in the meantime. Anything other than average you're looking to change? For which meter types? For which registries? We would need to verify such aggregations can be easily done in the backend.

We don't sh

[2020-04-13 14:49] shakuzen opened #1991 "Consider graduating Stackdriver integration from Incubating status"
We [added support for Stackdriver in 1.1.0](https://github.com/micrometer-metrics/micrometer/issues/474), and we have [adjusted and fixed multiple issues for it](https://github.com/micrometer-metrics/micrometer/issues?q=label%3A%22registry%3A+stackdriver%22+). I am seeking feedback from users of the `StackdriverMeterRegistry` if they think it is at a level of stability and feature-completeless to

[2020-04-13 15:12] shakuzen commented on #1268
@pedro-carneiro As mentioned in previous comments, it seems increasing the step size (say to the default of 1 minute) and/or reducing the batch size to something smaller works around the error. We'll still need to get to the bottom of why this is happening at all.

[2020-04-13 15:17] pedro-carneiro commented on #1268
I had tried different combinations, yet I was only able to _reduce_ the number of errors, not avoid them entirely...

[2020-04-13 18:05] dinegri opened #1992 "Integrate KafkaClientMetrics (micrometer incubator feature version 1.4.0) with Spring Actuator"
Hello,

I was looking a way to integrate Kafka producer and consumer metrics with Spring Actuator using KafkaClientMetrics and I was able to achieve it, using the follow code:

Producer example:

[code]

Consumer example:

[code]

I am wondering if it is the best approach to do that using these codes above or there is another way to achieve that

Will this feature be ready out-of-box in Spring act

[2020-04-13 20:59] jkschneider opened #1993 "Revert Timer#max to use a windowed max rather than last publishing interval."
In #1856, the behavior of `StepTimer` was changed to publish max only for the last publishing interval. For the purpose of availability monitoring, it is better to allow maximum to decay over a longer period.

cc / @crankydillo

Further explanation as to why:

[2020-04-13 23:04] dinegri commented on #1992
Hi, I have just check the code on [KafkaMetricsAutoConfiguration](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-actuator-autoconfigure/src/main/java/org/springframework/boot/actuate/autoconfigure/metrics/KafkaMetricsAutoConfiguration.java)

Thank you all

[2020-04-13 23:04] #1992 closed

[2020-04-14 05:51] shakuzen opened #1994 "Change copyright from Pivotal to VMware"
Per the acquisition of Pivotal by VMware

[2020-04-14 06:44] #1994 closed

[2020-04-14 07:49] #1993 closed

[2020-04-14 07:59] shakuzen commented on #1993
We'll also need to revert the changes made to the docs: https://github.com/micrometer-metrics/micrometer-docs/pull/120

[2020-04-14 08:16] GregoryOrciuch commented on #1838
@shakuzen alright, so with details here we are:
1. My app using spring-boot+spring-actuator+micrometer + cloudwatch-registry. All is like default from pom.xml.
2. Looks like only custom metrics via Gauge or Couter do not pass to cloudwatch the min/max/avg/sum . They only appear as .value or .counter which is fine

3. However the preconfigured metrics like 'http.client.requests." or "http.server.re

[2020-04-14 13:05] crankydillo commented on #1993
Thanks for the heads up.  I can understand how the importance of max values makes it behavior different from other 'step values'.  It appears you left the refactoring around isolating the rolling logic, which will allow us to continue align max with the last step (and live with the ramifications of missing values) without copying too much of your code.  If this comes up in the future, you might co

[2020-04-14 13:47] izeye commented on #1993
I created https://github.com/micrometer-metrics/micrometer-docs/pull/125 to revert https://github.com/micrometer-metrics/micrometer-docs/pull/120. I also added the reason for time window max to the doc based on the comment from @jkschneider.

[2020-04-14 14:18] shakuzen commented on #1838
Yes, Timer meters will typically ship count/sum/avg/max depending on the specific registry. The `count` is the number of recorded events. The `sum` is the sum of total time recorded. The `max` is a time-windowed maximum latency recorded. This is explained [in the Micrometer documentation for Timers](https://micrometer.io/docs/concepts#_timers). So if you only have a `count`, you only have a Counte

[2020-04-14 14:25] GregoryOrciuch commented on #1838
@shakuzen thanks for explanation. However still, I dont know how I can achive the goal, while goal is to not have a avg/sum/max (whatever my choice is) in CloudWatch. App is quite simple and having 300+ metric points almost by default. I've been asked to figure out how to resign from at least part of them, and still looking for a way to blacklist unwanted metrics (like the avg)

[2020-04-14 18:51] deanorderly opened #1995 "long shot feature request(nice to have)"
It would be SUPER nice if MeterRegistry implemented an interface.  interfaces make it much easier to swap in/out so it would be MUCH more like slf4j in that I could have my own implementation.

of course, then methods should return interfaces to Counter, etc. etc. so I can implement those as well.

anyways, long shot.

[2020-04-15 03:29] shakuzen commented on #1995
You can already make your own implementation of `MeterRegistry`, similar to any of the ones maintained by the Micrometer team. What are you not able to achieve by doing that?

[2020-04-15 06:55] shakuzen commented on #1968
Just to answer the question: Common tags are in the end a `MeterFilter`, so we don't keep track of them or make a way to retrieve the configured common tags. I think there was a proposal at some point to make that available.

It could be hacked around by registering a dummy meter without any tags, checking what tags the `Id` ends up with, and then removing the dummy meter. If we knew a meter that

[2020-04-15 08:32] shakuzen commented on #1991
/cc @saturnism in case you know any production users

[2020-04-15 08:45] shakuzen commented on #1870
Closing until we can reproduce the mentioned issue with the latest supported code.

[2020-04-15 08:45] #1870 closed

[2020-04-15 12:10] jkschneider commented on #1991
For a historical note: the main reason it was released initially as incubating is because Stackdriver didn't allow dimensional aggregation of "custom" metrics, i.e. anything that doesn't originate from the platform, i.e. anything coming from Micrometer.

It seemed like there was a need for some sort of API to declaratively specify what kinds of aggregations you would need _up front_ in the app. Ma

[2020-04-15 16:06] qyc-dd opened #1996 "dynamic set of Tags support (feature nice to have)"
Wavefront does support different set of tags for the same metric.
I understand there is a limitation of prometheus that it doesn't allow different set of tags.
Is it possible that we can disable that validation controlled by a parameter?

It is not possible that for every metric we can well define all the tags before hand. And we're constantly changing the names of metrics all the time due to addi

[2020-04-15 19:00] azelenkovas opened #1997 "DistributionSummary computing wrong percentiles"
Hello

I'm trying to get percentiles for a metric and I'm getting weird results. I understand that percentiles are computed differently depending on implementation, but these are way off. For instance, the max value of the distribution is 9 but the 90th percentile and above are reporting 15. How are these percentiles being calculated? Thanks.

The test:

[code]

The result:
MEAN: 5.0
MAX: 9.0
COUN

[2020-04-15 21:59] klevy-toast opened #1998 "Incorrect sanitization of colons for datadogstatsd"
It appears that this fix (https://github.com/micrometer-metrics/micrometer/issues/739 & https://github.com/micrometer-metrics/micrometer/commit/f18b6e03522318b136817b76154b493b28ae810a) removes _all_ colons from metric names _and_ tags. Datadog does actually support colons in metric tags, just not at the beginning or end -- see https://docs.datadoghq.com/tagging/

[code]

We were able to rollback

[2020-04-16 04:01] shakuzen commented on #1998
That documentation unfortunately doesn't make very clear where it is talking about tag keys versus tag values, but I believe your request is to not sanitize colons (`:`) in tag values unless they are at the end of the tag value. Is that correct?

[2020-04-16 06:22] mohitj13 commented on #274
Any update on this issue?

[2020-04-16 14:44] deanorderly commented on #1995
@shakuzen it brings in a bunch of classes references by the class MeterRegistry causing performance degradation (less classes is better for startup in serverless).  There is a bunch of code in MeterRegistry AND in the classes it returns as well like Builders that would go unused.  typically you want biz logic interfaces so I can strip out all impl classes.

personally, I use a com.xxxxxxxx.api eve

[2020-04-16 15:55] klevy-toast commented on #1998
A colon should also be sanitized at the beginning of the tag value (must start with a letter). Everything else is correct. Thank you!

[2020-04-16 22:30] jkschneider opened #2001 "Change "sla" configuration options to "serviceLevelObjectives""
Service Level Agreement" is more formally the agreement between an engineering organization and the business. Service Level Objectives are set more conservatively than the SLA to provide some wiggle room while still satisfying the business requirement. SLOs are the threshold we intend to measure against, then.

[2020-04-16 22:31] #2001 closed

[2020-04-17 04:48] anuraaga opened #2002 "1.3.x and 1.4.x not compatible"
I noticed https://github.com/micrometer-metrics/micrometer/commit/3da05bbb8a66371f6e01ecb5963497e2b4850147 has a backwards incompatible change of the return type from `Long getMaximumExpectedValue()` to `Double getMaximumExpectedValue()`. Since micrometer uses semantic versioning, as documented at https://micrometer.io/docs/support, I guess this wasn't intended?

Because of the change, all Armeria

[2020-04-17 06:19] shakuzen commented on #2002
Just something that came to mind, here's a hack I think should work with 1.3.x and 1.4.x:

[code]

[2020-04-17 06:25] anuraaga commented on #2002
I would have to try to make sure, but pretty sure it doesn't work since `Long` vs `Double` are not ABI compatible so the method call itself will crash with `NoSuchMethodError`

[code]

[2020-04-17 07:44] snicoll commented on #2001
So we have an object with the `sla` term as well as a configuration namespace. What would be the recommendation? `serviceLevelObjectives` is quite mouthful and we don't do multiple words for groups.

[2020-04-17 23:17] jkschneider opened #2005 "Improvements to LongTaskTimer (max, percentiles, histograms)"
Currently a `LongTaskTimer` just ships two statistics: active task count and total duration of all active tasks. So when there is more than on active task, you can get an average of the durations of all active tasks, but there is no way to tell that one has been running for a really long time and others just started.

This improves `LongTaskTimer` to include:

- **max**. The longest active task du

[2020-04-17 23:21] #2005 closed

[2020-04-18 01:30] philwebb opened #2006 "Sample changing from class to interface breaks binary compatibilty"
Commit 9fa83e3d3638edf725aa5d803ae0b52b9017456f changes `LongTaskTimer.Sample` from a class to an interface. This unfortunately breaks binary compatibility meaning all projects that use it will need to recompile.

[code]

[2020-04-18 14:50] #2006 closed

[2020-04-18 14:50] jkschneider commented on #2006
@philwebb TIL that class -> interface breaks binary compatibility. Sorry for the trouble. Fixed in 75e6d9525ef1157d91d8bd19b4debdab79c0b60d

[2020-04-18 17:42] PriyankPurwar commented on #236
Can you please confirm if jmx support is added for openfeign

[2020-04-18 21:02] philwebb commented on #2006
I wouldn't have spotted it either. Thanks for the fast turnaround!

On Sat, Apr 18, 2020, 7:51 AM Jon Schneider <notifications@github.com>
wrote:

[2020-04-19 14:33] #1968 closed

[2020-04-19 14:35] shakuzen commented on #1968
@snagafritz Please try out the 1.4.2-SNAPSHOT version if you have a chance, to check that this is fixed for you before we release it.

[2020-04-19 16:20] #1998 closed

[2020-04-19 16:23] shakuzen commented on #1998
Please try the latest snapshots containing this fix. It'll be in the upcoming 1.1.13, 1.3.8, 1.4.2, and 1.5.0.

[2020-04-19 23:25] JonathanGiles commented on #1242
It would be great get this introduced in some form to lessen the warnings seen when building projects in JDK9+, e.g.

[code]

[2020-04-20 06:53] shakuzen commented on #1242
Seems we have a decision to make regarding what our automatic-module-names specifically are. I'm seeing 3 likely options:

* short project names e.g. `micrometer.core`, `micrometer.registry.whatever`
* reverse-DNS style based on artifact names `io.micrometer.core` / `io.micrometer.registry.whatever`
* reverse-DNS style based on root package name `io.micrometer.core` / `io.micrometer.whatever` (unl

[2020-04-20 12:58] snagafritz commented on #1968
Will do, asap.

[2020-04-20 13:44] massamany commented on #807
Hi,

Thanks for the job. But, Couldn't it have been possible to use a Supplier for the Rows, instead of registering directly the List ? It would have been a lot more flexible.

[2020-04-20 16:34] shakuzen commented on #2002
Alright. Although we'll have to introduce some stuff to bridge compatibility (thanks for the pull requests, by the way), I'd like to get back to a state of a single method (ideally named without `asX`) per single purpose in as few releases while allowing compatibility between at least adjacent minor versions (conservatively, LTS minor versions). I'm proposing the following plan (using the getMin m

[2020-04-20 16:41] anuraaga commented on #2002
Agree getting to one method is importany and the plan looks fine to me. But I guess we should clarify, I guess next-next LTS here will be 2.x since it removes the API and semantic versioning?

[2020-04-20 18:18] PriyankPurwar commented on #236
@jkschneider can you please confirm when is this feature planned?

[2020-04-20 21:54] snagafritz commented on #1968
Confirmed this has addressed the original issue. Thank you @shakuzen and @jeqo !

[2020-04-20 22:32] JonathanGiles commented on #1242
I would go with first or second personally, and probably the first is best IMHO.

[2020-04-21 01:05] jkschneider opened #2011 "Registry configuration validation"
## Background

The need for stronger type-aware validation was raised in a discussion with @ebullient with respect to Quarkus' build-time validation of configuration.

Previously, there was an inconsistent set of validations happening across some registries and not others, primarily resulting in a `MissingRequiredConfigurationException` (unchecked) at constructor time.

Here we introduce stronger

[2020-04-21 03:16] shakuzen commented on #1968
Thanks for the confirmation

[2020-04-21 07:12] dreis2211 opened #2012 "Micrometer BOM missing jersey2 entry"
Hi,

I just found that the latest BOM snapshot under https://repo.spring.io/libs-snapshot/io/micrometer/micrometer-bom/1.5.0-SNAPSHOT/micrometer-bom-1.5.0-20200421.014352-46.pom is missing the entry for jersey2. I was wondering if that was on purpose?

Cheers,
Christoph

[2020-04-21 07:26] shakuzen commented on #2012
Sorry for the inconvenience. We're a bit blocked waiting for resolution of [MVNCENTRAL-5714](https://issues.sonatype.org/browse/MVNCENTRAL-5714), since our build fails to resolve a 2.x version of the jersey-server dependency. It seems @jkschneider removed micrometer-jersey2 from the build in https://github.com/micrometer-metrics/micrometer/commit/30f6f8ea787d33d181562f50a11fefe41f921a06#diff-88b7c

[2020-04-21 09:18] dreis2211 commented on #2012
Thanks for the fast reply. I can't access the JIRA issue, unfortunately. Any indication if this is gonna be solved soon? This is breaking Spring-Boot builds for example, at the moment.

[2020-04-21 09:47] shakuzen commented on #2012
I've just committed a workaround (534ad04) that should get things back to how they were before (from a micrometer consumer perspective). I suspect the Central issue will take some time but not sure how much - could be hours, could be days.

[2020-04-21 09:50] dreis2211 commented on #2012
Highly appreciated.

[2020-04-21 10:55] snicoll commented on #2011
@jkschneider unfortunately this is breaking the Spring Boot build. We are working on releasing RC1 next week and our plate is already quite full to have to deal with such last-minute change in behaviour, in particular so close from the release.

Is this really necessary in 1.5?

[2020-04-21 13:44] wilkinsona opened #2013 "New configuration validation messages are misleading for values that must not be null"
Looking at the latest 1.5 snapshots, I think that the new configuration validation messages are a bit misleading. For example, if I don't provide an API key or account ID for New Relic, the failure message is the following:

[code]

This reads to me like both `newrelic.apiKey` and `newrelic.accountId` are required to be `null` if I want to publish to the Insights API.

[2020-04-21 14:10] wilkinsona commented on #2013
I was hoping to work around this in Boot's failure analyser for Micrometer configuration problems. Unfortunately, the various messages used to describe invalid configuration aren't written in a consistent manner so it's proving difficult.

For example, I can use the property, value, and message for the above to produce a message like this:

[code]

Doing similar for an integer property does not wo

[2020-04-21 14:42] shakuzen commented on #2011
Reverting this for now so Boot's build can successfully run. See also #2013 for challenges adapting to these changes.

[2020-04-21 14:59] jkschneider commented on #2013
Perhaps this can be improved. It's meaning to say `newrelic.apiKey` which is _currently null_ needs to not be null to publish.

[2020-04-21 15:22] #2011 closed

[2020-04-21 15:22] #2013 closed

[2020-04-21 15:25] jkschneider commented on #2013
All messages have been changed to be a complete sentence that reads in the _positive_ about what a value should be. No messages now say what a value _shouldn't_ be. For example:

[code]

[2020-04-21 18:02] klevy-toast commented on #1998
Thanks!

[2020-04-21 22:59] ivenhov opened #2014 "JvmMemoryMetrics and others are not using strong references"
Hi
I was a little bit surprised to see that JvmMemotyMetrics does not use strong references
`
            Gauge.builder("jvm.buffer.count", bufferPoolBean, BufferPoolMXBean::getCount)
                    .tags(tagsWithId)
                    .description("An estimate of the number of buffers in the pool")
                    .baseUnit(BaseUnits.BUFFERS)
                    .register(registry);
`
[

[2020-04-22 04:03] #2012 closed

[2020-04-22 04:23] shakuzen commented on #2014
As long as a strong reference is maintained somewhere, the object will not be garbage collected. It doesn't mean the MeterBinder itself needs to maintain a strong reference to it. We expect a reference to the MXBean to be maintained by the Java platform as that's where we're getting it from.

[2020-04-22 04:23] #2014 closed

[2020-04-22 06:13] Esakkimuthu991 opened #2015 "Cassandra cql metrics"
Is there any way to capture the cassandra cql metrics to be available in prometheus endpoint?

[2020-04-22 07:33] leszko commented on #1697
Hi @checketts @shakuzen,

We provided two solutions for this issue: #1868 and #1952, could you please check and give your thoughts?

[2020-04-22 07:40] #1242 closed

[2020-04-22 07:41] shakuzen commented on #1242
I have gone with the short project names which will match the filename-based automatic modules. This should not break any existing users of our automatic modules.

[2020-04-22 08:06] ivenhov commented on #2014
I've just realised this as I was editing my original question.
I missed that and the docs is mentioning 'state object' not Gauge.
Thank you very much for your clarification.

[2020-04-22 08:36] snicoll commented on #2001
Thanks for the feedback Tommy. I've created an issue on our side to figure out what to do with the deprecation.

[2020-04-22 13:42] v-yzakapko opened #2017 "Gauge metric publishing"
Hi all!

I used micrometer in project to publish gauge metrics to Prometheus. In version 1.1.3 metrics was publishing like :
\#  HELP %name%
\#  TYPE %name% gauge
%name%{%tags%,} %value%

but when we a version was changed to 1.3.6 metrics started looking like:

\#  HELP%project-name%%name%
\#  TYPE%project-name%%name% gauge
%project-name%%name%{%tags%,} %value%

%project-name% - should not be in t

[2020-04-22 14:35] garyrussell opened #2018 "Unbind KafkaClientMetrics in close()"
Consider keeping a reference to the registry from `bindTo()` and unbind (`remove()`) meters in `close()`.

For example, if a user creates a `KafkaClientMetrics` with a tag containing the `client-id` property of the client, recycling the client could cause a memory leak because the `client-id` may change from one instance to another.

While generally long-lived, typically, clients may come and go w

[2020-04-22 15:06] jkschneider opened #2019 "Jetty HttpClient metrics"
Performs request timing and request content size measuring with a distribution summary.

[code]
<1> Make this better at replacing with path variables and stripping request params. This has to be user-provided logic, because `HttpClient` doesn't have a built-in path variable substitution mechanism.

[2020-04-22 15:10] #2019 closed

[2020-04-22 16:50] tsiq-dhruv opened #2021 "QUESTION: Force publishing metrics before application shut-down"
I am developing an application which publishes gauges via the `StatsdMeterRegistry`. This application uses version 1.1.0 of the `micrometer-registry-statsd` artefact. This application is short-lived. It sets a couple of gauges, and exits immediately.

The problem is that, because the gauge values are not published immediately when they are set, and because the application is short-lived, they don'

[2020-04-22 18:47] jkschneider commented on #2021
@tsiq-dhruv Yes, if you call `close()` on `StatsdMeterRegistry` it polls gauges one last time and pushes them.

[2020-04-22 18:47] #2021 closed

[2020-04-23 02:50] shakuzen commented on #2017
Could you please provide a sample project that shows this behavior difference when using the two versions? I'm not aware of a change that would make that happen.

[2020-04-23 03:48] shakuzen commented on #2015
Duplicates #1397

[2020-04-23 03:48] #2015 closed

[2020-04-23 07:05] shakuzen commented on #2002
This should be resolved now thanks to @anuraaga's pull requests. Please check snapshots and let me know if not. We'll be releasing patch versions soon.

[2020-04-23 07:05] #2002 closed

[2020-04-23 07:16] shakuzen commented on #1761
Duplicate of #1540

[2020-04-23 07:16] #1761 closed

[2020-04-23 08:36] tsiq-dhruv commented on #2021
@jkschneider unfortunately this doesn't seem to work for me. I added `registry.close()` as the very final call of my application, but the metrics still don't get published.

[2020-04-23 09:12] tsiq-dhruv commented on #2021
@jkschneider unfortunately calling `registry.close()` at the end of the application didn't reliably solve the problem. My application runs on a timer every few minutes, and I only see the metrics from a subset of the runs.

[2020-04-23 10:46] tcray commented on #1870
I have this problem too，how to fix it?

[2020-04-23 11:07] shakuzen commented on #1870
@tcray please provide a minimal sample project that reproduces the issue and we can take a look.

[2020-04-23 21:49] philwebb opened #2023 "Replace "Mapping Spring's health indicators to metrics""
The [Mapping Spring's health indicators to metrics](http://micrometer.io/docs/guide/healthAsGauge) documentation is out of date.

I've just fixed https://github.com/spring-projects/spring-boot/issues/18329 so as of Spring Boot 2.1.14 you can reference our how-to instead (https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#howto-map-health-indicators-to-metrics).

[2020-04-23 21:51] philwebb commented on #2023
Sorry, I raised this in the wrong place. It should be transferred to https://github.com/micrometer-metrics/micrometer-docs/issues

[2020-04-24 00:24] dmaiman80 opened #2024 "MeterRegistry.gauge not returning value reference of already existing Gauge"
When running the following code:

[code]

I get a value of 2 - when I would expect a value of 3.

It appears that the underlining code for meterRegistry.gauge checks to see if the Gauge already exists and if so uses that Gauge in the code internally. However, the method always returns the reference object you pass in - while not updating the Gauge's reference.
Wouldn't this be problematic when act

[2020-04-24 03:42] shakuzen commented on #2024
Correct, but why are you calling `value2.set(3)` instead of `value1.set(3)` when that's the one you initially registered the gauge with?

If a meter is already registered, registering it again will not change it. I can see how the behavior here is confusing but there's no point in registering the same gauge twice - use the first state object. This is a convenience method so that you can instantiat

[2020-04-24 05:11] shakuzen commented on #1850
Thank you for the analysis on this. This generically is an issue with removing meters when there is a non-idempotent `MeterFilter` registered. The following unit test fails:

[code]

[2020-04-24 08:35] #1850 closed

[2020-04-25 19:08] bendiscz opened #2028 "LogbackMetrics stop to count logback events after LoggerContext reset"
Hi!

I use logback configuration with `scan="true"` that reconfigures logback whenever `logback.xml` changes. However, the first reload causes that no more logback events are recorded by the micrometer `LogbackMetrics`.

The reason this happens is that logback `LoggerContext` is reset when the configuration is reloaded and the reset clears the turbo filter list. Registering a `LoggerContextListene

[2020-04-27 09:52] #2028 closed

[2020-04-27 10:06] #1697 closed

[2020-04-27 16:49] #1883 closed

[2020-04-28 07:33] #1639 closed

[2020-04-28 12:48] thrxde commented on #457
um die Anpassungen für Cloudwatch zu ermöglichen. habe ich min value zu micrometer hinzugefügt. auf branch 1.3.x
wenn du es möchtest kann ich hierzu einen pullrequest erstellen
[link](https://github.com/thrx-contribute/micrometer/commit/e62c2a0bf5556efbce20f0fab9970f30c1a0ba99)

[2020-04-28 13:47] pscosta commented on #526
It would be very useful that some interceptor mechanism around the queries executions is provided. My goal is to simply collect Query execution time metrics and expose them as prometheus histograms.

[2020-04-28 14:10] PriyankPurwar opened #2039 "Has the support for jmx metrics for open-feign is implemented"
Has the support for jmx metrics  for open-feign is implemented

[2020-04-28 17:35] #1919 closed

[2020-04-28 20:24] benmccann opened #2040 "[feature] add a logicmonitor integration"
It would be great if there were a `micrometer-registry-logicmonitor`

[2020-04-29 03:48] shakuzen commented on #1665
@skabashnyuk Thanks for the request and references. Sorry for the delay in getting to this. The links to the possible implementation unfortunately give a 404 error now.

I was looking into this, but I think I need some clarification on the request.

Currently we have a counter `executor.completed` which seems to be equivalent to the requested `thread.factory.terminated`.
https://github.com/microme

[2020-04-29 10:52] thrxde commented on #1784
To implement this feature, it is necessary to provide an "min" value in micrometer. see: **min statistic for distribution summaries and timers #457**

[2020-04-29 11:46] v-yzakapko commented on #2017
Sorry, we found the reason, it was in our project.

[2020-04-29 11:46] #2017 closed

[2020-04-29 11:58] skabashnyuk commented on #1665
@shakuzen this is a correct link to the code

- https://github.com/eclipse/che/blob/master/core/commons/che-core-commons-observability/src/main/java/org/eclipse/che/commons/observability/CountedThreadFactory.java
- https://github.com/eclipse/che/blob/master/core/commons/che-core-commons-observability/src/test/java/org/eclipse/che/commons/observability/CountedThreadFactoryTest.java
- https://github

[2020-04-29 15:58] straki opened #2045 "Fails to push metrics to Stackdriver: java.lang.IllegalArgumentException: fromIndex(0) > toIndex(-1)"
Hi,

I'm using micrometer 1.4.2 with spring boot 2.2.6, Java 11 and Kotlin 1.3.61

This is Stackdriver configuration:

[code]

I already had some issues before when bach size was bigger so that's why it's 199.

The thing is that service starts sending and send 2-3 times after that every other time is an error.

<img width="1497" alt="Screenshot 2020-04-29 at 17 51 15" src="https://user-images.gith

[2020-04-30 04:19] izeye commented on #2045
@straki Sorry for the trouble.

It seems to be caused by 2718921956863c5fa6f83f186bd3a718fa910282.

I created https://github.com/micrometer-metrics/micrometer/pull/2047 to revert it.

[2020-04-30 06:46] straki commented on #2045
@izeye thanks for a quick reply.

Is there a version that I can rollback not to have this problem, what do you suggest?

[2020-04-30 08:26] izeye commented on #2045
@straki Based on 2718921956863c5fa6f83f186bd3a718fa910282, it was included in 1.4.2, so 1.4.1 should be okay.

[2020-04-30 18:37] bplies-IAS opened #2049 "Suboptimal format of metrics published into Elastic impedes usefulness"
micrometer-registry-elastic  version 1.4.1

### Problem
The [Elastic](https://micrometer.io/docs/registry/elastic) registry formats metrics documents in a manner that is difficult to work with inside Kibana.  Yes metric data is successfully transmitted.  Yes it is possible to create visualizations and dashboards with the data, however constructing these visuals is far more difficult than it should

[2020-05-04 10:51] dragneelfps opened #2054 "Add "host" tag to JettyClientMetrics."
Having bult in support for "host" tag found in other metric clients such as OkHttp3 will be very helpful.

P.S- I can work on this if it is approved.

[2020-05-04 13:06] dragneelfps commented on #2054
Adding onto this, can we a set of pre-defined tags for diffirenet http client micrometer implementations, so that we have a clear, unamibigous taglist.

[2020-05-04 15:39] tom-mi commented on #1640
That would also be nice to have for Datadog, as there seems to be no proper way to graph a cumulative histogram in Datadog.

[2020-05-04 20:13] jkschneider opened #2055 "Service level objective meter registry"
This feature adds support for commonly requested functionality for an application to be able to aggregate some set of key performance indicators down to a health indicator. In many cases, users would like to configure a load balancer to avoid instances that are failing a key performance indicator by configuring an HTTP health check on the load balancer.

It introduces a new implementation `microme

[2020-05-04 20:47] #2055 closed

[2020-05-06 02:14] jkschneider commented on #1640
@tom-mi Just to clarify, there are kind of two forms of "cumulative" possible for histograms:

1. Bucket counts are cumulative over time
2. Bucket counts are cumulative from one bucket to the next.

An illustration of the second point is this:

![image](https://user-images.githubusercontent.com/1697736/81132849-c8912380-8f1d-11ea-887e-cc83c43ef92c.png)

Which one are you wanting?

[2020-05-06 02:17] jkschneider commented on #2054
@dragneelfps Yes, this seems like a good improvement that we'd happily take a PR for.

[2020-05-06 03:20] jkschneider commented on #1997
@azelenkovas Under the covers, Micrometer uses [HdrHistogram](http://hdrhistogram.org/) to compute percentiles. HdrHistogram gives us the opportunity tradeoff computational complexity for accuracy. In your code sample, by setting percentile precision down to 0, you've effectively chosen the most computationally cheap approximation and in the process sort of crippled accuracy.

By default Micromete

[2020-05-06 03:22] #1997 closed

[2020-05-06 05:28] assaf79 opened #2058 "elastic - allow specifying index life cycle management policy"
The current implementation allows creating creates time based indices.
It would help if a there was a parameter that creates an ILM policy, so indices would be rolled over and deleted automatically.

[2020-05-06 07:42] Comrada opened #2059 "The following method did not exist: void io.micrometer.prometheus.PrometheusConfig.requireValid()"
Hi,

I'm using micrometer 1.5.0 with spring boot 2.2.6, but without web/actuator.
I took a usage example from your [documentation](https://micrometer.io/docs/registry/prometheus) and adapted it to run inside Spring.
Config:
[code]
Service:
[code]
Immediately after starting, I get an error:
[code]
But the same configuration works fine with Micrometer up to version 1.4.2
I opened the `PrometheusMete

[2020-05-06 09:07] MarkusKull opened #2060 "Wrong TimeUnit of PrometheusTimer-Total"
@jkschneider @shakuzen It seems #2005 #1944 introduced a regression into (standard) PrometheusTimer: The reported Timer-Total (Sum) is now way too small by a scale of 9.
Detected in Micrometer 1.5.0 (SpringBoot 2.3.0.RC1).

PrometheusTimer:122 stores Total as seconds into HistogramSnapshot
[code]

But HistogramSnapshot:61 always treats the given Total as nanos
[code]

Above Sources are unchanged f

[2020-05-06 12:30] Comrada opened #2061 "An error occurred while creating the PrometheusTimer"
Hi,

I'm using micrometer 1.5.0 with spring boot 2.2.6, but without web/actuator.
I took a usage example from your documentation and adapted it to run inside Spring.
Config:
[code]
Service:
[code]
Some time after starting the application, during the creation of the PrometheusTimer, an error occurs:
[code]
I tried different versions, this error appeared in version 1.4.0.
In this version, in the Pro

[2020-05-06 13:33] jkschneider commented on #2061
@Comrada It seems to me that you may hav a version misalignment in your runtime classpath, different versions of `micrometer-registry-prometheus` and `micrometer-core`. Can you output `./gradlew dependencyInsight micrometer` or the equivalent for Maven?

[2020-05-06 13:48] jkschneider commented on #2060
@MarkusKull Yikes! Thank you for reporting this so quickly.

In testing, I noticed that this is limited to timers that have percentile histograms turned out, which I suppose is why we didn't catch it earlier.

[2020-05-06 13:51] #2060 closed

[2020-05-06 14:20] jkschneider opened #2063 "OpenTSDB histogram buckets have incorrect base units"
Revealed by a similar issue in the Prometheus implementation reported in #2060.

Also noticed that the OpenTSDB implementation was not shipping `LongTaskTimer` max and distribution statistics.

[2020-05-06 14:21] #2063 closed

[2020-05-06 14:23] jkschneider opened #2064 "Registry implementations not all shipping LongTaskTimer distribution statistics"
1.5.0 added support for `LongTaskTimer` max and distribution stats, but I did not go back and ensure that each registry was _publishing_ this information.

Specifically missing in:

- StatsD
- Wavefront

Already manually included in Prometheus and OpenTSDB. All others inherit publishing LTT distribution stats from `StepMeterRegistry`.

[2020-05-06 15:09] pbetkier commented on #620
How about moving forward with this? We're still using the described mechanism in our microservices and it works for us. The PR I created for discussion needs refreshing. I can do that, but I need to know if you're still interested in making this change.

[2020-05-06 15:15] #2064 closed

[2020-05-06 19:18] jkschneider commented on #620
@pbetkier Thanks for the reminder. My current sense is that the whole thing can be accomplished with just a `PlaceholderHierarchicalNameMapper`, the construction of which defines the mappings. Something like:

[code]

What about `MeterFilter`? Do we suppose that any name and tag mappings occurred before the `PlaceholderHierarchicalNameMapper` kicks in you think>

[2020-05-07 09:08] Comrada commented on #2061
@jkschneider yes you're right, the versions are different:
[code]
But this old dependency of the "micrometer-core" is pulled automatically by the "micrometer-registry-prometheus" module, I do not explicitly include the "micrometer-core" anywhere.
I took an example from your [documentation](https://micrometer.io/docs/registry/prometheus).
[code]
After I plug the micrometer-core module with the same

[2020-05-07 09:11] Comrada commented on #2059
In the next [thread](https://github.com/micrometer-metrics/micrometer/issues/2061) it turned out that the problem is in different versions of `micrometer-registry-prometheus` and `micrometer-core`. As a temporary solution, it may be the inclusion of a module `micrometer-core` with the same version.

[2020-05-07 13:20] jkschneider commented on #2061
@Comrada The old version isn't actually depended on by `micrometer-registry-prometheus`, it's the annoying behavior of the `io.spring.dependency-management` plugin which is forcing down the version of `micrometer-core` to the version _it_ expects unless there is a first-level dependency on it with a different version.

The Spring team continues to try to make Gradle behave like Maven, and this the

[2020-05-07 13:20] #2061 closed

[2020-05-07 13:21] jkschneider commented on #2059
Copied from the other thread:

[2020-05-07 13:21] #2059 closed

[2020-05-07 14:11] bednar commented on #1974
Hi @shakuzen,

The PR #1423 is rebased and ready to review. This PR introduce a new registry `influx2`, but I could create a new PR that will improve existing `influx` registry with support to InfluxDB 2.

What is a better approach?

Regards

[2020-05-07 17:04] cristiammercado commented on #2045
Hi,

Any progress on this issue? I am using version 1.5.0. Should I also downgrade to 1.4.1?

[2020-05-07 17:59] #2045 closed

[2020-05-07 18:45] jkschneider commented on #1974
@bednar Without having a look at all the code, can we make the distinction between Influx 1 and 2 fully transparent to the user, i.e. can Micrometer somehow check for v2 support via some API endpoint and just use it and fall back on v1 otherwise?

Supposing this is not possible, we could introduce an `InfluxConfig` option for Influx version (carefully validated to an acceptable range of values).

[2020-05-07 19:07] jkschneider commented on #2040
@benmccann Could you help us understand this product a little? Looking through their REST API docs, I don't see an obvious place for us to post custom metrics data?

[2020-05-07 19:15] jkschneider commented on #1177
Closing this as it seems it is nothing Micrometer can do anything about it, but the user must know and configure the correct URL depending on their region.

If there's any way that Micrometer can _sense_ the correct URL it should use, we could update the default. I would suggest @sudiero or @Mahesh-MSFT open a ticket with New Relic and ask them to 302 redirect you to the appropriate URL rather tha

[2020-05-07 19:15] #1177 closed

[2020-05-07 19:39] benmccann commented on #2040
I need to choose a monitoring solution and was interested in testing out LogicMonitor as a contender because it got good reviews online, but after looking at their docs I'm not sure I'm as interested :stuck_out_tongue_closed_eyes:

Thanks for taking a look!

[2020-05-07 19:39] #2040 closed

[2020-05-07 19:45] jkschneider commented on #1995
Once upon a time `MeterRegistry` started as an interface. There were some reasons that it settled eventually as an abstract class, mainly because there are parts of the contract we need implementors to honor but don't want user facing (e.g. `protected` access), and parts of the contract that simply needed to be guaranteed without a ton of duplication (like the ordering of meter filter acceptance a

[2020-05-07 19:49] jkschneider commented on #1995
I think we should appreciate where SLF4J simply isn't the same thing. Loggers are stateless, single-type telemetry. Micrometer may strive to be like it in the sense that it is a facade, but the analogy will never be perfect.

[2020-05-07 19:52] jkschneider commented on #1996
@qyc-dd Micrometer doesn't actually perform this validation, and does in fact allow for different tags for the same metric name.

For all out-of-the-box instrumentation we try to ensure consistent tags for maximum _portability_, and because we know Prometheus is popular. But the contract doesn't require it. My hope is that eventually Prometheus drops this requirement, though I'm not holding my bre

[2020-05-07 19:56] jkschneider commented on #1967
@snicoll Do you have any other ideas other than tag this as a 2.x improvement when we can break backwards compatibility to some extent?

[2020-05-07 20:04] jkschneider commented on #1156
@alexvuta I suppose we could add support for `StepDouble`, etc. to force roll over, which should only happen in the `close()` methods of push-based registries?

[2020-05-07 20:06] jkschneider commented on #1473
Would we leave the coordinates `micrometer-registry-cloudwatch2` or dual publish the V2 module to `micrometer-registry-cloudwatch`?

[2020-05-07 20:07] jkschneider commented on #1473
Maybe a good lesson for the future, we should keep `V2` registry implementations in the same module and use Gradle [feature variants](https://docs.gradle.org/current/userguide/feature_variants.html) or something instead.

[2020-05-07 20:10] jkschneider commented on #1910
If this is true, I can certainly imagine rethrowing exceptions from publish failures. Would want to see what happens in frameworks, etc.

[2020-05-07 20:14] jkschneider commented on #1925
Indeed, or AssertJ's mechanism:

[code]

I don't see how we can practically change this decision at this point, so I think I'll close this. Happy to consider further if any other ideas come up.

[2020-05-07 20:14] #1925 closed

[2020-05-07 20:16] jkschneider commented on #1252
I think this is fixed by https://github.com/micrometer-metrics/micrometer/issues/1843.

[2020-05-07 20:17] jkschneider commented on #1884
I think this was fixed by https://github.com/micrometer-metrics/micrometer/issues/1843.

[2020-05-07 20:17] #1884 closed

[2020-05-07 20:20] jkschneider commented on #1653
@cosenmarco Could you check out `MultiGauge` which was designed for the SQL-query-like problem?

![image](https://user-images.githubusercontent.com/1697736/81340938-acf15e80-907e-11ea-9f44-0fd4cfa90ece.png)

[2020-05-07 20:37] jkschneider commented on #1875
@benhubert Would you like to open a PR with this implementation? Seems like you've got it working...

[2020-05-07 20:39] jkschneider commented on #1947
This temptation is actually precisely why we removed (obvious) configurability. It's just too easy to say "hey it's publishing 100 buckets right now, can we turn that down to 50 buckets?" But the impact on percentile approximation is unknowable.

[2020-05-07 20:41] #1947 closed

[2020-05-07 20:42] deanorderly commented on #1925
yup, that's fine.  yeah, this change would literally have to be a breaking release and too many people are using it already.

[2020-05-07 20:46] deanorderly commented on #1995
it would have been a nice to have.  you can close it though.

[2020-05-07 20:59] benhubert commented on #1875
Well, that was my intention, but seems that I forgot to open the PR. Thanks for your hint.
Now it's ready for review: https://github.com/micrometer-metrics/micrometer/pull/2066

[2020-05-07 23:06] jkschneider commented on #1995
Agreed. I wanted it too. Just too many tradeoffs in the end.

[2020-05-07 23:06] #1995 closed

[2020-05-08 01:26] izeye commented on #2061
@Comrada You can use `micrometer.version` property to control the version. See [the relevant section in the Spring Boot Gradle Plugin Reference Guide](https://docs.spring.io/spring-boot/docs/2.2.7.RELEASE/gradle-plugin/reference/html/#managing-dependencies-customizing) for details.

[2020-05-08 01:55] #1875 closed

[2020-05-08 02:30] jkschneider commented on #1710
Partially implemented with https://github.com/micrometer-metrics/micrometer/pull/1712

[2020-05-08 02:49] jkschneider opened #2068 "Add onMeterRegistrationFailed listener configuration to MeterRegistry"
This is mainly driven by the significant burden Prometheus' requirement places on everyone for the same metric name to have the same set of tags.

Previously, `PrometheusMeterRegistry` threw an `IllegalArgumentException`. Now, we'll _not_ throw an exception but instead silently continue, but inform any callbacks registered that this `Meter.Id` could not be registered.

In this way, the user can do

[2020-05-08 03:03] jkschneider commented on #1253
We're adding a new configuration for Micrometer 1.6.0 that allows you to register a listener on `MeterRegistry` to detect these sorts of registration problems both in `@Timed` and anywhere else and do whatever you'd like with them, including logging.

See #2068.

[2020-05-08 03:04] #1253 closed

[2020-05-08 03:04] checketts commented on #2068
The tag mismatch sometimes happens due to two different libraries creating the same meter name and not matching on tags; inetty and httpclient I believe hit this at one time.

Would a user be able to use a MeterFilter to clean up those tags if they got into that situation?

Sure, the best solution is to have the libraries not step on each other, but I just wanted to think through what options woul

[2020-05-08 03:05] jkschneider commented on #2068
`MeterFilter` is already an option. Once you see the implementation, I think you'll see this listener is called as a last resort after filters have been applied and there's still a problem.

[2020-05-08 03:08] #2068 closed

[2020-05-08 03:09] jkschneider commented on #2068
Also included here is a new method on `PrometheusMeterRegistry` called `throwExceptionOnRegistrationFailure()` which sets up such a listener that throws the same unchecked exception it did before. But now this behavior is _opt-in_.

[2020-05-08 03:09] jkschneider commented on #2068
cc / @izeye because I know you've been squashing all the tag problems lately (and many thanks for this)! Just want you to be aware of the different behavior.

[2020-05-08 03:20] jkschneider commented on #1527
@artjock I think this is now what `LoggingMeterRegistry` is for. Please let me know if there's anything this doesn't cover.

[2020-05-08 03:20] #1527 closed

[2020-05-08 04:57] shakuzen commented on #1056
#1859 is open to add support for Datadog distributions via DogStatsD. There's still no documented API to send distributions via the HTTP API. I'm not sure it is a good match anyways, since we would have to decide how to buffer/send the per event distribution data separate from the rest of the metrics for the DatadogMeterRegistry.

[2020-05-08 05:44] jkschneider commented on #1814
@crankydillo Introducing a `StepTuple2<T1, T2>` so we can synchronize this rolling over two variables.

[2020-05-08 05:49] #1814 closed

[2020-05-08 05:49] jkschneider commented on #1814
Merged forward to master with d26f4068f29f83bad95f8c9d1d0a1c358a439136.

[2020-05-08 08:16] anuraaga commented on #1919
@shakuzen Mentioned it in https://github.com/line/armeria/pull/2689 too but would it be possible to merge this into 1.3 as well? Currently, we're in dependency hell not that different from the ABI break in the other issue.

- Want to support users that use any supported LTS version of micrometer, currently 1.3 and 1.5
- Want to be able to interop with Reactor

Seems like a reasonable desire for an

[2020-05-08 08:27] workless opened #2069 "Broken graphite metrics names with tags"
Graphite tags always generate broken names due to DropWizard behavior.

From DropWizard, GraphiteReporter [1]:
`graphite.send(prefix(name, type.getCode()), format(value), timestamp);`
where
name="my.metric;tag=value"
type.getCode() = "p99"

final string sent to graphite: "my.metric;tag=valuep99"

From graphite logs
`08/05/2020 08:21:00 :: [tagdb] Tagging component.api.setStatus;host=mail.example.c

[2020-05-08 08:28] shakuzen opened #2070 "Backport ExecutorServiceMetrics meter name customization"
@shakuzen Mentioned it in https://github.com/line/armeria/pull/2689 too but would it be possible to merge this into 1.3 as well? Currently, we're in dependency hell not that different from the ABI break in the other issue.

- Want to support users that use any supported LTS version of micrometer, currently 1.3 and 1.5
- Want to be able to interop with Reactor

Seems like a reasonable desire for an

[2020-05-08 08:29] workless commented on #2069
@fitzoh @shakuzen
What do you think it's the best approach?

[2020-05-08 08:32] anuraaga commented on #2070
Thanks :)

[2020-05-08 09:20] snicoll commented on #1967
I was asking for a plan and it looks like you've just answered that question. I agree we can't really fix this problem without breaking backward compatibility. I do wonder to which extent users are relying on the interface (`PushRegistryConfig`)  and whether a change in the parent would be disruptive.

[2020-05-08 09:23] #2070 closed

[2020-05-08 12:27] fitzoh commented on #2069
Yeah, saw your comment yesterday, should be able to dig in this weekend.
Hoping I can find an easy fix, if not the easy first step is probably updating defaults

[2020-05-08 13:37] jkschneider commented on #1425
These should be really really cheap, and if the timing is happening at a reasonable level of code, I would think the heap impact of `Sample` is dwarfed by what is being timed around it. Metrics timers aren't really typically something done in tight loops.

I think it's crucial to differentiate by tag on the timer because when you're monitoring something like 99th percentile latency you should cons

[2020-05-08 13:38] jkschneider commented on #1425
I really appreciated the discussion on this, and open to more ideas, but for now I don't see a way to make `Timer.Sample` auto-closeable and not discourage tagging. It may be different than the Prometheus client, but I guess that's not always bad?

[2020-05-08 14:10] kargakis opened #2072 "Failed to introspect Class [org.springframework.boot.actuate.autoconfigure.metrics.export.prometheus.PrometheusPropertiesConfigAdapter]"
I cannot get to setup micrometer with a Spring Boot app. Any clues as to what is wrong appreciated. My config and logs follow:

Build config:
[code]

Spring version:
[code]

App config:
[code]
Logs:
[code]

[2020-05-08 14:13] kargakis commented on #2072
Note that I can get other endpoints in the actuator to work just fine.

[2020-05-08 14:17] shakuzen commented on #2072
The issue is likely to be inconsistent versions. You need to ensure you're using consistent versions. For instance, the version of the actuator dependency you're declaring does not match your Spring Boot version. You'll also want to ensure the micrometer-core and registry dependency version are consistent.

[2020-05-08 14:20] jkschneider commented on #2072
@kargakis You can use `micrometer.version` property to control the version. See [the relevant section in the Spring Boot Gradle Plugin Reference Guide](https://docs.spring.io/spring-boot/docs/2.2.7.RELEASE/gradle-plugin/reference/html/#managing-dependencies-customizing) for details.

For maven, set the property.

[2020-05-08 14:27] kargakis commented on #2072
@shakuzen I am not sure about that, as I said in the comment above yours, I can get the actuator to work with other endpoints (eg., health), I only get this failure when enabling prometheus so the issue seems unique to micrometer.

[2020-05-08 14:29] jkschneider commented on #2072
@kargakis I'm pretty confident it is a version alignment problem. Could you at least check with `./gradlew dI --dependency micrometer` or the equivalent in Maven?

[2020-05-08 14:36] jkschneider commented on #1626
@AdamAntinoo You might consider publishing that dashboard publicly on grafana.com? Thanks!

[2020-05-08 14:36] #1626 closed

[2020-05-08 14:36] kargakis commented on #2072
[code]
I rolled micrometer back to 1.1.2 and it seems to be working now :) Thanks @jkschneider !

[2020-05-08 14:36] #2072 closed

[2020-05-08 14:37] snicoll commented on #2072
@kargakis your original description states you're running Spring Boot 2.1.2 with Spring Boot Actuator 2.2.7. Such setup is not supported as others have indicated here, please follow the documentation on how to setup your build to use consistent versions.

[2020-05-08 14:37] jkschneider commented on #2072
@kargakis Yikes! Roll that `micrometer-core` version _forward_ to 1.5.0 instead.

[2020-05-08 14:47] kargakis commented on #2072
Yeah, ended up bumping Spring Boot to latest which works fine with 1.5.0, thanks

[2020-05-08 14:48] rwinch commented on #2072
re: https://github.com/micrometer-metrics/micrometer/issues/2072#issuecomment-625843268

@jkschneider Thanks for the bump. Yes we have talked about these inconsistencies often. In case you were not aware, @wilkinsona has been working with the Gradle team to replace the dependency management plugin with using the built in platform support.

[2020-05-08 14:50] jkschneider commented on #2072
@rwinch That is so nice to hear! Thanks.

[2020-05-08 15:04] jkschneider commented on #1838
@kvaidas / @GregoryOrciuch for the reasons @shakuzen mentions, you can't derive max from count. But if you _really_ only want count, you can accomplish this sort of filtering by customizing the `CloudWatchAsyncClient` to filter out unwanted `MetricDatum`.

[code]

[2020-05-08 15:04] #1838 closed

[2020-05-08 15:08] jkschneider commented on #1763
@smougenot I think this kind of customization of the `MetricDatum` is fairly easily achieved by customizing the `CloudWatchAsyncClient` itself without any more complexity required in Micrometer's configuration?

[code]

[2020-05-08 15:10] jkschneider commented on #1763
I'll close this for now under the assumption that there is a workable solution available, but happy to have more discussion on this if anybody would like.

[2020-05-08 15:10] #1763 closed

[2020-05-08 15:12] jkschneider commented on #1172
I believe this is now resolved in 1.0.10+? Please feel free to reopen if there is any recurrence of this observed.

[2020-05-08 15:12] #1172 closed

[2020-05-08 15:13] jkschneider commented on #1722
@shakuzen Would you say this is now resolved with all the work that's been done on Kafka metrics recently?

[2020-05-08 15:14] shakuzen commented on #1838
You could also disable the Spring Boot auto-configuration and only register the meters you want.

[2020-05-08 15:26] jkschneider commented on #1762
![image](https://user-images.githubusercontent.com/1697736/81420934-b205ea80-911e-11ea-9415-fb4fd60f7343.png)

[2020-05-09 02:29] #1758 closed

[2020-05-09 02:42] jkschneider commented on #274
It's basically already supported by virtue of the fact that SumoLogic can take Prometheus metrics.

[code]

So I think this will do it?

[code]

[2020-05-09 02:45] #274 closed

[2020-05-09 02:47] jkschneider commented on #1586
@jonatan-ivanov How do you compare this design to the one Adrian suggested [here](https://github.com/micrometer-metrics/micrometer/issues/1732#issuecomment-573367184)? I'll admit, this isn't my strength necessarily.

[2020-05-09 03:44] fitzoh commented on #2069
I opened a PR (https://github.com/dropwizard/metrics/pull/1576) to dropwizard metrics that should allow us to work around this.
No idea what kind of time frame we will be looking at for that to be merged or for a new release to be cut.

I agree with @workless that there isn't a clean way to fix this without modifying the dropwizard code.

The options I can think of:

* Wait for the dropwizard metr

[2020-05-09 18:44] RichMacDonald commented on #1425
I've since become more educated, specifically from https://vimeo.com/181925278 and testing with [JITWatch](https://github.com/AdoptOpenJDK/jitwatch). If your AutoCloseableObject is final and stays simple, the VM will not even allocate an extra object, so there is literally no GC penalty at all. The impact is the same as if the AutoCloseableObject fields were defined as local fields in your method.

[2020-05-09 19:07] RichMacDonald commented on #1425
Holding my nose:
[code]
Not that this makes sense, so taking liberties:
[code]

[2020-05-09 20:38] jkschneider commented on #1425
This last example has my interest I think.

An extra object for what?

[2020-05-10 01:22] RichMacDonald commented on #1425
The Timer.Sample _instance._ There won't be one.

If you declare the Timer.Sample class and fields as final, then even though the source code shows an _instance_ being allocated in the try and deallocated via close in the finally, the VM will not actually create this instance. Instead, all the fields in the Timer.Sample will become local variables in the caller method, and the Timer.Sample methods

[2020-05-10 02:06] jkschneider commented on #1425
So fascinating, I've never heard this! Thanks for taking the time to explain. I guess let's figure out a way to get this done?

[2020-05-10 13:01] jkschneider commented on #2069
@fitzoh It may be the reason we need to cut ties with Dropwizard as a passthrough for Graphite. We had a similar situation with the Ganglia registry a while back.

[2020-05-10 16:07] fitzoh commented on #2069
For what it's worth, the upstream PR was merged already.  I opened a draft PR (#2083) with a failing test to cover this scenario.  I'm planning on adding a fix to that branch which pulls in a SNAPSHOT version of dropwizard metrics, then dropping the SNAPSHOT once a new dropwizard version is out.

[2020-05-10 23:19] fitzoh commented on #2069
PR has been updated to work with the Dropwizard SNAPSHOT, should be good to go once a release is cut.

[2020-05-11 01:11] jonatan-ivanov commented on #1586
@jkschneider What he suggested is an addition to # 2 in my opening comment. It is a more flexible and smarter way of doing it by making it possible to inject your own Object -> String converter.

Let me compare them:
- In the PoC above [ExtraTag](https://github.com/jonatan-ivanov/micrometer-tags/blob/master/src/main/java/com/example/micrometertags/ExtraTag.java) has the same goal as [Param](https:

[2020-05-11 01:59] jkschneider commented on #1586
Can we design this in such a way that we simply provide a default value for `Expander` that does something useful if not complicated (i.e. "dumb"), and unify this extra properties mechanism under a value + expander model?

[2020-05-11 06:52] bednar commented on #1974
Hi @jkschneider,

We could do distinction via configuration. If user sets the `db` then we use `v1` API, If user sets the `bucket` then we use `v2` API.

Micrometer required parameters:
| v1  | v2  |
|---|---|
|  uri  |  uri |
| db  |  bucket |
|  consistency | org  |
|  | token  |

and validation of `InfluxConfig` will be look something like:

[code]

Documentation could looks like:

![Screenshot

[2020-05-11 08:35] workless commented on #2069
Wow, that was fast, kudo really, first time seeing a fix this fast.

In the medium-term if it's ok i would like to open a PR(or new repo?) to integrate graphite directly without dropwizard for different reasons:

- the output formats are as simple as you can get, and can be handled in few hundred lines
- by default many unspecified metrics are sent, if you specify a percentile it gets _added_ to t

[2020-05-11 08:44] shakuzen commented on #2069
@workless Thanks for the offer to allow supporting Graphite in Micrometer without Dropwizard passthrough. I'm in favor of the change going forward, but it might be a bit tricky compatibility-wise, since Dropwizard is part of the public API for our current Graphite registry. We would have to figure out how to deal with this so we don't break users while allowing an upgrade path.

[2020-05-11 08:57] workless commented on #2069
@shakuzen What do you think about adding a new micrometer package while maintaining the old one, adding 'back-compatibility' options per users request over time until removing the old package "feel safe".

[2020-05-11 10:03] Francois-Michaut-Epitech opened #2085 "[GraphiteReporter] MetricAttribute type is appended in the last tag value"
Hello,

I am reporting metrics to Graphite, using a `GraphiteReporter`.
Since Graphite support tags, I'm using them in my metrics.

For instance I have the following meter :
`registry.counter("my.counter", Tag.of("version", "SNAPSHOT"));`
I'm expecting my tag to have the value `SNAPSHOT`, and a serie named something like `my.counter.count`.

But when I look the series name in Graphite I have the f

[2020-05-11 12:39] jkschneider commented on #1974
@bednar It seems that conceptually `bucket` is similar to `db`. We'll come back to that in a moment...

* I think _only_ Influx 1.x has a `/ping` API that returns the version. If this returns HTTP 200, assume 1.x. Can we HEAD this instead of GET?
* Influx 1.8.0 has a forward-compatible API `/api/v2/write` and `/api/v2/query`. If present, write v2 format to these endpoints.
* Else write v1 to `/api

[2020-05-11 12:44] jkschneider commented on #2069
@workless Not a fan of adding another module, since most users would never adopt. Ultimately, the compatibility problem comes down to a single constructor;

[code]

Ultimately, we can deprecate this and then discuss whether Micrometer should provide an optional dependency on Dropwizard or not. In the case this this constructor is used, I think we'd have to basically delegate to some legacy impleme

[2020-05-11 12:46] jkschneider commented on #2085
Is this a duplicate of https://github.com/micrometer-metrics/micrometer/issues/2069?

[2020-05-11 12:48] Francois-Michaut-Epitech commented on #2085
Yeah, it seems so, should I close this ?

[2020-05-11 12:51] jkschneider commented on #2085
Thanks for checking @Francois-Michaut-Epitech (and the initial report). I'll close and tag as duplicate.

[2020-05-11 12:51] #2085 closed

[2020-05-11 19:44] asad-awadia opened #2086 "Javalin HTTP metrics with path information"
I am trying to get some jetty request/response stats when using Javalin [http://javalin.io/]

Using the base JettyServerMetrics I can only get responses based on status code

But what I would like is something like
![image](https://user-images.githubusercontent.com/6923282/81604619-2ef2c780-939e-11ea-83a1-353030f40333.png) from https://vertx.io/blog/eclipse-vert-x-metrics-now-with-micrometer-io/

[2020-05-11 20:14] asad-awadia commented on #1861
And/Or metronome from openj9

[2020-05-11 21:21] krm1312 opened #2087 "Deadlock due to ConcurrentHashMap.compute in PrometheusMeterRegistry"
We just tried to upgrade a relatively large application to spring boot 2.3.0.RC1 which includes micrometer 1.5.0.  The application relies on redis and we have included various metrics for lettuce (redis).

PrometheusMeterRegistry has been modified to use ConcurrentHashMap.compute() at https://github.com/micrometer-metrics/micrometer/blob/93375782923415f1c947f477557ec8b49354f8eb/implementations/mic

[2020-05-12 01:53] shakuzen commented on #1861
@asad-awadia Could you open a separate issue for that? I did not know OpenJ9 had its own garbage collector.

[2020-05-12 02:29] shakuzen commented on #2086
Are you using the [TimedHandler](https://github.com/micrometer-metrics/micrometer/blob/01f9af336b5ffbc1318e2b55027a65d30da4674f/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/TimedHandler.java) to time your Jetty server requests? It looks like we don't have an implementation currently to get the templated path. This is important to avoid tag explosion. If the path were `/

[2020-05-12 02:59] jkschneider commented on #2086
@shakuzen I'm almost done with an implementation. Give me another hour maybe.

[2020-05-12 03:23] izeye commented on #2087
@krm1312 Thanks for the report!

If I understand correctly, I can't see any deadlock in the stack trace, but I can only see blocking due to metric value collection that didn't happen before. The reason why the metric value collection happens is due to the support for Prometheus `CollectorRegistry`'s auto-describe made in https://github.com/micrometer-metrics/micrometer/pull/1885.

Spring Boot enab

[2020-05-12 03:34] jkschneider commented on #2086
@asad-awadia This will pretty much achieve what you want and more, more or less parity with the richness of Spring Boot's HTTP metrics:

[code]

I'll open a PR on Javalin for them to improve their `MicrometerPlugin`.

[2020-05-12 05:28] bednar commented on #1974
@jkschneider thanks for response.

We could use `db` as an alias to the `bucket`, but what about `org` and `token`? These parameters we have to pass to HTTP request during writes into Influx v2.

If we want to store metrics into v2, this configuration is invalid:

[code]

Will we use a default values for `org` and `token` parameters?

Yes, we can use HEAD instead GET.

[2020-05-12 09:09] cognitiff opened #2088 "Support of high resolution metrics for CloudWatch"
At the moment, the CloudWatch implementation publishes MetricDatum with the default StorageResolution of 1 minute.  It would be great to be able to configure the resolution. There are use cases where 1 minute is too coarse, for example, when monitoring internal queues. CloudWatch supports storage resolutions of down to 1 second.

[2020-05-12 12:38] jkschneider commented on #2086
@asad-awadia See https://github.com/tipsy/javalin/pull/959

[2020-05-12 12:38] #2086 closed

[2020-05-12 12:59] robhillier commented on #1586
The Feign example does exactly that - by default, the expander is a `ToStringExpander`, basically, if you don't define anything do a toString on the parameter value

[2020-05-12 13:01] asad-awadia commented on #1861
@shakuzen https://github.com/micrometer-metrics/micrometer/issues/1458 I think there is already an issue? Didn't want to make duplicates

[2020-05-12 13:02] jkschneider commented on #2088
@cognitiff I believe it is already possible by configuring `CloudwatchConfig#step()` which simply defaults to 1 minute.

[2020-05-12 13:02] asad-awadia commented on #2086
wow @jkschneider amazing! Thank you so much!

Best maintainers ever

[2020-05-12 13:13] cognitiff commented on #2088
I assumed so too, but "step" only affects the push frequency. Even if data is pushed to AWS at a higher rate, CloudWatch, by default, still rolls it up to 1-minute increments. Enabling more granular storage and analysis requires additionally setting StorageResolution to a lower value, which activates what AWS calls "high-resolution metrics" (comes at a cost, by the way).

[2020-05-12 13:37] jkschneider commented on #2088
@cognitiff Thanks for the explanation. I see now that there is a `storageResolution` method on `MetricDatum.Builder` that we can set to either 1 or 60:

[code]

So this is tricky, being a per-metric decision. Do you want all of your metrics high resolution or just some subset?

[2020-05-12 13:44] jkschneider opened #2089 "For backwards compatibility, restore JettyStatisticsMetrics removed in 1.4.0"

[2020-05-12 13:44] #2089 closed

[2020-05-12 13:49] jkschneider commented on #2089
Merged forward to master with a1129a7c4780fe8fdf2c77d0676c03207a2f8704.

[2020-05-12 13:53] cognitiff commented on #2088
I think a registry-scoped setting would suffice, especially since "step" is also registry scoped, and they are interrelated.

[2020-05-12 14:02] jkschneider commented on #1974
Influx 2 requires you to establish an org on `influx setup`, but there is no default name. I'd propose that we make `org` nullable and when null _and_ using Influx 2, try to retrieve the org from `/api/v2/orgs`. If there is more than one org listed there, fail validation.

Influx 1.x supported JWT tokens (i.e. `Authorization: Bearer` header in 1.x and `Authorization: Token` header in 2.x), so we s

[2020-05-12 14:02] mattiasflodin commented on #2005
IMO this PR should not have been accepted without javadoc on the newly added interface methods. I just upgraded and am unsure how to implement them, and the interface documentation gives no guidance. It wasn't until I came to this issue that I found a description of what max() should do.

[2020-05-12 14:07] jkschneider commented on #2005
@mattiasflodin Can you point out where the missing Javadoc is so it can be corrected?

![image](https://user-images.githubusercontent.com/1697736/81701741-6c0b9800-9438-11ea-9ef7-c583a95567d5.png)

[2020-05-12 14:09] jkschneider commented on #2088
@cognitiff Do you suppose that if `step` is less than 1 minute, then we should always use high-resolution?

[2020-05-12 14:11] mattiasflodin commented on #2005
I apologize for the noise. I realized after making this comment that IntelliJ had served me an auto-decompiled class file that doesn't contain the javadoc. Went here and deleted my comment but after updating the page I found you had already responded.

[2020-05-12 14:20] cognitiff commented on #2088
It would reduce configuration effort, but I can think of use-cases where users (especially for cost-saving reasons) would be ok with more granular data being rolled-up and reported by CloudWatch at 1-minute intervals. Keeping the two settings separate would allow for more flexibility.

[2020-05-12 14:43] jkschneider commented on #2088
@cognitiff Thanks. We do have a config complexity/flexibility tradeoff to evaluate. I was thinking that maybe we stick with your original suggestion to do this on a per-registry basis for now. Added a note about how a user could only send some metrics at high resolution by using deny filters and two `CloudwatchMeterRegistry`. WDYT?

[2020-05-12 14:45] jkschneider commented on #2005
@mattiasflodin No worries! I do tend to be a bit sloppy about Javadocs from time to time as @izeye well knows ;)

[2020-05-12 14:56] krm1312 commented on #2087
Eventually the lettuce command will timeout and fail, so, not a deadlock that can be detected by the JVM.  But, you can see lettuce-kqueueEventLoop-16-1@19158 is waiting on main to release 0x50e5 (which is the concurrent hash map).  But, main is waiting for lettuce-kqueueEventLoop-16-1@19158 to complete the lettuce (redis) command before proceeding.

[2020-05-12 14:57] cognitiff commented on #2088
That's a great solution, and I think it will address most scenarios! Thanks!

[2020-05-12 15:27] izeye commented on #2087
@krm1312 Sorry, I misread the stack trace. You're right.

[2020-05-12 16:55] izeye commented on #2087
Unfortunately, I couldn't find an easy way to fix this with the auto-describe support at the moment.

I created https://github.com/micrometer-metrics/micrometer/pull/2090 to revert it in case we couldn't find a solution before the next release.

[2020-05-12 17:52] bplies-IAS commented on #2049
Another difference between Micrometer & Metricbeat that may be worth mentioning is that Metricbeat favors a "wide" single document whereas Micrometer emits several, "atomic" documents.

**Wide**
[code]

**Atomic**
[code]

[code]

[code]

I imagine fewer documents is, at least, less chatty on the network and perhaps better for index storage as well.

[2020-05-12 19:09] #2088 closed

[2020-05-13 03:25] taomingyaojing opened #2091 "how to get @Timerd(longtask=true) value?"
hello,sorry,need help,
    I want to use the time-consuming indicators for monitoring, and then do some time-consuming calculations and timeout control on the project. How can I get the data monitored by @timed?

[2020-05-13 04:10] bednar commented on #1974
@jkschneider thanks for explanation. One more question...

Where will do this validation? In the `InfluxConfig.validate()` or during a first `publish()` in the `InfluxMeterRegistry`?

[2020-05-13 13:13] Stephan202 opened #2092 "`Iterable<Tag>` vs `Iterable<? extends Tag>`"
I noticed that Micrometer methods sometimes accept `Iterable<? extends Tag>`:
[code]
... but mostly require `Iterable<Tag>`:
[code]

Two questions:
- For consistency, shouldn't the second argument to `Tags.concat` also accept `Iterable<? extends Tag>`?
- Since `Tag` is an interface and even has a public subtype provided by Micrometer itself (`ImmutableTag`), shouldn't most/all other methods also a

[2020-05-13 13:26] jkschneider commented on #2091
I'm not clear what you're asking. Could you please ask this on slack.micrometer.io? Alternatively StackOverflow, but the response there might be a bit longer in coming.

[2020-05-13 13:26] #2091 closed

[2020-05-13 13:30] jkschneider commented on #1974
Good question, and I thought about this a bit too. I think it would have to be in the first `publish()` because the user might inject a custom `HttpSender`.

Which brings up another point... We should probably introduce a config to allow for the user to manually select API version as a fallback in case they do something like inject an `HttpSender` that shovels metrics over Kafka, in which case a `

[2020-05-13 13:32] jkschneider commented on #2092
@Stephan202 As far as I can tell, this second argument of `concat` is the only place where we aren't accepting `Iterable<? extends Tag>` and it does seem like an oversight. I'm honestly not sure what the ramifications are on binary compatibility, but this could be tested.

[2020-05-13 13:33] taomingyaojing commented on #2091
Sorry, I did n’t describe clearly, I will put this question in the discussion area, but I also want to elaborate on the problem: I want to use @Timed to count time in my own application (Springboot), and then I hope to use this statistical Time, the timeout control of the transaction, or the time-consuming calculation of the transaction, and then output in the log. So I want to get the time of the

[2020-05-13 15:46] asad-awadia opened #2093 "Micrometer registry memory usage"
I had a question regarding the registry. What are the memory implications of having a registry that is getting metrics relatively frequently?

It holds all of them in memory right?

Are they flushed when the registry is scraped - what if there is no scrape? do they grow unbounded?

Are they dropped after a certain time?

Does it impact my RSS and in a limited memory container environment?

Or is i

[2020-05-13 16:33] jkschneider commented on #2093
@asad-awadia For most registries the cost should be fixed, provided that you do a good job of making sure tag cardinality is unbounded. Yes, the meters are held in memory, but statistics are just accumulated to them. So for a timer, for example, the memory cost is the same whether you have 1 request/second or 1 million requests/second.

[2020-05-13 16:34] #2093 closed

[2020-05-13 20:52] asad-awadia commented on #2093
@jkschneider tag cardinality is unbounded? did you mean bounded?

Is there somewhere I can read more on this?

[2020-05-13 21:34] jkschneider commented on #2093
Sorry, I meant bounded.

[2020-05-13 21:36] jkschneider commented on #2093
Can you elaborate on what more you'd like to know?

[2020-05-14 00:03] asad-awadia commented on #2093
@jkschneider

How metrics memory cost stay the same regardless of traffic - I am having trouble wrapping my head around how 1m req/sec and 1 req/sec both lead to the same memory usage for metrics

[2020-05-14 06:34] bednar commented on #1974
Ok, it sounds good.

Ok.

I will prepare a second PR that will improve existing `InfluxMeterRegistry.java `.

[2020-05-14 11:11] tchiotludo opened #2095 "New Kafka Metrics duplicate metrics"
With the last kafka metrics on `implementation "io.micrometer:micrometer-core:1.4.2"`, I've just got a new error that crash my application :
[code]

<details><summary>stack trace</summary><p>

	at io.micrometer.prometheus.PrometheusMeterRegistry.lambda$collectorByName$9(PrometheusMeterRegistry.java:382)
	at java.base/java.util.concurrent.ConcurrentHashMap.compute(ConcurrentHashMap.java:1932)
	at i

[2020-05-14 12:46] jkschneider commented on #2093
@asad-awadia A meter with a particular name and set of tags is long-lived, you just keep accumulating to its internal `LongAdder`/`DoubleAdder`-type data structures. The number goes up, but new meters aren't getting allocated for each request.

It might work better to continue this conversation on slack.micrometer.io.

[2020-05-14 13:06] jeqo commented on #2095
This is caused here: https://github.com/micrometer-metrics/micrometer/blob/a6fefc903002e6d426fc8506d56b2f8a108eafad/implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusMeterRegistry.java#L415-L418

There is an [existing effort](https://github.com/micrometer-metrics/micrometer/blob/00c2771419a6fce29d9285136b9a1e9ab00582a8/micrometer-core/src/main/java/io/

[2020-05-14 14:22] alevohin opened #2096 "Memory leak with Kafka metrics"
Hi there,

Version 1.3.6 (used by Springboot 2.2.6).
`KafkaConsumerMetrics` has collection `notificationListenerCleanUpRunnables` which contains `Runnable`s to remove registered `NotificationListeners` from `MBeanServer`. The only place where `notificationListenerCleanUpRunnables` are executed is `close` method.

During consumer rebalancing (by default once per 5 minutes) new Kafka Consumer is cre

[2020-05-14 14:44] alevohin commented on #1743
@jorgheymans @shakuzen I suppose the problem with memory leak is described here #2096.
Version 1.3.X is still used by Springboot 2.2.6.RELEASE

[2020-05-14 20:38] AarjavP commented on #1974
Sorry I am late to respond to this thread but would it be possible to keep the two different registries, and have an additional delegating one which does the 'detection' of which version to use? (Though it makes perfect sense for them both to share the code regarding line protocol like in the PR) In my deployments I will know the version ahead of time and would just like to the v2 directly, and fa

[2020-05-14 21:01] fitzoh commented on #2069
[New Dropwizard Metrics release](https://github.com/dropwizard/metrics/releases/tag/v4.1.8) is out and the PR should be good to go.

[2020-05-15 10:38] kennymacleod opened #2097 "Expose per-region statistics for Hibernate L2 cache"
As of Micrometer 1.5, the `HibernateMetrics` binder exposes L2 cache statistics from the `org.hibernate.stat.Statistics` interface. This is useful, but it would be better if this were done on a per-cache-region basis, giving us more fine-grained per-entity and per-collection information.

This can be done by using `getSecondLevelCacheRegionNames` and `getSecondLevelCacheStatistics`, giving you a `

[2020-05-15 14:32] brunopalos opened #2100 "Deadlock on DatadogStatsdLineBuilder"
Hi there!

We are seeing deadlocks on `DatadogStatsdLineBuilder`. This is affecting 1.4.1 but it seems the issue is also on master. The bellow `synchronised` blocks can originate a deadlock:

https://github.com/micrometer-metrics/micrometer/blob/629b1b54deebb205c15d683644a6f4e2da7992e7/implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/internal/DatadogStatsdLineBuilder.j

[2020-05-15 14:50] brunopalos commented on #2100
micrometer 1.3.5 is not affected by this.

[2020-05-15 15:50] jkschneider commented on #2097
Nice! Let's do this.

[2020-05-15 18:36] izeye commented on #2100
@brunopalos Thanks for the issue!

I created #2102 to try to resolve this.

[2020-05-15 20:03] #2100 closed

[2020-05-15 20:57] kennymacleod commented on #2097
I'll try and get PR up soon

[2020-05-16 02:26] izeye commented on #2087
I created #2103 for alternative solution for #1883.

[2020-05-16 13:24] #1425 closed

[2020-05-18 18:47] cemo opened #2109 "Jetty Integration"
What is the proper way to use `TimedHandler` and others such as `JettyConnectionMetrics` with Spring Boot? I checked both documentation but could not find it.

[2020-05-18 21:32] jkschneider commented on #2109
@cemo There is no reason to use `TimedHandler` with Spring Boot generally. Spring's WebMvc and Webflux metrics publish a `http.server.requests` metric that does everything `TimedHandler` can do.

In general, any `MeterBinder` that Spring doesn't autoconfigure you can configure by just adding it as an `@Bean`. So create an `@Bean JettyConnectionMetrics` and Spring will plug it in to whatever regist

[2020-05-19 06:49] shakuzen commented on #2069
With the method added to the `metrics-graphite` library in 4.1.8, a workaround is now available for uses wishing to use the Graphite tag support. Namely, they should upgrade `metrics-graphite` to 4.1.8 or later and provide a `GraphiteReporter` with the new option set, such as will be done in the default `GraphiteReporter` in Micrometer 1.6.0:

[code]

I will note the above in the release notes for

[2020-05-19 06:49] #2069 closed

[2020-05-19 09:15] crashodd commented on #236
Hey good morning, any ETA for this feature?
regards

[2020-05-19 10:02] cemo commented on #2109
@jkschneider thank you so much. I will go in the way you suggest.

[2020-05-19 10:02] #2109 closed

[2020-05-19 14:16] jkschneider commented on #236
@crashodd Happy to accept a PR on this. I'm not sure what HTTP client Feign uses under the covers, but it's likely we already have metrics for that client. So it's probably just a matter of mapping the unparameterized route onto that metrics interceptor.

[2020-05-19 19:32] exploder86 opened #2112 "Failed to send metrics to opentsdb"
Hi there,
After switching to 1.5.1 micrometer-registry-opentsdb we faced with error. It's look like a bug:

java.lang.ClassCastException: class io.micrometer.core.instrument.internal.DefaultLongTaskTimer cannot be cast to class io.micrometer.opentsdb.OpenTSDBTimer (io.micrometer.core.instrument.internal.DefaultLongTaskTimer and io.micrometer.opentsdb.OpenTSDBTimer are in unnamed module of loader '

[2020-05-19 22:19] jkschneider commented on #2112
@exploder86 It sounds like you might have version misalignment. Can you check your runtime classpath to ensure that all (micrometer-core, micrometer-registry-opentsdb) are all at 1.5.1?

[2020-05-20 01:58] izeye commented on #2112
This has been resolved via https://github.com/micrometer-metrics/micrometer/pull/2075.

@exploder86 Please try `1.5.2-SNAPSHOT`.

[2020-05-20 01:58] #2112 closed

[2020-05-20 02:41] #2087 closed

[2020-05-20 04:47] shakuzen commented on #2097
I'm not familiar with L2 cache regions. Are these static or dynamic? Will we know at binding time what all the regions are, or could they change?

[2020-05-20 08:20] exploder86 commented on #2112
It's worked with 1.5.2-SNAPSHOT
Thanks!

[2020-05-20 10:23] kennymacleod commented on #2097
Good question, @shakuzen. My assumption was that once the `SessionFactory` is up and running, the set of regions is immutable. I just had a rummage through the Hibernate 5.2 codebase, and this does indeed seem to be the case. While the set of regions is mutable (for addition only) in the `Statistics` implementation class, this only occurs in the `SessionFactoryImpl` constructor. After that, there'

[2020-05-20 11:37] bednar commented on #1974
I've prepare a draft PR #2113 which introduce a support of InfluxDB v2 in the `influx registry`.

It is not finished but I think it is a good start point to discuss.

[2020-05-21 06:17] tkgregory commented on #1350
Did anyone figure out what the `http_server_requests_seconds_max` metric represents?

I've observed that it's not the maximum value as it's well below the average reported by the `http_server_requests_seconds` metric. The `TimeWindowMax` class describes it as a *decaying maximum for a distribution based on a configurable ring buffer*.

If anyone has any insights please let me know as I'm writing a

[2020-05-21 07:11] bednar commented on #1974
#2113 is ready to review

[2020-05-21 07:11] shakuzen commented on #1350
Since this issue was opened, a note has been added to the documentation under the Timer section. See the `NOTE` in section "10. Timers" https://micrometer.io/docs/concepts#_timers

@tarunrathor-pro and @tkgregory could you take a look at that and let us know if you think additional clarification is warranted. If so, what is lacking or confusing?

[2020-05-21 19:42] Sic4Parvis9Magna opened #2116 "Metrics' eviction"
Probably I overlooked it while reading the documentation, even so, I have to ask.
I would like to know if micrometer supports something like cache eviction functionality (I  am aware about cache metrics support, but it is not that I want).
I mean support for the following workflow:
1. new metric added to the registry
2. it is updated after a while
3. if the metric does not updated after specified

[2020-05-22 11:48] Stephan202 opened #2117 "NPE in `MongoMetricsConnectionPoolListener`"
Today we observed the following on a shutdown thread:
[code]

Looking at the code, what seems to have happened is the following:
1. [`#connectionPoolOpened`](https://github.com/micrometer-metrics/micrometer/blob/0dc111d1f6d3aa288dda24ac0912cbb483f1da1e/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsConnectionPoolListener.java#L59) registers gauges for some s

[2020-05-22 12:53] Stephan202 commented on #2117
Looking closer at [`#connectionPoolClosed`](https://github.com/micrometer-metrics/micrometer/blob/0dc111d1f6d3aa288dda24ac0912cbb483f1da1e/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/mongodb/MongoMetricsConnectionPoolListener.java#L71), the meters _should_ have been deregistered before the server ID entry is removed from each of the maps. Maybe a race condition? :thinking:

[2020-05-22 12:55] izeye commented on #2117
@Stephan202 Thanks for the issue!

It seems that there is a possible window between unregistering gauges and collecting values from gauges. I created https://github.com/micrometer-metrics/micrometer/pull/2118 to try to resolve this.

[2020-05-22 13:00] Stephan202 commented on #2117
Tnx for the quick turnaround. Fix LGTM :)

[2020-05-23 01:38] izeye commented on #1711
Resolved via #1712

[2020-05-23 01:38] #1711 closed

[2020-05-23 16:05] tkgregory commented on #1350
@shakuzen that's a lot clearer now. I obviously missed these docs in my search so thanks for pointing me in the right direction.

[2020-05-24 19:35] jonatan-ivanov commented on #1586
@jkschneider I made a sketch for the annotation-based parameter propagation. Can I get your feedback on how do you like the structure of it and the naming?
If it looks good, I'll make it a little more pretty (license, docs), add memorization (see the todo), and tests.

[2020-05-25 02:03] yuanpli opened #2122 "java.lang.NoClassDefFoundError: org/LatencyUtils/IntervalEstimator in Springboot 2.3.0"
See https://github.com/spring-projects/spring-boot/issues/21538

[2020-05-25 02:06] #2117 closed

[2020-05-25 02:08] shakuzen commented on #2122
Have you seen the comment from @izeye https://github.com/spring-projects/spring-boot/issues/21538#issuecomment-632639800? This is most likely the issue. Please take a look.

[2020-05-25 02:08] #2122 closed

[2020-05-25 02:58] shakuzen commented on #2116
Duplicate of #1114

[2020-05-25 02:58] #2116 closed

[2020-05-25 03:00] imasahiro opened #2123 "minimumExpectedValue(Double) and maximumExpectedValue(Double) are missing at 1.3.x's DistributionSummary.Builder"
I'm using a library compiled with micrometer-1.5.1 and an application which uses micrometer-1.3.9. At 1.5.x, `DistributionSummary.Builder.minimumExpectedValue(@Nullable Double min)` (or `maximumExpectedValue(Double)`) is introduced (https://github.com/micrometer-metrics/micrometer/commit/3da05bbb8a66371f6e01ecb5963497e2b4850147#diff-6102e7c5a5c207819b80fe916d46a509R275) but since the APIs are not

[2020-05-25 04:13] jensim commented on #416
Sorry for kicking a dead issue.. But google sent me here, and `CompositeHealthIndicator` used in the example is now deprecated - and suggesting I should use the `CompositeHealthContributor` instead.

Would this solution be a working substitute @shakuzen @jkschneider ?
*Sorry for going from Java to Kotlin, if that syntax is forrein to you..*

[code]

[2020-05-25 05:43] minwoox commented on #2123
https://github.com/line/armeria/pull/2742
This is the related PR.
Perhaps can we add `DistributionSummary.maximumExpectedValue(Double)` and `DistributionSummary.minimumExpectedValue(Double)`to 1.3?

[2020-05-25 05:52] anuraaga commented on #2123
I think I missed this in the previous issue since unlike that one where it was also API breaking our build (we were setting into a local variable), here it is only ABI breaking at runtime but otherwise has the same concept and so should add the methods so libraries can support latest patch of all LTS versions.

[2020-05-25 06:16] shakuzen commented on #1473
Looking at the list of [unimplemented features for parity in the v2 AWS SDK](https://docs.aws.amazon.com/sdk-for-java/v2/developer-guide/welcome.html#features-notyet), I'm starting to think deprecating our v1 version may have been premature. It might even make sense to remove deprecation until AWS gives some indication they're moving away from supporting v1 of the SDK.

If we could cleanly do that

[2020-05-25 07:48] snicoll commented on #416
@jensim exposing health check as a metric [is documented in the Spring Boot Reference Guide](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-map-health-indicators-to-metrics).

[2020-05-25 08:28] jensim commented on #416
Thanks @snicoll! In case anyone else than I end up here ill just paste the config i ended up using implementing the recommendation from your like to spring boot reference guide.

[code]

[2020-05-25 19:41] DangerousDarlow commented on #1974
It would be great to have this support in Micrometer. I am using InfluxDB Cloud as I'm working on a pet project and don't want the cost or hassle of hosting my own Influx DB instance.

[2020-05-26 06:41] bednar commented on #1974
cc @AarjavP @DangerousDarlow

I've prepared an example how to use a current version of Spring Boot to sent metrics into the InfluxDB v2.

We had to use a custom `HttpSender` to add required parameters into a HTTP request:

#### Custom HttpSender

[code]

#### Application configuration

[code]

- https://github.com/bonitoo-io/micrometer/blob/influxdb2-workaround/samples/micrometer-samples-boot2/src

[2020-05-27 12:23] izeye commented on #2096
@alevohin Sorry for the trouble, and thanks for the issue. I created #2124 to try to resolve this.

[2020-05-27 15:22] srikarn opened #2125 "Is there a way to report newrelic errors via micrometer registry?"
We currently use NewRelic APM agent to publish metrics. along with regular metrics, we heavily make use of the error analysis supported by NewRelic.

We currently report errors like so

`NewRelic.noticeError(exception, mapOfErrorAttributes);`

https://newrelic.github.io/java-agent-api/javadoc/index.html?com/newrelic/api/agent/NewRelic.html

is there a way to report errors via micrometer registry?

[2020-05-27 16:18] RafalSkolasinski opened #2126 "What's the time window that _max is calculated from?"
Timers (Histograms?) produce time series with also `_count`, `_sum` and `_max`.
I am wondering over what time window are these calculated, mostly about the `max`.

I did some empirical tests and it looks like time window is 2-3 mins but would be good to get some clarification on this.

[2020-05-28 02:59] shakuzen commented on #1781
We don't expose base time unit as a configuration option in any meter registry implementations currently. This has the benefit of not letting you easily get in the situation where different applications are reporting in different time units, which would be a pain to troubleshoot.
As mentioned in my previous response, precision is not lost since we are not rounding to whole milliseconds. Let us kno

[2020-05-28 02:59] #1781 closed

[2020-05-28 03:23] shakuzen commented on #2126
Duplicate of #1350

[2020-05-28 03:23] #2126 closed

[2020-05-28 03:27] shakuzen commented on #1350
Although the note exists in the documentation today, a small section more prominently explaining the max and specifically TimeWindowMax is probably warranted. I'm moving this issue to the docs repo, which is where changes would be made. We'll have to figure out how to best work it into the documentation (suggestions welcome).

[2020-05-28 04:25] shakuzen commented on #1455
This sounds interesting. I think I understand how we could implement a listener to instrument the metrics. My question is about the best way to handle configuration of the MeterRegistry to be used for test execution. I'm imagining most users would want to configure that in their build configuration, like they do other test-related configuration.

[2020-05-28 04:33] sormuras commented on #1455
Cool to see you like the idea.

FYI - JUnit Platform 1.7 will ship with JFR-based listener. See https://github.com/junit-team/junit5/issues/2272 and the associated PR for details.

[2020-05-28 05:02] shakuzen commented on #1455
Neat about the JFR-based listener. That doesn't have the same configuration concerns since JFR is built-in to the JRE. Do you have any pointers about anything else that requires some configuration to pass to a Listener? I think we'd want the user to be able to configure a `MeterRegistry` to pass to the listener we make.

[2020-05-28 07:18] sormuras commented on #1455
Erm, no idea at all ... but anything that's required to get metrics showing up somewhere.

I wanted to point to the `junit-platform.properties` file as a common source of simple configuration, but a listener that is created via the ServiceLoader SPI doesn't get handed over an instance of it at runtime. Test engines and Jupiter extension do get access to those configuration parameters: https://juni

[2020-05-28 07:53] sbaier1 opened #2127 "InfluxDB registry does not support InfluxDB cloud / v2"
The influxdb registry does not currently support parameterization for InfluxDB cloud.
This means that metrics cannot be written to an InfluxDB cloud bucket.
The main difference are authN/authZ tokens instead of basic auth as well as difference in the
HTTP parameters themselves (in a nutshell: `db` -> `bucket` and there is a new mandatory parameter `org`)
This will require changes to the configurat

[2020-05-28 07:58] sbaier1 commented on #2127
Oops, just saw that this is a duplicate of #1974 and #1423 .

[2020-05-28 07:58] #2127 closed

[2020-05-28 08:26] #2096 closed

[2020-05-28 08:30] shakuzen commented on #2096
@alevohin thanks for reporting this and sorry about the issue. Would you try with the latest snapshots containing the fix from @izeye to see if that resolves it for you?

[2020-05-28 14:26] buraksarac commented on #1311
I think easiest way to handle this adding a method tagToFieldConverter into InfluxRegistry which receives a Function<Tag,Field>

and during the protocol generation before write in registry, this function will accept extraTags and return additional fields. Yet still you need to add those values by writing and doesnt make sense to add with annotation

[2020-05-28 17:21] Chewbizz opened #2130 "Classloading issue in JvmGcMetrics"
On this line:
https://github.com/micrometer-metrics/micrometer/blob/63771c1c166729ef4bcb280272cff2dc386272ea/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/JvmGcMetrics.java#L207

The ClassLoader used is the one from JvmGcMetrics' class itself.
In some environments, the GarbageCollectionNotificationInfo class can be perfectly accessible, but not from the same ClassLoader as

[2020-05-28 19:55] jkschneider commented on #1455
I'd like to point out here that in addition to timing individual test executions, we might also look to measure _saturation_ of the parallelization mechanism (e.g. experimental `junit.jupiter.execution.parallel.enabled`).

`LongTaskTimer` is the unfortunately misnamed construct that really is well suited to measure pool saturation and things of this sort. Active parallel test executions vs. the co

[2020-05-28 19:58] jkschneider commented on #2125
@srikarn Can you help us understand how this is viewed on the backend? Would something like an error counter do the same thing effectively?

[code]
(where the ... is `mapOfErrorAttributes` turned into tag key-value pairs)

[2020-05-28 21:16] srikarn commented on #2125
New relic has error analysis feature that charts out errors over time and top 5 errors e.t.c
https://docs.newrelic.com/docs/apm/applications-menu/error-analytics/introduction-error-analytics

[2020-05-29 04:24] jonatan-ivanov commented on #1586
@shakuzen What do you think?

[2020-05-29 10:08] DRSains opened #2131 "StatsDCounter won't report at all if never incremented"
Currently the code for StatsD counter does ignore increment = 0:

[code]

if a counter is created, but never incremented, it will never be reported as 0. This a problem for the many users of datadog. In fact it won't allow you to create a dashaboards or alerts for metrics that have never been reported. The use case were this is a big issue is when creating error alerts: one wants to create an aler

[2020-05-30 01:15] jkschneider commented on #2131
Thanks for the nice detailed explanation of the datadog experience. I would hate for you to ever have to zero increment a counter to solve a usability issue on one monitoring system.

What do you think about, for the dogstatsd flavor, we just always ship a zero on counter registration?

[2020-06-01 08:54] DRSains commented on #2131
The fact not to report 0 has been like that for a very long time, so maybe the most sensible thing is not to change this behaviour, but leave a configuration setting to enable the bahaviour I requested. I'd be happy with that.

[2020-06-02 14:37] adoelger commented on #1410
Is there are solution or workaround for this problem available?

[2020-06-03 08:15] tocosonic commented on #537
With Spring Boot 2 the annotation is named "@Timed" (not @Timer).

[2020-06-03 18:42] jkschneider commented on #2131
@DRSains Personally I think shipping a zero early brings this closer in line to what would happen if you published a counter directly to API via `DatadogMeterRegistry`. I don't think there are any compatibility concerns.

So if the behavior is sensible, adding additional configuration options is purely API bloat.

Any downsides you can think of?

[2020-06-03 22:03] william-tran opened #2137 "A bare-bones module for inclusion in bootstrap classloader to be used by javaagent instrumentation"
I want to use Micrometer to define metrics in java-agent instrumentation rules, so I can write my own [specialagent rules](https://github.com/william-tran/specialagent-rules) that add metrics as well as tracing behaviour to other classes.  This forces me to load micrometer-core into the bootstrap classloader, but this causes strange issues in the app classloader, eg on spring boot startup:

[code]

[2020-06-03 22:29] checketts commented on #2137
Since the `globalRegistry` is largely a facade in front of another registry what would your ideal usecase be for that registry? A `SimpleMeterRegistry` perhaps that can be self sufficient? Or would it also need to forward on to a Prometheus one?

I'm not too familiar with the classpath issues/javaagent stuff at work, but it sounds like you are proposing a module that has fewer features so it can b

[2020-06-04 06:30] chengzp opened #2138 "StatsdMeterRegistry sends multiple duplicated count measurements"
Micrometer version: 1.5.1

As time progresses, `StatsdMeterRegistry` seems to be creating more and more udp connections. A single counter increment is then sent to all those connections, leading to duplicate counts. For example, in one particular case, the ngrep for a specific counter increment shows 7 identical messages (the message contents are omitted):
[code]
(The `172.31.*.*` IP addresses are

[2020-06-04 08:27] DRSains commented on #2131
Personally I see no downsides! Thanks

[2020-06-04 08:29] DRSains commented on #2131
Also careful, I am talking about the StatsD registry, not the DatadogRegistry. This is the datadog flavour statsd registry and not the datadog api. I know it is confusing, but there are 2 ways of accessing this, I'd prefer the DD Api directly, but the setup I use is not my choice.

[2020-06-04 09:20] shakuzen commented on #2125
Thanks for the link to the New Relic documentation.

We don't currently map anything from Micrometer to any special notion of New Relic errors.

You can tag any metrics you're making with information from exceptions, as Jon pointed out. This is usually already done with HTTP server/client metrics instrumentation, for example.
From reading the linked documentation, I didn't see any way to do this,

[2020-06-04 09:29] shakuzen commented on #2138
Sorry for the trouble and thanks for the detailed report of the issue. Were you using this prior to 1.5.1 without issue?

[2020-06-04 09:58] deepakkumar203 commented on #849
@jkschneider
It still does not answer the question, what should I do if I want to ignore these 0 values in my calulation?
Can I change the micrometer configuration so that it won't send any 0 metrics?

[2020-06-04 18:02] jkschneider commented on #849
@deepakkumar203 No, and I don't think we want to support this. Zero is a valid value that indicates nothing is happening. If you _really_ wanted this, you can periodically iterate over timers on a registry and call `remove` on the ones that have zero values, but I really think you shouldn't do this.

![image](https://user-images.githubusercontent.com/1697736/83794413-992c1e80-a663-11ea-8461-2be984

[2020-06-04 18:09] jkschneider commented on #2137
@william-tran I don't imagine the optional dependencies have any impact right? I mean, if you expect to be able to bind OkHttp metrics without including an optional OkHttp dependency on the runtime classpath it obviously isn't going to work, and no wishfulness about dependency hygiene changes that.

`micrometer-core` is actually quite thin as far as dependencies go, only requiring HdrHistogram and

[2020-06-04 18:11] jkschneider commented on #2137
It would probably be really helpful to see what you are trying to do in code. I don't undersatnd how Spring is in the stacktrace. That certainly isn't because of a dependency of `micrometer-core`.

[2020-06-04 18:15] jkschneider commented on #2131
@DRSains No worries, you were clear about this. I just propose that in `StatsdMeterRegistry`, when a counter is registered and we are using the dogstatsd flavor, that we just immediately ship a zero.

[2020-06-04 18:20] jkschneider commented on #1455
@sormuras Any configuration ideas that arose from this?

[2020-06-04 18:26] sormuras commented on #1455
No, nothing yet. Will keep you updated.

[2020-06-04 19:42] jkschneider commented on #2137
Closing because I don't see how `micrometer-core` gets any thinner. HdrHistogram and LatencyUtils are clearly not the problem, and it has no other required dependencies.

Optional dependencies are a red herring.

The problem is that the OP somehow is bringing Spring onto the classpath without _its_ dependencies, which has nothing to do with Micrometer.

[2020-06-04 19:42] #2137 closed

[2020-06-05 02:58] chengzp commented on #2138
The project is relatively new, so I don't have good data other than for 1.5.1. We tried downgrading to 1.4.1, but it seems like the opposite happens now, where no metrics are sent at all after a while (this might be the issue https://github.com/micrometer-metrics/micrometer/commit/2bf645d6c4a2fad6e2dcf57bc90fb779bce32645 was intended to solve).

[2020-06-05 04:34] chengzp commented on #2138
I looked at the code a bit more. Should [this line](https://github.com/micrometer-metrics/micrometer/blob/v1.5.1/implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/StatsdMeterRegistry.java#L273) and [this line](https://github.com/micrometer-metrics/micrometer/blob/v1.5.1/implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/StatsdMeterRegistry.jav

[2020-06-05 13:14] jkschneider commented on #2138
Looks like you found the issue @chengzp! Would you like to PR this?

[2020-06-05 19:46] nithya11 opened #2140 "ByteBuf.release() was not called before it's garbage-collected"
Micrometer version: 1.1.2

Publishing metrics with statsD micrometer occasionally throws the following exception:

[code]

[2020-06-05 22:26] jkschneider commented on #2140
@nithya11 I can't remember which minor release it was, but ultimately this was a problem with reactor netty fixed by incorporating a later release of it in later versions of Micrometer. Can you try Micrometer 1.5.1 and see if you see the same?

[2020-06-06 13:59] WillBrindle opened #2141 "Buffered statsd lines are not published on close"
This may well be misunderstanding on my part but is there any way to ensure all counters are updated on close?
Here is a minimal example of the problem:
[code]
If you spin up a simple udp server you'll see nothing is sent. This extends to if I add a sleep for a value more than `step()` , before or after closing. If I add a loop before closing where I increment the counter then sleep I start to get

[2020-06-06 23:24] chengzp commented on #2138
Sure! I'll give it a try.

[2020-06-06 23:54] chengzp commented on #2138
@shakuzen @jkschneider: the PR is created. Please take a look.

Is there anything I need to do to get it into 1.5.2?

[2020-06-08 06:38] kgunnerud commented on #2095
We experienced this as well: https://stackoverflow.com/questions/62210222/micrometer-throws-exception-when-creating-a-second-kafka-consumer/62255997#62255997
I'll link from StackOverflow to here so that the issue can be discussed here.

[2020-06-08 09:04] StephenHolmes14 commented on #2140
Not OP but I'm having the same error on 1.5.1:

[code]

[2020-06-08 14:42] izeye commented on #2095
With the current implementation, a different client seems to be possible to have the same meter name but a different set of tag keys.

Including the client ID in meter names could resolve this although it doesn't seem to be nice.

I'm not sure if there's any better way at the moment, but I created https://github.com/micrometer-metrics/micrometer/pull/2143 to try to resolve this.

[2020-06-08 15:03] izeye commented on #2095
For the record, `kafka_consumer_fetch_manager_bytes_consumed_total` doesn't have "topic" tag at the first registration but has "topic" tag somehow when refreshing. So any subsequently created client will fail with the above exception for the meter due to tag key set mismatch.

[2020-06-08 16:06] izeye commented on #2095
After further investigation, this should be resolved in the next refresh, but it doesn't work as the exception stops the refresh logic.

I created https://github.com/micrometer-metrics/micrometer/pull/2144 as alternative solution to #2143 as it seems to be much better if a subsequent retry just resolves it. I'm not sure if it is enough, but at least I confirmed that the scenario I mentioned above

[2020-06-08 16:30] tchiotludo commented on #2095
Seems to be a good hack waiting a clarification on prometheus exception.
Maybe I would change the exception here :
https://github.com/micrometer-metrics/micrometer/blob/a6fefc903002e6d426fc8506d56b2f8a108eafad/implementations/micrometer-registry-prometheus/src/main/java/io/micrometer/prometheus/PrometheusMeterRegistry.java#L415-L418
to a Proper `DuplicateMeterException` to avoid parsing string mes

[2020-06-08 20:16] jaecktec opened #2145 "NewRelic - Configure HTTP Proxy"
There is currently no possible way to create a NewRelicMeterRegistry with a custom http-sender.

We have to run our service within a dmz and all outgoing http requests have to be tunneled through a http proxy.

The constructor to adjust the HttpSender is currently private thus can't be used. Is there a different way how to configure a HttpProxy?

[2020-06-09 00:15] izeye commented on #2095
@tchiotludo Thanks for the feedback!

I know it's brittle, but I couldn't find a better way to distinguish the Prometheus-specific exception in the core module.

[2020-06-09 07:00] jaecktec commented on #2145
can we by any chance make this constructor public? That would make it possible to set the proxy settings

[2020-06-09 09:34] jkschneider commented on #2145
I think it is possible today when sending through the api client provider:

[code]

[2020-06-09 09:35] #2145 closed

[2020-06-09 10:03] jaecktec commented on #2145
ah thanks, for some reason I thought the Builder is package only too (Builder is, builder is not)

[2020-06-09 18:20] fsaldivars opened #2146 "Lost metrics when Dynatrace is dow"
Currently, our project is using:
`micrometer-core 1.5.1`
`micrometer-registry-dynatrace 1.5.1`
 When a metric is triggered by Micrometer we've seen some issues. The most common is a DT host down, another is API-token not provided.

There is a configuration that allows to Micrometer to react on unsuccess call and allow to resent metrics in batch or another mechanism?

[2020-06-09 19:10] AarjavP opened #2147 "Question: Registries implementing AutoCloseable"
I see that the `MeterRegistry` has a close method with same semantics as `AutoCloseable`'s `close` method but it is not implementing it. Just wondering why this is the case.
Was this decision made for backwards compatibility or to avoid some interaction with code quality plugins? or is it somehow bad practice and causes unintentional behavior?

[2020-06-09 21:07] jkschneider commented on #2146
You mean you didn't configure an API token to the registry? I suppose this wouldn't ever work?

[2020-06-09 21:09] jkschneider commented on #2146
You could fix the periodically down DT host by providing a custom `HttpSender` and using something like [Resilience4J retries](https://resilience4j.readme.io/docs/retry) for the request. Normally I wouldn't bother much with a dropped metrics payload or two. If this is happening with enough frequency to raise an issue on this, it feels like an alarmingly bad reliability for the DT service itself, a

[2020-06-09 21:11] jkschneider commented on #2147
Exactly. And IDEs sometimes suggest to close AutoCloseable resources in the block in which they are created as well.

[2020-06-09 21:11] #2147 closed

[2020-06-09 22:42] fsaldivars commented on #2146
Right the problem is coming up on periodically scale down DT we lost metrics and there is no way to recover it, our vendor is working to provide a solution. but it is good to have Reslience4J retries as one option.

[2020-06-09 22:43] #2146 closed

[2020-06-10 05:59] Esakkimuthu991 opened #2148 "how to register MetricRegistry from Dropwizard instrumentation library in Micrometer."
In order to avoid having additional httpserver (prometheus server) to export the dropwizard metrics.

Trying to register the MetricRegistry to micrometer. To expose the metrics in to an endpoint, which is already having other metrics (for ex:localhost:8080/actuator/prometheus)

My Code :
DefaultExports.initialize();
        Optional<HTTPServer> prometheusServer = Optional.empty();
        try {

[2020-06-10 08:14] shakuzen commented on #2140
@nithya11 @StephenHolmes14 do you have any ideas for how to reproduce this? When is it happening? Is it happening consistently?

[2020-06-11 11:33] mrniko opened #2149 "DropwizardMeterRegistry.newGauge shouldn't use WeakReference"
DropwizardMeterRegistry.newGauge uses WeakReference this causes NaN value for some attributes.

[2020-06-11 12:01] pbetkier commented on #620
I like your idea. I think it makes sense to contain this feature in only one optional class as opposed to making placeholders a global feature which impacts more of micrometer's codebase. Especially given how few metric backends are hierarchical in nature. I think it's less convenient for the `Application code in process of migration from Graphite to Prometheus` case than my original idea, but we

[2020-06-12 10:19] kgonia opened #2150 "Percentile metrics zeroed after while"
Hi,

I'm using timer to measure time of task. I also configured timer to use percentiles. After few calls everything is fine but after while all percentile metrics are zeroed. Is it expected behavior?

My configuration:
Spring boot app with TimedAspect, Timer is configured using @Timed annotation. I'm using prometheus endpoint for viewing metrics.

`@Timed(value = "my_task",
            extraTags

[2020-06-12 12:26] izeye commented on #2150
@kgonia The implementation for percentiles is time-windowed, so it seems to work as expected.

Please see the "NOTE" in [the "10. Timers" section in the Micrometer reference docs](http://micrometer.io/docs/concepts#_timers). It's about max, but it also applies to percentiles. I created https://github.com/micrometer-metrics/micrometer-docs/pull/135 to make it explicit.

[2020-06-12 12:56] #2150 closed

[2020-06-12 16:49] krm1312 commented on #2087
Was hoping this would make it into boot 2.3.1.  Any chance 1.5.2 will be released in time to make it into boot 2.3.2 managed deps?

[2020-06-13 00:17] #2138 closed

[2020-06-13 00:22] jkschneider commented on #2087
@izeye I don't know about this case, but this is why I started to distrust CHM. We previously used pcollections which can't be deadlocked and have similar performance characteristics. But then dependency hygiene... Not sure what is the best outcome.

[2020-06-14 09:31] scoopex commented on #65
It would be really nice to see this merged!

[2020-06-15 07:16] shakuzen commented on #2087
@krm1312 looks like Spring Boot 2.3.1 has already been released. We'll work on getting Micrometer 1.5.2 out soon. You can always override the managed version of Micrometer when that's released. You don't need to wait until a Spring Boot release has upgraded to it.

[2020-06-15 08:59] panqingcui opened #2152 "TimedAspect，@Timed Only arbitrary methods in another bean. If called from within the bean, it will not work"
###  question

TimedAspect，@Timed  Only arbitrary methods in another bean. If called from within the bean, it will not work

### code

[code]

### metrics
not get() method metrics
![QQ图片20200615165432](https://user-images.githubusercontent.com/10126345/84638386-80f0b500-af29-11ea-94d7-134e669e160b.png)

[2020-06-15 09:26] shakuzen commented on #2152
If I remember correctly, that's a limitation of Spring AOP / AspectJ and I don't think we can do anything about that in Micrometer's implementation. Only method calls via proxied Spring beans will have the aspect applied to them. See [the Understanding AOP Proxies documentation](https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#aop-understanding-aop-proxies). Specific

[2020-06-15 09:41] panqingcui commented on #2152
Thank you for your reply

[2020-06-15 09:41] #2152 closed

[2020-06-15 10:14] shakuzen commented on #2138
I don't have a problem with the fix, but I would ideally like to add a test that reproduces this scenario. I'm having a little trouble understanding when the client being replaced would still be able to send metrics, as it should only be replaced when the previous one disconnected (`doOnDisconnected` callback is called).

[2020-06-16 00:24] themoritz opened #2154 "Influx string escaping"
It looks like the Influx backend doesn't do any escaping of e.g. tag values. As an example, using `JvmMemoryMetrics()` tries to send the following line to influx:

[code]

whereas the properly escaped value for the `id` tag would be `G1\ Eden\ Space` (see [Influx docs](https://docs.influxdata.com/influxdb/v1.8/write_protocols/line_protocol_tutorial/#special-characters)).

[2020-06-16 01:40] izeye commented on #2154
@themoritz Thanks for the report, but I couldn't reproduce it with [this sample](https://github.com/izeye/sample-micrometer-spring-boot/tree/influx), and escaping seems to work as follows:

[code]

You might be using an old version. If that's the case, please try the latest version. If not, a simple sample to reproduce it would be helpful.

[2020-06-16 02:45] themoritz commented on #2154
Ok while building a reproducing example I was able to narrow the problem down a bit: It only occurs when I'm using `NamingConvention.dot`, like [here](https://github.com/themoritz/micrometer-escaping-repro/blob/e93bb7181952589d862889caba0988c0dda45afb/src/main/kotlin/micrometer/escaping/repro/App.kt#L28).

[2020-06-16 03:40] izeye commented on #2154
@themoritz Thanks for the quick feedback.

Escaping usually happens in `NamingConvention`, so replacing its dedicated one will lose the ability.

See https://github.com/micrometer-metrics/micrometer/blob/master/implementations/micrometer-registry-influx/src/main/java/io/micrometer/influx/InfluxNamingConvention.java

[2020-06-16 04:23] izeye commented on #2154
@themoritz For your information, if you want to stick with the dot notation for some reason while keeping the escaping, you can use `InfluxNamingConvention(NamingConvention.dot)` instead.

[2020-06-16 08:03] shakuzen commented on #2154
Thanks for the support @izeye. With that information, I believe that makes things clear and there is no change to be made in Micrometer. Let us know if that's not the case and we can reopen this @themoritz

[2020-06-16 08:03] #2154 closed

[2020-06-16 10:46] shakuzen commented on #2149
That's expected behavior. See [this section of the documentation](https://micrometer.io/docs/concepts#_why_is_my_gauge_reporting_nan_or_disappearing):

Could you provide a more complete description of what you are doing or a sample demonstrating the issue you are facing?

[2020-06-16 11:05] mrniko commented on #2149
I use it like this:

// this value will be stored
DropwizardMeterRegistry.gauge("myGague", 10L);

// this value won't be because of WeakReference usage
DropwizardMeterRegistry.gauge("myGague", 100000L);

[2020-06-16 11:07] mrniko commented on #2149
I'm closing it since it's expected behaviour.

[2020-06-16 11:07] #2149 closed

[2020-06-16 11:13] shakuzen commented on #1410
Most often Timers will be measuring execution occurring within the application. Do you mean using a Timer to record durations from something other than real-time execution in the application? Or that you're measuring some execution(s) with continuous high concurrency per application instance (thousands of executions per second) over a long uptime? If the length of execution is long and it is more

[2020-06-16 11:19] shakuzen commented on #2149
If the intent is to update the value of the gauge from `10` to `100000` and there isn't a function available to provide the current value, you could use a `Number` object to store the current value (and keep a reference to that object). Calling the `gauge` method (or any method to create/retrieve a meter) again will not update the meter because the meter created in the first invocation of the `gau

[2020-06-16 13:31] jkschneider commented on #1410
This is roughly:

[code]

Assuming that a service is running at 1,000 RPS with 100ms response times (that's one hell of a thread pool for that long of a response time), it still takes:

[code]

I just can't imagine a timer used how it's supposed to be used overflowing like this. What is being measured?

[2020-06-16 13:33] jkschneider commented on #1410
I wouldn't favor losing nanosecond precision on account of this edge case, but if there is a good case that can be made for timers overflowing, I could imagine supporting downscaling the resolution of the internal counter to milliseconds as it approaches max long.

[2020-06-16 13:46] adoelger commented on #1410
My use case is the following:
We have an asynchronous event processing application. Events are ingested into Azure EventHub (similar to Apache Kafka) the event processor reads from the EventHub and process the data. I want to measure the time between ingest into the EventHub and the final processing. Up to 2.000 events are processed per second. If ingested events can be processed in-time (around 2

[2020-06-16 13:57] jkschneider commented on #1410
@adoelger This sounds like the perfect application of a `LongTaskTimer`.

[2020-06-16 16:57] themoritz commented on #2154
Can confirm that using `InfluxNamingConvention(NamingConvention.dot)` solves my issue, thanks a lot @izeye!

[2020-06-17 07:19] caspertradeshift commented on #2140
I am also experiencing this, aprox once a day for a service running a scheduled job every 5 sec, this started to happen after Spring Boot upgrade from `2.1.4.RELEASE` (micometer 1.1.4) to `2.3.1.RELEASE`(micormeter 1.5.1),

[2020-06-17 13:23] markusheiden opened #2156 "GraphiteMeterRegistry reports 3 times on close()"
On close() the GraphiteMeterRegistry reports three times (instead of once like before) to graphite:
* reporter.report()
* stop() -> reporter.stop() -> GraphiteReport.stop() -> ScheduledReporter.stop() -> report()
* reporter.close() -> ScheduledReporter.close() -> ScheduledReporter.stop() -> report()

Technically this is no problem, just suboptimal.

[2020-06-17 14:58] izeye commented on #2156
It seems that https://github.com/dropwizard/metrics/issues/1461 causes the behavioral change since `metrics-core` 4.1.18.

[2020-06-17 16:47] seetharamani commented on #512
From micrometer version > 1.1, I understand that kafka metrics comes by default. Do we still need to explicitly add this configuration?
[code]
Because I don't see this class exists in the micrometer source code? I am using 1.5.1 and I am seeing kafka metrics exposed in my `/prometheus` endpoint. Any help is appreciated.
Thanks!

[2020-06-18 01:53] ben-manes opened #2157 "MetricsDSLContext discards the user's ExecuteListeners"
The mutations of the jOOQ configuration replaces, rather than amends, the user supplied ExecuteListeners. The `derive(ExecuteListeners)` and `set(ExecuteListeners)` should build a combined array when setting.

https://github.com/micrometer-metrics/micrometer/blob/06e895f2a8eced07eae69c449ab74f969a7b6a2b/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/db/MetricsDSLContext.java#L8

[2020-06-18 05:10] izeye commented on #2157
@ben-manes Thanks for the issue!

I created https://github.com/micrometer-metrics/micrometer/pull/2158 to try to resolve this.

[2020-06-18 12:53] Exidex commented on #1149
The issue still persist. As noted higher it could be resolved by using LTW, but in my case it is not an option because I do not have access to the deployment setup, and the only option is CTW which doesn't work with this library

[2020-06-19 04:09] #2157 closed

[2020-06-19 13:11] jkschneider opened #2160 "Stackdriver type inferencing."
Should we always force to a double the initial publish?

[2020-06-19 13:11] jkschneider commented on #2160
https://micrometer-metrics.slack.com/archives/C662HUJC9/p1592556714328000

[2020-06-19 19:27] cmayne-r7 commented on #2140
Also experiencing this, in both deployed and local environments, Spring Boot version 2.3.0.RELEASE, micrometer 1.5.1

[2020-06-19 21:00] schlangz opened #2161 "Don't understand DistributionSummary with ElasticMeterRegistry"
Hi, I'm using latest version and I'm having hard time to understand how a DistributionSummary is working when using ElasticMeterRegistry.

An example would be FlexyPool metrics (maxPoolSizeHistogram), I only get the the value (100) at the very first time the metric is pushed, after that it only pushes a value of  0. However when I check the same Metric via JMX (JmxMeterRegistry) then there is alwa

[2020-06-20 21:37] schlangz opened #2162 "HibernateMetrics and HibernateQueryMetrics should check whether or not caches are enabled"
HibernateMetrics and HibernateQueryMetrics should check whether or not caches are enabled.

Since query cache and 2nd level cache (also controls natural id cache) can be disabled it would be great if the metrics would check the settings before registering "dead" meters:

`    Properties props = sessionFactory.getProperties();`
`    this.isSecondLevelCacheEnabled = ConfigurationHelper.getBoolean( A

[2020-06-22 06:27] KeithWoods commented on #877
@flozano @izeye I think this issue still exists.

I think this is because some metrics exists at multiple levels with different tags, for example, `kafka_consumer_fetch_manager_fetch_size_max`. It exists at the client level but also at the topic/partition level. At the client level there is no associated topic tag, at the topic/partition there is. One of these 2 will get registered first, then the

[2020-06-22 08:44] cicilthomas commented on #2140
Started experiencing the same issue after upgrading to springboot `2.3.1.RELEASE` and micrometer `1.5.1`
@shakuzen for me this can be reproduced by just running the springboot app and doing nothing. This error will be thrown after sometime (˜10-15 mins)

[2020-06-22 10:28] KeithWoods commented on #877
A bit more information: After I looked to tweak `KafkaMetrics` this to solve my issue, I noticed it has some logic to remove and add existing metres if the tags are different (as was suggested in this thread), however it only does this if the clients are the same. In my above case the clients are different as i have multiple consumers with differing client ID, given that the remove/add logic wasn'

[2020-06-22 11:35] shakuzen commented on #2156
Thanks for digging into this @izeye. That makes it a bit difficult to solve this since Micrometer users may be using the `metrics-core` dependency before or after 4.1.18. If we remove our explicit call to `report`, we risk not publishing one last time on close for those using earlier than 4.1.18. It does look like we can eliminate at least the call to `stop` since the `close` method's JavaDoc indi

[2020-06-22 12:17] shakuzen opened #2164 "GraphiteMeterRegistry reports 3 times on close()"
See #2156. For Micrometer 1.6.0, we will remove the redundant (since Dropwizard `metrics-core` 4.1.18) call to `report` when closing the `GraphiteMeterRegistry`. In order to retain the final publish on close behavior, users should be using at least version 4.1.18 of `metrics-core`. Earlier versions of metrics-core will result in not having the final publish on close behavior anymore since Micromet

[2020-06-22 12:18] #2156 closed

[2020-06-22 12:22] #2164 closed

[2020-06-22 14:50] shakuzen commented on #2140
I'm having trouble reproducing this on OSX using Java 11.0.7 - I've had a demo application using the StatsdMeterRegistry running for over 2 hours.

On what OS and Java version is everyone seeing this happen on?

We'll try upgrading to the latest patch release of reactor-netty and reactor-core in 1.5.2 to see if that helps but we haven't been able to identify the cause yet.

[2020-06-22 20:26] nithya11 commented on #2140
It is not consistent. Just like how others have mentioned it happens sporadically

[2020-06-23 07:45] shakuzen commented on #2123
Please try with the latest 1.5.2-SNAPSHOT and 1.3.10-SNAPSHOT versions to make sure there are no remaining issues before we release these.

[2020-06-23 07:46] #2123 closed

[2020-06-23 12:37] shakuzen opened #2166 "JavaDoc jar published does not contain JavaDocs"
I noticed that the link in our README pointing to our JavaDocs via javadoc.io points to version 1.4.0 because this is the latest version with a correct JavaDoc JAR uploaded to Bintray and Maven Central.

[2020-06-23 12:52] shakuzen commented on #2166
Duplicate of #2098

[2020-06-23 12:52] #2166 closed

[2020-06-23 13:46] shakuzen opened #2167 "Upgrade to reactor 3.3.7 and reactor-netty 0.9.9"
See https://github.com/micrometer-metrics/micrometer/issues/2140#issuecomment-647567269

[2020-06-23 14:10] #2095 closed

[2020-06-23 14:28] #2167 closed

[2020-06-23 17:16] cicilthomas commented on #2140
@shakuzen I have created a sample springboot app which will throw this error. Here is the repo [link](https://github.com/cicilthomas/micrometer). The `error.txt` is the console log and if you check it, the error occurred after 1:30Hrs.

I'm on macOS `10.14.6` and Java `11.0.3`

[2020-06-24 09:28] skabashnyuk commented on #1665
@shakuzen wdyt about my last comment https://github.com/micrometer-metrics/micrometer/issues/1665#issuecomment-621156418 does it make sense for you?

[2020-06-24 09:47] chandreshlko commented on #304
I am calling a third party API for lagging the metrics
the URI is like "/api/xxx/123" the last 3 digits are changes
my requirement is to count the trigger for "/api/xxx" for this metrics
I have other api call that i don't want to change I am using spring boot (RestTemplate) and the configuration is global
any suggestion how can i do  this.

[2020-06-25 05:13] nefsir commented on #2140
Same here, after Spring Boot upgrade 2.2.6.RELEASE to 2.3.0.RELEASE I see this in logs for all our services. It eventually leads to OOM crash. Histogram:
![image](https://user-images.githubusercontent.com/12825757/85658098-2686ef80-b6b3-11ea-89d7-19ad7dea531a.png)
And leak suspect by MAT:
![image](https://user-images.githubusercontent.com/12825757/85658248-5209da00-b6b3-11ea-99bf-9b54a732c368.png)

[2020-06-25 05:38] shakuzen commented on #304
@chandreshlko I'm not understanding exactly what you're trying to accomplish. It will probably be easier to figure this out through chat. Feel free to join us on Slack at https://slack.micrometer.io.

[2020-06-25 13:32] fkrull commented on #1977
We've mostly been ignoring this problem by staying on 1.3 for now, but I tried a few more things and it seems we can get rid of the problem by disabling descriptions (i.e. disabling them in Micrometer config). This matches the observation that posting test metrics with curl works just fine since the metadata endpoint is never hit for those. My observations when messing around with our codebase wer

[2020-06-26 10:13] VinodReddyE commented on #2160
@jkschneider  anyone started looking into it. we can do anything from stackdriver end?

[2020-06-27 01:38] jkschneider commented on #2160
@VinodReddyE Haven't picked it up myself yet. Probably a fairly trivial fix in Micrometer just to always force to a double? Or Stackdriver could relax its constraint. Not sure what the storage/cost ramifications if any are in Stackdriver of integer vs. double.

[2020-06-27 01:46] VinodReddyE commented on #2160
can we override any particular method and forced to double?  the challenge is we are not facing this issue in the test environment. the production we are facing this issue. any way to reproduce this. I enable the trace in a test environment to observe that double value. is stack driver its expecting int64?

[2020-06-27 04:27] VinodReddyE commented on #2160
Not sure on stackdriver end. we first try to fix in the micrometer to force as double.

[2020-06-28 08:25] cosenmarco commented on #1653
@jkschneider will do. Seems quite interesting, thanks.

[2020-06-29 12:53] tasmalinakis opened #2170 "Kafka - Failed to bind meter with extra topic tag"
Hello,

We are trying to use `KafkaStreamsMetrics` for exposing metrics to Prometheus. We are using the Micrometer version 1.5.2.

The application runs several Kafka Streams apps. We are observing hundreds of `"Failed to bind meter: kafka.consumer.fetch.manager.xxx` errors on each scrape and the relevant metrics display as NaN.

As it's been reported on other issues here, Kafka metrics may initial

[2020-06-29 15:46] VinodReddyE commented on #2160
createMetricDescriptorIfNecessary method we need to force the metric value type to Double initially if the next metric pushes INT64 also it will work. Strackdriver side I will try to delete the metric and will check.

[2020-06-29 20:45] fieldju commented on #877
Okay, I am running into this issue as well.

I copied and pasted the registry and modified the offending code so that it creates a new collector instead.

I have written a functional test that proves that https://github.com/micrometer-metrics/micrometer/issues/877#issuecomment-425102772 is no longer true.

https://github.com/armory-plugins/armory-observability-plugin/blob/2819e3f6b4e2c6a8ad88fbd01

[2020-06-29 20:48] fieldju commented on #877
Okay, I am running into this issue as well.

I copied and pasted the registry and modified the offending code so that it creates a new collector instead.

I have written a functional test that proves that https://github.com/micrometer-metrics/micrometer/issues/877#issuecomment-425102772 is no longer true.

https://github.com/armory-plugins/armory-observability-plugin/blob/2819e3f6b4e2c6a8ad88fbd01

[2020-06-30 06:20] izeye commented on #512
@seetharamani The configuration you're referring is coming from a proposal that hasn't been merged yet, so it's not necessary.

I'm not sure what's the problem from your description as it seems to work from your description.

[2020-06-30 09:26] chrgue commented on #1799
We were very happy when we found out there is a way to get such metrics.

But for services which are interacting with more then one collection the "collection" tag seams to be mandatory to generate useful insights.

[2020-06-30 09:29] schlangz commented on #877
@fieldju thank you

[2020-06-30 11:25] VinodReddyE commented on #2160
@jkschneider  issue got resolved in our end. I have deleted the metrics descriptor that is created with INT64. now its created with DOUBLE. permanent fix whoever newly using it should be double initially while creating descriptor.

[2020-06-30 15:46] tasmalinakis commented on #2170
I can't reliably reproduce this issue. It appears that metrics are not really affected and the only problem would be that we continuously get this info message.

[2020-06-30 15:46] #2170 closed

[2020-06-30 22:40] tha2015 commented on #2140
Same issue here, happening since migrating to Spring Boot 2.3.1 (micrometer 1.5.1)

[2020-07-02 16:00] jbx1 commented on #65
Any chance of getting this in?

[2020-07-02 16:14] danishnawab opened #2174 "Illegal reflective access by ExecutorServiceMetrics"
Ran into the following warning at runtime when trying to monitor an `ExecutorService` using the micrometer binder `ExecutorServiceMetrics`:
[code]

The following test reproduces the issue:
[code]
The issue is observed on both of the following runtimes:
[code]
[code]

The aforementioned reflective access can be seen at [line 290 of the ExecutorServiceMetrics.java](https://github.com/micrometer-metr

[2020-07-02 16:47] Yaytay commented on #1169
I used Reasteasy and Micrometer with Vertx, without any sign of Spring Boot. Apart from support for @Timed, what further integration would you want to see?

[2020-07-02 16:50] akieling commented on #1169
This feature request is out of date. Closing it.

[2020-07-02 20:03] jkschneider commented on #1169
Happy to leave it open. Still a valid feature request, maybe just could use some help from somebody willing to submit a PR?

[2020-07-03 06:36] shakuzen opened #2175 "Allow step intervals at finer than whole second granularity for Wavefront"
See #2173 where it was fixed that we were not using the configured `step` from `WavefrontConfig` to configure the Wavefront SDK's client. Until version 2.4 of the Wavefront SDK, it didn't allow setting a `flushInterval` in anything but whole seconds. It is but a common use case to need more than whole second granularity, but since we take an arbitrary `Duration` for `step` in the Config, we should

[2020-07-03 06:37] #2175 closed

[2020-07-03 08:59] bol-com-pschmitz opened #2176 "Async log4j2 log events are not counted accurately"
Micrometer provides the `Log4j2Metrics` meter binder to add metrics for Log4j2 log events. Unfortunately the implementation is flawed. It is implemented as a filter, but filters can be invoked multiple times and must therefore not have any side effects.

In practice the filter _is_ invoked multiple times by Log4j2 in many circumstances (e.g. in the presence of multiple and/or async loggers). The r

[2020-07-03 09:16] bol-com-pschmitz commented on #2176
Note that the issue is not that the filter is added multiple times. The same filter is invoked multiple times. You can for example see this is in `AsyncLoggingConfig.log(LogEvent, LoggerConfigPredicate)`. This first calls `super.log(...)`, which invokes the filter, and then it calls `logToAsyncDelegate(...)`, which again invokes the filter.

[2020-07-03 09:26] mpasha96 commented on #1358
Faced similar issue in version ` 1.3.1`. Almost 15x latency increase on Prometheus scraping endpoint.  ~130ms latency on version ` 1.3.1` and ~8ms latency on `1.0.6`.

Setup: Java 8, Spring Boot 1.5

**Version 1.0.6**
![version-1 0 6](https://user-images.githubusercontent.com/24952399/86454724-1a490500-bd39-11ea-9bec-0af265569c1c.png)

**Version 1.3.1**
![version1 3 1](https://user-images.githubus

[2020-07-04 03:31] schlangz commented on #2176
So this only applies to async loggers?

[2020-07-06 02:20] shakuzen commented on #2176
@bol-com-pschmitz thank you for the report. Just so we're explicit about the scenario and that a fix properly addresses it, would you be able to write a test demonstrating it like other tests in our [Log4j2MetricsTest](https://github.com/micrometer-metrics/micrometer/blob/0c9aeef87bcb4f1fd1e89f6de7b63e8eba5af938/micrometer-core/src/test/java/io/micrometer/core/instrument/binder/logging/Log4j2Metri

[2020-07-06 06:54] bol-com-pschmitz commented on #2176
I'm not sure, possibly. That's how it occurred in my case. It doesn't matter though; `Log4j2Metrics` should not be implemented as a filter. Filters must always be able to be invoked multiple times and must never have side effects (such as incrementing metrics).

[2020-07-06 07:18] smachlin opened #2177 "StatsdMeterRegistry stops sending measurements"
Hi,

it seems that https://github.com/micrometer-metrics/micrometer/issues/2138 didn't fix the underlying issue.

seems that there's a bug there that causes FD to be opened and never closed.
here are some stack traces

1:
[code]

2:
[code]

3: after a couple of more minutes
[code]

[2020-07-06 07:20] bol-com-pschmitz commented on #2176
I'll take a look.

[2020-07-06 08:06] mghildiy commented on #780
I too face this issue. I got it working by removing TimedAspect bean configuration. Any other better way?

[2020-07-06 18:33] aworrell-terazo opened #2178 "Sending Metrics to Datadog Agent running on swarm?"
management.metrics.export.statsd.enabled=true
management.metrics.export.statsd.flavor=datadog
management.metrics.export.statsd.port=8125
management.metrics.export.statsd.host=datadog-agent
management.metrics.tags.application=${spring.application.name}

This is the configuartion we are trying to get working, datadog-agent is a swarm agent running on the same swarm as the service with this configura

[2020-07-06 18:36] mostafaHamdy-git opened #2179 "Setting minimum-expected-value from java application propertiese"
I am facing issues regarding the number of buckets being generated for my **http.server.requests**.
I found that we can control number of buckets by using **minimum-expected-value** and **maximum-expected-value**.
So my question is simple, these are my configuration in my properties file, what is the time unit that i should be using.

`management.metrics.distribution.minimum-expected-value.http.se

[2020-07-06 18:59] brettcooper opened #2180 "Allow disabling of sum, count, and max timer metrics being sent to DataDog."
In order to try to save money on our DataDog bill, I am trying to disable as many custom metrics as possible.  We have a timer named "sync_speed" and the only metric we need sent to DataDog is "avg".  Currently, "sync_speed.avg", "sync_speed.sum", "sync_speed.count" and "sync_speed.max" are all being sent to DataDog and we are being charged for each metric separately.

Is it currently possible to

[2020-07-06 20:51] RobinsonZ opened #2181 "Support per_unit parameter in Datadog"
DataDog expresses two-part "per" units such as bits per second, etc. by using two parameters in the metadata (`unit` and `per_unit`) as described [here](https://docs.datadoghq.com/api/v1/metrics/#edit-metric-metadata). Currently, at least as far as I could tell by looking at the code, Micrometer's DataDog integration does not support splitting the provided metric unit into these `unit` and `per_un

[2020-07-06 23:22] izeye commented on #2179
@mostafaHamdy-git This seems to be a Spring Boot question. You can find the details of the properties in the "[10.A.14. Actuator properties](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#actuator-properties)" section as follows:

Key | Default Value | Description
-- | -- | --
management.metrics.distribution.maximum-expected-value.* |   | Maximum value that meter IDs startin

[2020-07-07 08:26] therve commented on #1977
Hello @fkrull , I believe the attached PR would fix the issue. Would you mind having a look? Thanks.

[2020-07-07 13:29] amohabir commented on #1991
It seems stable enough for us in production, but there is one caveat since we're running multiple services on the same project. There is a maximum amount of 500 metric descriptors that you can create per project. The current implementation can be quite inefficient due to creating a metric descriptor per timer and percentile for example. So for example a timer with a configuration to send p50, p95,

[2020-07-07 15:17] workless commented on #65
I'm also waiting for this PR, how can i help?

[2020-07-08 02:17] shakuzen commented on #2178
I'm not very familiar with docker swarm and running the datadog agent on it, but if the hostname is resolvable from the application and there are no other networking issues, the application should be able to send the statsd lines to it.

[2020-07-08 04:08] shakuzen commented on #2180
Without making a custom registry, or perhaps a custom `HttpSender`, I don't think there's a way currently to filter out individual timeseries from being reported for a meter - `MeterFilter` can filter out only entire meters with all their timeseries. We try to ship what makes sense for the type of meter. You could make a custom `Meter` implementation, I suppose.

That said, it is probably worth co

[2020-07-08 05:47] #1977 closed

[2020-07-08 05:50] shakuzen commented on #1977
@fkrull thank you for following up and the investigation on your part. Would you be willing to check that the issue is fixed with the latest 1.5.3-SNAPSHOT containing the fix from @therve?

[2020-07-08 07:49] #2179 closed

[2020-07-08 08:47] scoopex commented on #65
We use the implementation in https://github.com/micrometer-metrics/micrometer/pull/1773 for several months here.
Is there any reason not not merge it?

[2020-07-08 08:59] shakuzen commented on #2181
Micrometer meters don't have a "per unit" because the interval at which metrics are reported depends on the configured step interval, which is configured for the registry, not on a meter basis. For out-of-the-box meter types, I think this only applies to Counter/Timer/DistributionSummary's `count` statistic, which would be per the configured `step` interval (`DatadogConfig#step`) - e.g. 112 occurr

[2020-07-08 09:06] fsi-kanchana commented on #351
@jesperdj I don't think that the following is required.
[code]
When you run the method annotated with `@Timed` once, you will have the name in the list.

[2020-07-08 10:28] jesperdj commented on #351
@fsi-kanchana  I think you are right; explicitly creating the counter is not necessary, it's indeed created at first use automatically.

[2020-07-08 12:57] dnowak-wrldrmt commented on #877
Hi, I have encountered the issue as I add some tags (like error name) basing on the result of an operation.

I have checked Prometheus documentation and there is no information about such requirement - looks like the metric name can be associated with varying number of tags/labels:

Source: https://prometheus.io/docs/concepts/data_model/

[2020-07-08 14:56] fkrull commented on #1977
@shakuzen That seems to have fixed it. :+1:

[2020-07-08 15:42] checketts commented on #877
Thanks for checking the documentation!

Unfortunately, the underlying Prometheus client isn't implemented to that specification. See https://github.com/prometheus/client_java/blob/master/simpleclient/src/main/java/io/prometheus/client/SimpleCollector.java#L63

So you could open a ticket with that repo to try to get it improved, or if you can think of a good way to work around that limitation that

[2020-07-08 18:05] RobinsonZ commented on #2181
In my specific case, I was interested in reporting units that are inherently a rate. For example, I have a gauge (available bandwidth for a process) that is inherently reported in units of bits per second.

[2020-07-08 20:19] brettcooper commented on #2180
@shakuzen Thanks for the quick response and answering my question!  The biggest concern we have right now is trying to get our DataDog costs down and removing 3 out of 4 metrics would do that.  I was just hoping there was an easy way to disable those non-needed metrics. Perhaps I will explore implementing a custom meter to see if that works for us.

[2020-07-09 08:27] LukasVyhlidka commented on #1513
Hi, I just found this issue when investigating why our influx DB has very very huge tag cardinality :)

The problem here is that tags in micrometer metrics does not semantically equal to tags in influx.

InfluxDB has tags and fields where tags are indexed in memory. In case the tag cardinality is huge (there is a lot of different values) it is very hungry for the memory.

In micrometer metrics, th

[2020-07-09 10:49] dennysfredericci commented on #2176
Hi all, hello from Belgium! :)

I just create a test for this issue and indeed the filter have been called multiple times for same event.

[2020-07-09 10:58] bol-com-pschmitz commented on #2176
Thanks @dennysfredericci ! I was about to start doing that.

[2020-07-10 12:51] balazssandor commented on #1432
I am also still curious if we have a solution for this.

[2020-07-11 01:15] izeye commented on #2174
Some metrics from the binder depend on reflective access to `Executors`'s internal implementation details, but Java 9+ warns illegal reflective accesses.

There are some options, for example:

1. Remove the reflection-based feature.
2. Opt in the feature.
3. Opt in the feature only for Java 9+.
4. Opt out the feature.

I created #2185 to resolve this with the option 4 as it's backward-compatible a

[2020-07-11 09:25] asvirsky opened #2186 "Deadlock in DatadogStatsdLineBuilder"
We are using version 1.5.1, but based on my reading of the latest code, the problem is still there: map.computeIfAbsent is implicitly locking map key, while calling a method to create new entry. This method tries to acquire globally visible lock - "conventionTagsLock" - which may actually be owned by another thread _also_ polling all registered meters.

While deadlock is definitely a very serious

[2020-07-11 13:14] izeye commented on #2186
@asvirsky Thanks for the report, but this seems to be a duplicate of https://github.com/micrometer-metrics/micrometer/issues/2100 that has been fixed in 1.5.2. Could you try 1.5.2? If it still happens, please share its thread dump.

[2020-07-11 20:10] asvirsky commented on #2186
@izeye yes, indeed, it looks pretty similar - thanks for pointing it out. Will upgrade to 1.5.2 and hope for the best...
I don't really know how to reproduce the problem. Somehow 2 servers got into this state, while the other 50 seem to be OK.

I also had couple of questions about large number of threads - "parallel-1", "parallel-2", ... "parallel-24", etc. Right after launching jvm only one of th

[2020-07-12 03:41] leonhartX commented on #2140
I've updated to micormeter 1.5.2 but this issue still exists.
I'm using Java 8, both the local(macOS) and production(Amazon Linux) environment have this issue after running the app for a while.

[2020-07-12 03:57] tha2015 commented on #2140
I had the same exception when statsd UDP port was not open.

[2020-07-12 07:25] izeye commented on #2186
@asvirsky It depends on `Schedulers.parallel()` from Reactor Netty for execution, and it creates workers up to `Runtime.getRuntime().availableProcessors()` unless `reactor.schedulers.defaultPoolSize` system property is specified.

Micrometer shades Reactor Netty, so you need to set `io.micrometer.shaded.reactor.schedulers.defaultPoolSize` system property instead, for example as follows:

[code]

[2020-07-12 18:04] dennysfredericci commented on #2176
There is a method isEndOfBatch on Log4jEventLog which can be used to see if this is the "last" call.

`
    /**
     * Returns {@code true} if this event is the last one in a batch, {@code false} otherwise. Used by asynchronous
     * Loggers and Appenders to signal to buffered downstream components when to flush to disk, as a more efficient
     * alternative to the {@code immediateFlush=true} co

[2020-07-13 04:48] shakuzen commented on #2174
I'd like to take a closer look at this and see if there's some way we could achieve our goal without the illegal reflective access, even if that might require changes in the JDK.

[2020-07-13 10:23] iam-nagarajan opened #2188 "Upgrade to netty 4.1.51, reactor-netty 0.9.10, and reactor 3.3.8"
I am using micrometer-registry-statsd version 1.3.10 and it has the following critical vulnerability on netty package.
https://nvd.nist.gov/vuln/search/results?form_type=Advanced&results_type=overview&search_type=all&cpe_vendor=cpe%3A%2F%3Anetty&cpe_product=cpe%3A%2F%3Anetty%3Anetty&cpe_version=cpe%3A%2F%3Anetty%3Anetty%3A4.1.34

Since it is a shaded artifact, I couldn't exclude and upgrade netty

[2020-07-13 11:27] soad666p commented on #549
there any update on this ?

[2020-07-13 12:03] shakuzen commented on #2188
As noted on Slack:

That said, we can still upgrade the patch version for the next patch release of 1.3.x.

[2020-07-13 13:47] netme commented on #1799
Thanks, @chrgue for taking a look at this ticket

I have tried to mock a possible solution:

[code]

MongoDB driver does expose the collection name, however, it is only available in `commandStarted`. We can try to use some cache to get this data accessible in both `commandSucceeded` and `commandFailed`. What do you think about this approach?

[2020-07-13 21:00] tom-mi commented on #1640
@jkschneider I'm referring to the second one.

[2020-07-13 21:11] dennysfredericci commented on #2176
Hi Guys,

When we have an async logger configured a call to log.info or any other level triggers 2 times the filter, i found a way to use the isEndOfBatch attribute from LogEvent to check if this is the last call and then metrics counter will be incremented only once instead of multiple times.

I also create a simple spring-boot project to test it locally. You can see it here: https://github.com/d

[2020-07-14 13:07] cicilthomas commented on #2140
@shakuzen I updated `micrometer-registry-statsd` to `1.5.2` and I still get the same error.

[2020-07-14 15:19] drieselliott opened #2190 "INTERNAL: Internal error encountered. Please retry after a few seconds. If internal errors persist, contact support at https://cloud.google.com/support/docs."
Hi,

When using the Stackdriver integration from Micrometer in a Spring Boot application, I see quite some Internal errors.

An example:

[code]

I'm using the default Micrometer configuration in Sping Boot with Actuator enabled.

I logged a ticket for this in the Google issue tracker for Stackdriver, but they seem to think it has to do with the Micrometer integration. (https://issuetracker.google

[2020-07-15 10:26] CoderLan0668 opened #2191 "Adding container tag，for example pod_name"
Using Spring Boot Actuator and Prometheus in K8S, the metrics has't any lebel about the container or pod, we usually filter or aggregate there metrics by container or pod. How can i acheive this goal?

[2020-07-15 11:58] checketts commented on #2191
Container and pod labels should be provided via service discovery/relabelling with Prometheus and Kubernetes, not via Micrometer

[2020-07-15 20:43] jkschneider commented on #2191
If you would like to do it programmatically, can accomplish it with the fabric8 K8S client:

![image](https://user-images.githubusercontent.com/1697736/87594036-35a10200-c6a1-11ea-8ac8-0bf55b084401.png)

[2020-07-15 20:44] #2191 closed

[2020-07-16 05:40] Lumotheninja commented on #2058
+1 on this one. According to Elastic docs, it requires a number at the end which can be incremented by 1 at each rollover: https://www.elastic.co/guide/en/elasticsearch/reference/current/getting-started-index-lifecycle-management.html

I'm using Micrometer 1.2.0 and it doesn't have the option to append the -0000N at the end

[2020-07-16 07:37] gbehrmann commented on #2177
For what it is worth, we are observing the same issue. `udp-nio-1` soon after a restart begins to consume 100% available CPU capacity.

[2020-07-16 12:36] boyan-velinov opened #2193 "Meters garbage collection and memory footprint"
Hello,

We would like to use micrometer with DynatraceMeterRegistry in our service but we are concerned about our approach of doing that. We are not sure how to handle with multiple registered meters with the same name and the consequent increased memory.

Basically our service performs some business processes. Each process can take for several seconds up to several hours.
We want to measure execu

[2020-07-16 22:06] checketts commented on #2193
See https://micrometer.io/docs/concepts#_tag_values

Metrics are best used for tracking aggregate behaviors. So a rule of thumb is to keep tag cardinality low. Process ID and User seems like they could be very open ended and cause a 'tag explosion', and as you noted will not ever be garbage collected.

I would recommend using the timer to record the duration, but then also log out the duration (pe

[2020-07-17 09:37] xscript commented on #1534
@shakuzen Any update on this issue?
Looks like `process.cpu.usage` still uses the host machine's cores instead of the container's CPU limit.
We are using Java8u252 and Java11u7.

[2020-07-17 10:19] CoderLan0668 opened #2194 "CommonObjectPool metrics"
Do any one know why the CommonObjectPool metrics not in the latest release version? But the class `CommonsObjectPool2Metrics`  had already been merged into the branch Matser.

[2020-07-17 11:11] kyrylo-novotarskyi commented on #2140
Same as @cicilthomas -> all latest dependencies give the error

[2020-07-17 18:20] jhigueras commented on #2140
Same problem here, with spring-boot 2.3.1 and micrometer 1.5.2 the problem raises eventually in our services. The worst part is that error causes an increase in cpu load :/

[2020-07-20 02:42] asvirsky commented on #2177
Same here: thread udp-nio-1 goes into endless loop opening and closing DatagrammChannel. For every two minutes this activity allocates ~30Gb of memory, which is then released after ~1 second GC pause.
![image](https://user-images.githubusercontent.com/3719307/87894525-d6702400-c9f7-11ea-9610-2877cf9d857e.png)

![image](https://user-images.githubusercontent.com/3719307/87894493-c8ba9e80-c9f7-11ea-8

[2020-07-20 03:28] asvirsky commented on #2186
We upgraded to 1.5.2 and indeed it does fix the deadlock problem...

Unfortunately, it comes with even worse issue: shortly after start udp-nio-1 thread is going into endless DatagramChannel open/close loop, consuming 100% of CPU. It doesn't happen on all servers, but  where it does happen it seems very consistent.
On a server with 40 cores it wasn't instantly obvious that one core is busy all the

[2020-07-20 05:57] asvirsky commented on #2177
Here is heap histogram with ~1.2 millions of datagram channels created:
![image](https://user-images.githubusercontent.com/3719307/87894923-f7854480-c9f8-11ea-94fe-6af6bb05cf3d.png)

This is pretty serious issue. We will have to stop publishing any metrics because of this...

[2020-07-20 09:29] Lovnx opened #2195 "How to exclude tag?"
My project is based on SpringBoot2, and I use `micrometer-registry-prometheus` to expose metrics. but I found there are some tags below:
[code]

Actually, I dont need this tags. How to exclude them ?

[2020-07-20 11:21] micheljung opened #2196 "ElasticMeterRegistry: template index pattern is hardcoded to metrics*"
The index name is configurable:
https://github.com/micrometer-metrics/micrometer/blob/a0e46fd4438dbcb9aeead1a5ebbf59d9c5bba0fb/implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java#L291-L294

However, the index pattern in the template is not:
https://github.com/micrometer-metrics/micrometer/blob/a0e46fd4438dbcb9aeead1a5ebbf59d9c5bba0fb/implementa

[2020-07-20 11:35] izeye commented on #2195
This is a duplicate of https://github.com/spring-projects/spring-boot/issues/22404 that has already been answered.

[2020-07-20 11:35] #2195 closed

[2020-07-20 12:48] izeye commented on #2196
@micheljung Thanks for the issue. This seems to be an oversight. I created https://github.com/micrometer-metrics/micrometer/pull/2197 to try to resolve this.

[2020-07-20 13:19] micheljung commented on #2196
Thanks for the quick fix! #2197 looks exactly as it should be :-)

[2020-07-20 13:24] akibabu commented on #1996
I'm not 100% sure this is the same question but.

@jkschneider Is it a requirement in Prometheus?
We are now running a patched version removing this piece of code and it seems to be working fine.
Both scraping the actuator endpoint and the Pushgateway client.

Inspired by this answer https://github.com/micrometer-metrics/micrometer/issues/877#issuecomment-651356213

But that answer creates a new C

[2020-07-20 14:27] Lovnx commented on #2195
Thanks!

[2020-07-21 08:40] wuguanyu commented on #1534
I already encounter this issue，systemCpuUsage is different from k8s pod cpu monitor

[2020-07-21 11:35] davidch93 commented on #2177
Yes, I also found the same issue here. This is pretty serious issue for me.
Thank you

[2020-07-21 12:03] CoderLan0668 commented on #2194
as #1712   The CommonObjectPool metrics will publish in 1.6.0， so when？

[2020-07-21 21:02] dennysfredericci commented on #2176
Hi @shakuzen

Just noticed now, I did the PR for master branch should I change it to 1.1.X branch?

[2020-07-22 11:53] shakuzen commented on #2190
We have seen this before, but it is a bit generic. Without a more specific error than `AsyncTaskException: Asynchronous task failed` it is hard to say what we are doing wrong in Micrometer code. It looks like the call to `createTimeSeries` is failing, but why is the question I think we need answered.
Please also make sure you are using the latest versions available when reproducing this.

[2020-07-22 12:00] boyan-velinov commented on #2193
Thanks for the suggestion but I am afraid that this is not very sensible for our use case because we have to drill down in two different systems for root cause analysis.

Now we are considering some approach to handle the lifecycle of meters on our own.
Are you aware of some option to check whether one meter has already been updated. Or for example if one meter is not been updated recently.
In thi

[2020-07-22 17:07] #2188 closed

[2020-07-22 17:36] shakuzen commented on #2140
I understand a lot of people are seeing this issue. The difficulty to reproduce this in a predictable and controlled way is making it difficult to track down its cause. It is possible that [this leak in reactor-netty](https://github.com/reactor/reactor-netty/pull/1172) is the cause. I've upgraded in snapshots (#2188) to the version of reactor-netty with the leak fix. I am wondering if that helps w

[2020-07-22 19:59] msalemcode opened #2201 "Micrometer support for Dependency Tracking"
I am new for micrometer. I am trying to convert my Java Spring from using Application Insight Telemetry client to user  `io.micrometer.azuremonitor` In Telemetry I can establish dependency tracking

`DependencyTrackingTelemetryModule depModule = new DependencyTrackingTelemetryModule();
    depModule.Initialize(TelemetryConfiguration.Active);`

My goal is to when I submit a Rest Call to get the dur

[2020-07-22 21:11] dennysfredericci commented on #2054
Hi @dragneelfps 😊

Thank you for your suggestion, I just create a PR to add the host.

[2020-07-22 21:30] dennysfredericci opened #2203 "HTTP GET call throw NPE with JettyClient"
A simple http get call with JettyClient throw a NPE with micrometer 1.5.1

A project which reproduces this issue: https://github.com/dennysfredericci/micrometer-http-get-throw-npe-jetty-client-2203

Exception:

[code]

[2020-07-23 06:54] shakuzen commented on #2201
Could you provide a link to some documentation describing the feature? I'm not familiar with it. It is possible that it is something outside the current scope of Micrometer.

[2020-07-23 07:39] shakuzen commented on #2203
Good catch. Thank you for the project to reproduce and a fix with test.

[2020-07-23 08:14] #2203 closed

[2020-07-23 09:57] #2130 closed

[2020-07-23 09:58] vasantharajankuduva opened #2206 "Http_Request metrics is not available"
When we implement Micrometer via Spring boot actuator, it is providing metrics with data for Http requests as well.
But when we use micormeter core jar for non spring boot application. We are not able to get Http requests metrics data.

Do we need to do any extra steps for the latter scenario?

[2020-07-23 12:56] ekennedy247 commented on #2140
I had this exception stop happening when I fixed the statsd host address I had forgot in one of my sub-modules to the correct address. After doing that, went from seeing this ~6 times a day to 0 over the last 24 hours.

Thanks, https://github.com/micrometer-metrics/micrometer/issues/2140#issuecomment-657171510!

[2020-07-23 13:24] kyrylo-novotarskyi commented on #2140
After upgrading to `1.5.3-SNAPSHOT` the issue exception stopped occurring, but started getting a bunch of warnings, such as:
[code]
Which is likely coming from this commit (dated **13th of June**):
https://github.com/micrometer-metrics/micrometer/commit/524da6968a85a5f2087aad273d18b4f3cea6257f

Since then, I have noticed that the DataDog sidecar container to the application was heavily resource-co

[2020-07-23 16:13] shakuzen commented on #2176
Resolved by #2183

[2020-07-23 16:28] shakuzen opened #2207 "Upgrade to wavefront-java-sdk 2.6.0"
There was an issue in previous versions of the Wavefront Java SDK (https://github.com/wavefrontHQ/wavefront-sdk-java/pull/152) where non-daemon threads caused applications to keep running that would otherwise finish execution. This can be particularly problematic for short-lived applications that don't exit because of this. Therefore, we will upgrade the version in Micrometer to avoid this problem

[2020-07-23 16:53] #2207 closed

[2020-07-24 02:07] shakuzen commented on #2206
Yes, something needs to do the instrumentation of whatever framework/library you are using for an HTTP server/client. Spring Boot is what does that when Spring is the framework. You can check the (auto-)configuration code Spring Boot provides to see if you can perhaps reuse some of that code outside of a Spring Boot application. Otherwise, you could try with the `TimedAspect` and `@Timed` annotati

[2020-07-24 02:07] #2206 closed

[2020-07-24 02:35] kdamevin commented on #2140
Getting the issue as well with micrometer 1.5.2.
However we encountered another issue in 1.5.1 with duplicate metrics being sent (https://github.com/micrometer-metrics/micrometer/issues/2138) so not easy for us to downgrade. Not sure what's better 😓

[2020-07-24 04:48] SubhamSinghal commented on #2206
Can we add filter in micrometer to collect http metrics?

[2020-07-24 06:02] tzolov opened #2208 "Document that the long-task-timers behavior for step meter registries (such as Wavefront)"
It took me some time to realize why the `long-task-timers` reports only zeros for tasks that last less than a minute.

It will help if this behavior is explained in the long-task-timers documentation.

[2020-07-24 06:14] DanielYWoo opened #2209 "Do we have a plan to support kafka with micrometer-registry-elastic?"
When we have many data to push to ElasticSearch, it might get ElasticSearch overloaded, so do we have plan to add kafka between the application and ElasticSearch?

[2020-07-24 07:25] shakuzen commented on #2176
@bol-com-pschmitz would you confirm if the issue is fixed for you? The fix is available in versions 1.1.16, 1.3.11, and it will be in the upcoming 1.5.3 release (you can try the latest snapshot version 1.5.3-SNAPSHOT for now).

[2020-07-27 05:33] vasantharajankuduva commented on #2206
Can you provide us some example on this? Or why is it not available as out of the box from Micrometer?

[2020-07-27 09:17] shakuzen commented on #2206
Possibly. Usually frameworks on top of servlet have more context than the servlet layer does when instrumenting, so it's better to instrument the higher-level frameworks. If there's a use case for this (building applications using servlets directly with no framework), feel free to open an enhancement request and we can consider it. Having something like this would make double instrumentation likel

[2020-07-27 09:22] shakuzen commented on #2206
My previous answer was largely assuming the non-Spring Boot applications mentioned are still Spring applications. If that's not the case, much of the answer remains the same in that there needs to be some support for offering out-of-the-box metrics with Micrometer, which generally means some kind of auto-configuration mechanism. If you'd like to discuss specifics of your situation more, Slack is p

[2020-07-27 09:52] larsduelfer opened #2212 "KafkaClientMetrics not working as expected (topic names missing etc.)"
Hi all, we are currently upgrading from Spring Boot 2.2.7 to Spring Boot 2.3.1 and therewith we also want to start using the new KafkaClientMetrics using the FactoryListener from Spring Kafka.

However, we currently see that the **metrics do not contain all expected tags (like topic names etc.)** and that **not all topic-related metrics are provided for all topics**.

In the example below you can

[2020-07-27 10:52] SubhamSinghal opened #2213 "Add servlet filter in micrometer to collect http metrics"
I am using spring based application and micrometer to collect metrics. Micrometer does not provide http metrics out of the box. It would be better if we can add a servlet filter to collect http metrics.

[2020-07-27 10:53] SubhamSinghal commented on #2206
Created a new issue for this. https://github.com/micrometer-metrics/micrometer/issues/2213

[2020-07-27 14:55] lmlsky opened #2214 "@Timed in any Spring-managed bean not work when called in same bean"
1：`@Timed` in any Spring-managed bean not work
 maven config
[code]
2：code
[code]
3：code
[code]

[2020-07-27 16:08] checketts commented on #2214
Is the code calling the `fly()` method in the same bean? If so it won't use the proxy and will bypass the timing.

[2020-07-27 16:23] lmlsky commented on #2214
yes, in the same bean

[2020-07-27 23:11] dennysfredericci commented on #236
Hi @jkschneider :blush:, hello from Belgium!  :belgium:

This is already implemented by [OpenFeign](https://github.com/OpenFeign/feign#micrometer) the only missing part is a builtin/autoconfiguration solution.

@crashodd  [here](https://github.com/dennysfredericci/open-feing-demo-micrometer) is a working example that can be used as a reference.

On Spring Cloud OpenFeign there is the issue [#354](

[2020-07-28 03:13] shakuzen commented on #2140
I believe the last upgrade to reactor-netty containing the mentioned fix above https://github.com/micrometer-metrics/micrometer/issues/2140#issuecomment-662588380 has resolved the original issue here. Therefore I'd like to close this issue. We can reopen and investigate if anyone is still experiencing it on the latest 1.5.3 or later. As for the new exception mentioned by @kyrylo-novotarskyi, I'd l

[2020-07-28 03:13] #2140 closed

[2020-07-28 03:27] shakuzen commented on #2177
After a lot of investigation and debugging with the help of @violetagg, I think we understand what is happening and have an idea for a fix, which we will need some people experiencing this to test out with snapshots once available. I have no way of reliably triggering this issue, despite much effort. To state what we think we know about the issue:

* micrometer-registry-statsd with UDP from versio

[2020-07-28 06:23] DanielYWoo opened #2215 "Incorrect putCount() implementation with CaffeineCacheMetrics"
In CaffeineCacheMetrics, the counter for put(...) is loadCount(). But the loadCount works with get(key, mappingFunc)
, it seems not working with put(...)

[code]

I did not see any call to cache().statsCounter().recordPutSuccess() or recordLoadSuccess() in put(...)

Guess I misunderstood something? Shall we have a recordPutSuccess() and a putCount() method in CaffeineCacheMetrics?

[2020-07-28 22:51] mveitas commented on #2177
We are experiencing an issue like this. I'll collect some dumps to confirm the similar behavior, but happy to test it out with a snapshot. We can reproduce the issue easily in our Kubernetes cluster by restarting the daemonset that is running DataDog.

[2020-07-28 23:22] carl-pritchett commented on #2140
@shakuzen I'm seeing this on 1.5.3
`LEAK: ByteBuf.release() was not called before it's garbage-collected. See https://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records:
Created at:
	io.micrometer.shaded.io.netty.buffer.PooledByteBufAllocator.newDirectBuffer(PooledByteBufAllocator.java:363)
	io.micrometer.shaded.io.netty.buffer.AbstractByteBufAllocator.directB

[2020-07-29 06:00] kdamevin commented on #2140
@shakuzen We are seeing the same issue @kyrylo-novotarskyi mentioned above since we bumped to 1.5.3. Is that tracked somewhere else?

[code]

[2020-07-29 13:36] boyan-velinov opened #2216 "Multiple registered custom metrics in Dynatrace by one Timer"
Hi,

When we register one Timer in DynatraceMeterRegistry, the result is multiple custom metrics in Dynatrace.
For example:
Registered one timer with name: `my.timer`
Custom metrics in Dynatrace: `my.timer.max`,  `my.timer.avg`, `my.timer.sum` and `my.timer.count`

I believe these values are related to Dynatrace `aggregationType` on custom metric level:
https://www.dynatrace.com/support/help/dynat

[2020-07-30 09:34] franz1981 commented on #522
Hi, I've just implemented for https://github.com/apache/activemq-artemis/ a Netty pooled allacator `MeterBinder`: right now I'm pushing it in a PR for artemis but I would be more then happy to send a PR here as well...anyone interested? :)

[2020-07-30 14:45] bol-com-pschmitz commented on #2176
I'm testing it. At first glance it looks like now it might be undercounting. I'm not sure what constitutes a "batch", but if it can result in more than one log entry than this is not going to work.

[2020-07-31 00:07] sguillope opened #2218 "Lots of 'ConcurrentModificationException: null' since upgrading to 1.5.3"
Since upgrading micrometer to 1.5.3, we're seeing load of these exceptions in our logs with warning message `Error while discarding collection, stopping`.
This has already been mentioned in
https://github.com/micrometer-metrics/micrometer/issues/2140#issuecomment-663004911 but figured I'd create a separate ticket for it.

Environment:
- Java 11
- Spring Boot 2.3
- Micrometer 1.5.3
- Using statsd

[2020-07-31 04:29] DanielYWoo commented on #2209
anybody has interests to discuss this?

[2020-07-31 08:42] garry-mcfly commented on #2218
I've seen the same behaviour in our scenario.
Even worse it seems that it runs into an endless loop afterwards consuming a lot of cpu time and stop reporting any metric values.

Except from stack trace:
`   java.lang.Thread.State: RUNNABLE
	at java.lang.Object.hashCode(Native Method)
	at java.util.HashMap.hash(HashMap.java:339)
	at java.util.HashMap.put(HashMap.java:612)
	at java.util.HashSet.add(

[2020-07-31 18:32] arohatgi opened #2219 "StatsdMeterRegistry unable to resolve dns updates."
While running the statsD meter plugin, noticed that dns is not resolved. And even after dns update it keeps sending traffic to old dns. It is most probably due to host connection are not resolved and only when connection fails it recycles the connection. Ideally tcp client connection  should resolve the dns updates.

Adding a dns resolver to  tcpClient should help resolve this.

_tcpClient.resolve

[2020-08-02 13:01] domagoj-tokic commented on #236
This only provides SUM, COUNT and MAX for requests for Client, Encoder and Decoder.
If the primary reason you need it is monitoring response statuses and more detailed tracking of request times (like histograms), you still need custom implementation using @Timed with Spring AOP

`@Configuration
@EnableAspectJAutoProxy
public class AutoTimingConfiguration {
    @Bean
    public TimedAspect timedAsp

[2020-08-03 23:01] aarya123 commented on #2177
I hit a similar wall with this issue as well, and while I was not able to get a repro in a test env outside of my macbook, I think this issue might be easily solved by using the `DatagramChannel` directly. It seems like sending metrics in general is specific to every backend impl, so nothing is keeping MM on the reactive netty client specifically? If so, I'd recommend looking at https://github.com

[2020-08-04 02:03] kdamevin commented on #2218
We have been noticing the same issue and it seems highly related to some high memory usage/memory leaks on our side.

I am not entirely sure in which condition it happens but I compared two similar instances at the same time. One was using above 6gb of memory before It died and I could see this `Error while discarding collection / ConcurrentModificationException` error more than 20k times in the l

[2020-08-04 03:50] xiaobing395845388 commented on #1534
@shakuzen  Any update on this issue?

[2020-08-04 12:00] esocode opened #2222 "Resource leak exception from statsd implementation"
I am using the micrometer statsd implementation as a dependency of the _micronaut-micrometer_ project. It is currently referencing version 1.5.1 but I couldn't find another (closed) issue reporting this. Yesterday I had deployed 2 rather simple REST services into a Kubernetes cluster. The services are part of a larger deployment and had therefore not yet been used. When I looked at the container l

[2020-08-04 13:53] jackhammer2k opened #2223 "support of dynamic tags where the value can change during runtime"
I have a feature request for dynamic tag value evaluation. Currently the values of tags must be specified at creation time. However there are cases where they change during runtime. Specifically in my case I want to identify the leader of several instances with a tag. I want to add that tag as a common tag, because it applies to all meters. Because the tag value can change during runtime I cannot

[2020-08-04 20:13] nikitwaghelasonos commented on #2218
I see this when running a service in docker as well. it was functioning fine until https://github.com/micrometer-metrics/micrometer/issues/2140 showed up on 1.5.1, Upgrading to 1.5.3 started showing lot of cme's.
Is there a timeline when this will get fixed and in which version?

[2020-08-05 14:23] shakuzen commented on #2176
@bol-com-pschmitz Thanks for testing. Let us know if there's another issue. If we can get a unit test to reproduce, that'll be best so we can make sure it gets fixed properly and stays fixed.

[2020-08-05 14:30] shakuzen commented on #2219
As far as I can tell, the Reactor Netty TcpClient will use a default resolver of `DefaultAddressResolverGroup`. Whatever the resolver, as far as my understanding, it will only be used when creating a new connection.

I'm reopening #1252 as I don't think it was ever resolved and it has some history on this feature request. I'll close this as a duplicate accordingly.
Duplicate of #1252

[2020-08-05 14:30] #2219 closed

[2020-08-05 15:38] bol-com-pschmitz commented on #2176
Unfortunately this approach does not work. It counts batches of log events, not log events. This small change to the unit test added by @dennysfredericci demonstrates it:

[code]

[2020-08-05 15:41] bol-com-pschmitz commented on #2176
This means the issue has not been fixed and should be reopened.

[2020-08-05 20:23] dennysfredericci commented on #2176
Indeed I can see it as well :disappointed:

[2020-08-06 06:28] bol-com-pschmitz commented on #2176
Sorry @dennysfredericci . I appreciate your effort! But I still think that this should not be implemented as a filter at all. Filters can be invoked any number of times and should not have side effects such as incrementing counters.

[2020-08-06 06:34] shakuzen commented on #2176
I'm no log4j2 expert, so I'm hoping we can get some help on a solution for this from someone more knowledgeable than me on this area. I've marked the issue as `help wanted`.

[2020-08-06 09:21] admoca60 opened #2226 "NaN or question mark "?" as value of mean field in InfluxLine protocol"
Dear all

I have a system with InfluxMeterRegistry configured as default MeterRegistry.

Sometimes, I could see some strange values for some fields in TomcatMetrics, but I suspect that this is not strictly related to any MeterBinder but the core for StepMeterRegistry model.

In my example, we can see how any specific Tomcat metric for influx has the following behaviour:

[code]

Other times, in ot

[2020-08-06 12:01] izeye commented on #2226
@admoca60 Thanks for the issue!

This seems to be similar to #1932, but for `InfluxMeterRegistry`. I created https://github.com/micrometer-metrics/micrometer/pull/2227 to try to resolve this.