[2019-03-26 13:16] robertalpha commented on #1268
@LukeDefeo @mglebka I was facing the same problem, and created a separate issue for this as it seems to be unrelated to the http2 exception from your original post.
As a local workaround I copied the StackdriverMeterRegistry class and changed a line, which could be useful for you. here is the opened issue if you're interested: #1325

[2019-03-26 13:44] shakuzen commented on #620
Sorry for the delay in reviewing the pull request and getting this in a release. I've optimistically marked this for 1.2 so we can review it when merging changes for that.

[2019-03-26 14:16] malex211 opened #1326 "Make document type configurable in ElasticMeterRegistry"
Currently the document type of the metrics is hardcoded to be `doc` in `ElasticMeterRegistry`. It would be nice (in our case even necessary) to make type configurable.

[2019-03-26 14:47] zeratul021 opened #1327 "Transformation of Meter to Influx line protocol has always 'unknown' metric_type"
Fork from issue #1296.

Transformation of Meter to Influx line protocol adds Tag *metric_type* with hardcoded value **unknown**.
I think it should respect the registered type from **Meter.getId().getType()**.

[code]
I'd propose following:

1. use *Meter.getId().getType().toLowerCase()* directly in *influxLineProtocol()*, drop the String metricType parameter

or in case this would cause an interna

[2019-03-26 15:15] laxika commented on #1314
I know it's intentional. I would like to print out the actual count for a counter and not just the rate. Also I would like to edit the message format.

[2019-03-26 15:30] malex211 opened #1329 "Add option to extend ElasticMeterRegistry and override producing timestamp value"
The goal is to save custom timestamp values with metrics document (override the way how timestamp value is generated).

In our application we use the same timestamp format in every index: epoch seconds. Although the name of the timestamp field is configurable, the way how the value is generated is hard-coded, and cannot be changed. I think it would be nice to have the option to extend `ElasticMete

[2019-03-26 16:12] malex211 opened #1331 "Add option to extend ElasticMeterRegistry and override producing index name"
The goal is to add option to override the current index name format.

Currently generating the index name is not very generic: it uses a prefix, a separator and a date postfix. Although all three can be configured, there's no way to use an index with custom format. I think making the indexName method protected gives the developers the option to override the current behaviour.

[2019-03-26 18:50] ricardona commented on #537
@blacar any news making the @Timer work out of Spring Boot?

[2019-03-27 06:31] shakuzen commented on #1314
Thanks for the details. A pull request would be welcome.

[2019-03-27 06:36] #1291 closed

[2019-03-27 08:35] shakuzen commented on #1325
This is a side effect of #998.

[2019-03-27 16:16] cbismuth opened #1335 "[Stackdriver] One or more of the points specified had an older start time than the most recent point"
Micrometer 1.1.3
Spring Boot 2.1.3.RELEASE

Hi,

We're trying to setup Micrometer with Stackdriver with the Spring Boot integration and we have this error message below. Did we miss some configuration?

Thank you,
Christophe

[code]

Stackdriver properties:

[code]

Stackdriver configuration:

[code]

Meter registry declaration:

[code]

Exception:

[code]

[2019-03-27 20:10] laxika commented on #1314
I created a PR for this one. Not exactly what I have originally planned but I think it's even better.

https://github.com/micrometer-metrics/micrometer/pull/1336

The Printer was very tightly coupled to the Registry and I don't want to make any huge changes on that.

[2019-03-27 23:49] martel commented on #457
This would also be useful while reporting to Cloudwatch where you could use StatisticSets:
https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_StatisticSet.html

Instead of emitting each value separately in the reporter:
https://github.com/micrometer-metrics/micrometer/blob/master/implementations/micrometer-registry-cloudwatch/src/main/java/io/micrometer/cloudwatch/CloudWatchMeter

[2019-03-28 03:20] shakuzen commented on #1335
`Timestamps: {Youngest Existing: '2019/03/27-09:04:51.023', New: '2019/03/27-09:04:51.023'}` leads me to believe reporting is happening twice at the same timestamp. I'm not sure how that would happen.

[2019-03-28 03:42] checketts commented on #1335
Could they have duplicate registries? Then it would punish twice at the same time?

[2019-03-28 04:54] jkschneider commented on #1232
Since statsd sends a payload for every event that happens, I would expect to see Micrometer Statsd appear in many thread dumps. But these threads are marked as RUNNABLE which indicates to me that we'd expect them to complete normally.

If the job does exceed a resource saturation threshold and is crashing, I would expect telemetry to be unavailable like the rest of the service.

What makes you bel

[2019-03-28 15:10] cbismuth opened #1340 "[Stackdriver] A maximum of 200 TimeSeries can be written in a single request"
Micrometer 1.1.3
Spring Boot 2.1.3.RELEASE

Hi,

We're encountering this quotas-related error below, should this be handled by Micrometer or by ourselves?

Thanks,
Christophe

Error message:

[code]

Code sample:

[code]

References:
* https://cloud.google.com/monitoring/quotas

[2019-03-28 15:33] cbismuth commented on #1340
I'll try to override the default batch size which is 10 000.

[code]

[2019-03-28 16:09] cbismuth commented on #1340
After debugging, the `i.m.s.StackdriverMeterRegistry#publish` API finely gets a batch size value of `200`, but we still have the warning in logs and no metric pushed in Stackdriver.

[2019-03-28 16:20] cbismuth commented on #1340
Finally got to make it work with a batch size value of `199`, this may be related with the `i.m.c.i.u.MeterPartition#partition` API with max value excluded or not.

Maybe a `StackdriverProperties` class should be provided with Micrometer to override the default batch size with a value of `199`, I can open a PR if you want.

[2019-03-28 16:45] shakuzen commented on #1340
Thank you for reporting this issue, and sorry for the inconvenience.

Changing the default is probably also a good idea, but since the Stackdriver API cannot accept more than 200 time series in a request, we should not try to send more than that, even if a user configures that. New Relic has a similar limitation; see
https://github.com/micrometer-metrics/micrometer/blob/6c657f93479b03835478153c33c

[2019-03-28 16:48] shakuzen commented on #1335
@cbismuth would you be able to provide a sample project that reproduces this issue using Micrometer? That would help me be able to debug what's happening.

[2019-03-28 16:54] cbismuth commented on #1335
I can safely say no, I've created a Spring test with an injection of all beans of type `StackdriverMeterRegistry` and the list of beans has a size of 1.

[2019-03-28 16:55] cbismuth commented on #1335
I'll try to do so.

[2019-03-28 17:12] cbismuth commented on #1340
Thank you for the pointer @shakuzen, I'll open a PR tomorrow.

[2019-03-29 04:56] shakuzen commented on #1228
I have spent substantial time looking at the exception handling and differences between registry implementations. I think changing that is bigger scope than what should be tackled here, in a patch release. I have opened #1342 as the fix for the underlying issue here: `publish` can throw uncaught exceptions which aren't logged. Uncaught exceptions happening is almost certainly a bug in Micrometer c

[2019-03-29 07:20] shakuzen opened #1343 "NaN gauge values not always filtered out"
#1116 intended to fix the issue of sending `NaN` values to Dynatrace, which is not valid JSON and results in a failure. In trying to use the DynatraceMeterRegistry, I get a failure like the following:

[code]

Debugging and looking at the request payload, I can see that `NaN` is trying to be sent in a dataPoint like:

[code]

Looking at the code, it seems the issue is that some gauges can return a

[2019-03-29 07:35] shakuzen opened #1344 "Include status code in logging on HTTP failure publishing to New Relic"
When getting a 403 response from New Relic sending metrics, there is an empty response body, so the following code ends up logging an unhelpful message: `2019-03-29 16:33:21.322 ERROR 62615 --- [      Thread-15] i.m.newrelic.NewRelicMeterRegistry       : failed to send metrics to new relic: {}`

https://github.com/micrometer-metrics/micrometer/blob/6c657f93479b03835478153c33cde4122b7b7ac2/implemen

[2019-03-29 07:59] izeye commented on #1343
@shakuzen Oops, sorry. If you didn't start working on it yet, I can work on it although its fix seems obvious already thanks to your analysis.

[2019-03-29 08:05] shakuzen commented on #1343
@izeye feel free to send a pull request. I've got plenty of other things to work on :)

[2019-03-29 08:29] #1344 closed

[2019-03-29 10:44] izeye commented on #1343
@shakuzen Thanks for the prompt response! I created https://github.com/micrometer-metrics/micrometer/pull/1345 to resolve this.

[2019-03-29 10:45] danieljamesscott opened #1346 "Metric names are changed in CloudWatch"
I've noticed that commit https://github.com/micrometer-metrics/micrometer/commit/b7bbea3d6935aaf794d538cf5f6da5155c9bb93f caused a change to the metric names published to CloudWatch. e.g. 1.0.5 sends

```MetricName: jvm.memory.used,Dimensions: [{Name: area,Value: heap}, {Name: statistic,Value: value}]```

But 1.1.3 sends

```MetricName: jvm.memory.used.value,Dimensions: [{Name: area,Value: heap}]`

[2019-03-29 12:23] cbismuth commented on #1340
I've opened a PR #1347.

[2019-03-30 00:31] zeratul021 commented on #1327
@shakuzen - waiting for triage - do you think this can fit in 1.1.4 milestone?

[2019-03-30 04:58] shakuzen commented on #1327
I wasn't sure why one would want to make a custom `Meter` with a type of a first-class meter instead of just using the first-class meter, but I suppose there are cases for those types with semantics that differ from Micrometer's implementation. So this change seems reasonable to me.

[2019-03-30 05:07] shakuzen commented on #1327
Though changing the value of the `metric_type` tag in a point release for custom meters would be a breaking change for people relying on the current value. This makes me lean towards pushing this change out to the 1.2.0 feature release.

[2019-03-30 05:16] shakuzen commented on #1343
It is interesting to note that `com.sun.management.OperatingSystemMXBean#getSystemCpuLoad` is sometimes returning `NaN` which its JavaDoc doesn't indicate it should ever do. JavaDoc states it should return a negative value if unavailable. This could be a non-issue if we replace this implementation with OSHI, but maybe we want to do something about it in the maintenance branches anyways.

[2019-03-30 05:16] #1343 closed

[2019-03-30 05:23] #1228 closed

[2019-03-30 05:41] shakuzen opened #1348 "Ambiguous use of Tag in CloudWatchMeterRegistry"
Builds of `master` have started to fail on CloudWatchMeterRegistry because we use star imports of a cloud watch package and a micrometer package that in a recent version of the cloud watch artifact contain a `Tag` class that the compiler cannot determine which package's class to use.

For example, see https://circleci.com/gh/micrometer-metrics/micrometer/3496

[2019-03-30 05:53] shakuzen commented on #1348
Not an issue in maintenance branches due to the locking of the dependency version to one without the `Tag` class in the Cloud Watch package.

[2019-03-30 05:56] #1348 closed

[2019-03-30 06:21] izeye commented on #1343
@shakuzen Thanks for the more information! I think it needs to be fixed regardless of it as there could be any custom meter having this behavior.

[2019-04-01 10:17] zeratul021 commented on #1327
Exactly our use-cases.

Meter type is an enum so if I'm forced to choose between _other_ and anything more specific, I'll lean towards the latter.

You are right. I was thinking of that too.
Maybe we could add a new field **metricType** to _Meter_ that would be used translated to **metric_type**  with default value set to current **unknown**. That way it would be backwards compatible.

[2019-04-01 10:47] olamelin commented on #1292
Since my last comment I created a parallel image of our code that was based on a openjdk12 image. In order to see if the JDK issue was the cause.
The one using openjdk12 has not reported the stack overflow the last 6 days but the parallel image (which was restarted) has shown this error multiple times.
In other words I think it is safe to say that this issue is caused by the bug described here htt

[2019-04-01 14:03] blaszczyk opened #1349 "Memory leak in JvmGcMetrics.bindTo"
`JvmGcMetrics.bindTo` registers a listener in the Jvm Gc system:
`((NotificationEmitter) mbean).addNotificationListener((notification, ref) -> {...})`
without the possibility to ever remove it. In an application server environment like tomcat, when undeploying an application that includes micrometer, this prevents the applications classloader together with its whole metaspace from being garbage co

[2019-04-01 15:43] tarunrathor-pro opened #1350 "Interpretation: What does http_server_requests_seconds_max measure"
Based on available documentation it is not clear what does the following micrometer/promethues  measure.
http_server_requests_seconds_max

[2019-04-01 15:55] checketts commented on #1350
It measures how long the longest request took for a given `uri` tag in the last minute (I believe that is configurable).

If a given uri hasn't been called in that minute then you won't have a value.

[2019-04-01 15:58] tarunrathor-pro commented on #1350
@checketts  Thanks for the answer.
In Prometheus what is the TYPE of this metric

[2019-04-01 16:01] checketts commented on #1350
Off the top of my head it would be a gauge.

[2019-04-01 16:02] checketts commented on #1350
To make this issue actionable @tarunrathor-pro Can you provide a link to the documentation that you found confusing?

[2019-04-01 16:29] tarunrathor-pro commented on #1350
I want to implement a similar metric for node.js using prom-client so that we can uniformly define this metrics across java/node.js. Was curious to know the measurement , TYPE and logic to arrive at this in micrometer so that i can do a similar implementation for node.js

[2019-04-01 16:38] checketts commented on #1350
At a high level is it an addition to `Timer` and is implemented via [TimeWIndowMax](https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/distribution/TimeWindowMax.java).

@jkschneider Would know the finer points. But my high level understanding is they use a ring buffer to hold onto just the last minute's values and report that m

[2019-04-01 21:37] izeye commented on #1349
@blaszczyk Thanks for the report! I created https://github.com/micrometer-metrics/micrometer/pull/1352 to try to resolve this.

[2019-04-02 02:44] shakuzen commented on #1292
@olamelin thank you for the testing and reporting back. Ouch, though. It doesn't seem there's anything we can do in Micrometer if that's the cause.

[2019-04-02 02:51] shakuzen commented on #1350
When looking at the Prometheus endpoint for my Micrometer app, it gives the TYPE for every metric like

[code]

[2019-04-02 03:10] #1349 closed

[2019-04-02 06:48] blaszczyk commented on #1349
Thank you for fixing this so quickly. One last question: Will the removal of the listeners be triggered automatically, in particular when using micrometer with spring-boot-actuator, or are there actions required in the client code?

[2019-04-02 07:03] izeye commented on #1349
@blaszczyk I'd expect the Spring framework invokes its `close()` on context close.

[2019-04-02 08:45] srdo opened #1354 "gmetric4j license issue"
gmetric4j depends on org.acplt.remotetea:remotetea-oncrpc, which is under LGPL license.

The Ganglia integration uses gmetric4j, which is why Dropwizard Metrics removed support for Ganglia recently https://github.com/ganglia/gmetric4j/issues/9.

I'm guessing this is also an issue for Micrometer.

[2019-04-03 06:32] #1340 closed

[2019-04-03 06:41] shakuzen commented on #1343
I agree. I mean that in addition to this we may want to look into the unexpected behavior more since it could affect other registries.

[2019-04-03 06:50] shakuzen opened #1357 "Improve logging for Dynatrace publish failures"
To get to root cause on #1343, I had to debug from an IDE to see the request payload and identify the root cause of the exception the Dynatrace API was returning. Users have also asked for logging the payload of failed requests in #1289. We do not want to be too verbose but make it possible for users to identify the issue to easily report things that may not be easily reproduced in a sample projec

[2019-04-03 06:53] #1357 closed

[2019-04-03 11:02] Imaskar opened #1358 "Big increase in p99 latency after migrating to 1.1.3"
### Setup
A microservice on Java 8, Spring 1.5, Tomcat 8, Micrometer 1.0.5. Two registries are configured for Micrometer: New Relic and Prometheus.

### Problem
After upgrading from `1.0.5` to `1.1.{0,3,4-SNAPSHOT}` we see a big increase in p99 latency our endpoints, while the average latency stayed the same. Also we see a big latency increase on Prometheus scraping endpoint.

Old p50: 4 ms
Old p9

[2019-04-03 12:18] jens-meiss commented on #1292
ok, we'll wait for the next jdk-11 updates and see if we'll have the problem again, we had the problem only 2 times in the past 4 months, maybe it will take a while until we see it again ...

@olamelin thanks for you investigation
@izeye you can close the ticket if you want to, i'll open a new one if we see the error again after the jdk-11.0.3 release

[2019-04-03 13:45] #1292 closed

[2019-04-03 21:28] cbismuth commented on #1340
Version 1.1.4 solves this issue, thanks @shakuzen for this quick release :+1:

[2019-04-04 07:08] #1281 closed

[2019-04-05 14:52] mcgin opened #1360 "StackdriverMeterRegistry failing with Header size exceeded max allowed size"
This is with Spring boot 2.1.4 and micrometer 1.1.4.  Nothing particularly special with the config I don't think

Stackdriver config:

[code]

Registry bean:

[code]

Stack trace:
[code]

[2019-04-05 23:20] izeye commented on #1360
Duplicate of #1268

[2019-04-05 23:20] #1360 closed

[2019-04-05 23:21] izeye commented on #1360
@mcgin Thanks for the report but this is a duplicate of #1268.

[2019-04-07 05:52] shakuzen commented on #1268
I think we need to understand what affects the header size so we can prevent making a batch of metrics to send that exceeds the allowed header size. It is strange to me though that the step interval seems to affect this. I would think the batch size alone would affect the header size.

[2019-04-07 12:10] aivans commented on #1265
This is useful.

Would this affect the cardinality?

[2019-04-08 05:58] punitsi opened #1364 "Instrument Apache CXF's JAX-RS implementation"
Metrics http_server_requests_seconds_count in Spring Boot application with version 2.0.8.Release exposed using spring actuator contains uri as "UNKNOWN". Spring Boot application is using cxf-spring-boot-starter-jaxrs for exposing rest endpoints.
I have added micrometer-registry-prometheus dependency in my project.
[code]

Actual
[code]
Expected:
[code]

 micrometer-cxf implementation i believe sim

[2019-04-08 07:49] shakuzen opened #1366 "Document (non-)LTS versions"
Documentation has been added to the website at https://micrometer.io/docs/support, but we should also make the LTS/non-LTS versions clear in the README.

[2019-04-08 07:50] #1366 closed

[2019-04-09 04:49] pukkaone opened #1368 "JVM memory metrics value smaller than expected"
Sorry for the noise. My Datadog dashboard was not summing over the `id` tags of the `jvm.memory.max` metrics.

[2019-04-09 04:54] #1368 closed

[2019-04-09 09:12] mmaia opened #1370 "Micrometer logs error message when partial error happens due to Infinity value using Elasticsearch"
Micrometer core and  micrometer-elastic version: 1.1.3

Springboot version: 2.1.3.RELEASE

Hi, Using micrometer getting metrics from springboot application using `micrometer-registry-elastic`

Micrometer keeps logging error messages:

`ERROR [market-fetcher,,,] 8106 --- [trics-publisher] i.m.elastic.ElasticMeterRegistry         : failed to send metrics to elastic:`

When checking elastic index it'

[2019-04-09 10:08] izeye commented on #1370
@mmaia Which version of Micrometer are you using? I expect it's been fixed since 1.1.2 thanks to #1135.

[2019-04-09 12:05] mmaia commented on #1370
I've updated the issue to have the versions:

Micrometer core and micrometer-elastic version: 1.1.3

Springboot version: 2.1.3.RELEASE

I am having a hard time tracing out which metric it is, any tips to make it easier to find out? We have dozens of metrics in this service so it's hard to track and I don't see any references to the specific metric that is failing. I could provide further details i

[2019-04-09 21:18] johnzeringue opened #1371 "Timer counts not published to Stackdriver"
The [Micrometer documentation](https://micrometer.io/docs/concepts#_counters) recommends

However, the Stackdriver backend doesn't seem to publish timer counts. I can't find them in Stackdriver and I don't see where they would be created in the code.

Can we add an additional Stackdriver metric (`my.timer.count`) when we publish timer durations?

[2019-04-10 01:06] izeye commented on #1370
It seems to be possible for custom meters to supply infinity or NaN.

@mmaia Do you have any custom meter which could supply infinities? It'd be good to have a sample to reproduce this if possible. In the mean time I created #1373 to help track down the cause of this.

[2019-04-10 04:38] izeye commented on #1370
@mmaia As #1373 has been merged, it'd be good to try 1.1.5-SNAPSHOT and report back its request body if this happens again.

[2019-04-10 04:51] shakuzen commented on #1364
I don't have any CXF experience, but I would first advise trying with the latest versions, as something may have been fixed. If it is not fixed in the latest versions, please provide a sample application where we can reproduce the problem to better understand what is missing.

[2019-04-10 06:22] izeye commented on #1370
I created [a sample](https://github.com/izeye/sample-micrometer-spring-boot/tree/micrometer-gh-1370) to reproduce this and got the following error:

[code]

I'm not sure it's the same cause as this issue but it's worth fixing regardless of it.

[2019-04-10 06:47] izeye commented on #1370
I created https://github.com/micrometer-metrics/micrometer/pull/1374 to try to resolve this. If the proposed fix is okay, I'll prepare the similar fixes across all meter registries which drop non-finite values for publishing.

[2019-04-10 06:50] shakuzen commented on #1371
Counts are published with the [Stackdriver Distribution](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/TimeSeries#Distribution) that we send for all DistributionSummary metrics (including Timers).

[2019-04-10 07:42] mweirauch commented on #1364
As already stated [here](https://stackoverflow.com/questions/55517471/metrics-http-server-requests-seconds-count-in-spring-boot-application-using-cxf#comment97771821_55517471), Apache CXF is an alternative JAX-RS implementation, which differs from the `micrometer-jersey2` one.

So I think one would need a Apache CXF specific implementation to produce HTTP request metrics like we do for Jersey2. (T

[2019-04-10 11:59] shakuzen opened #1375 "Expose buffered property for StatsdConfig"
This was added in #1046 and it needs to be made available from the Spring `ConfigurationProperties` class `StatsdProperties` and `StatsdPropertiesConfigAdapter` in our spring legacy module, and also in Spring Boot.

[2019-04-10 12:08] #1375 closed

[2019-04-10 15:12] mmaia commented on #1370
Yes, I get those from kafka client in producers and streams(which underlying wraps a consumer producer) when we get the metrics from them. It reports -Infinity and Infinity.

[2019-04-10 15:14] mmaia commented on #1370
This looks exactly like the original error I posted indeed.

[2019-04-10 15:33] #1254 closed

[2019-04-10 15:45] shakuzen commented on #1354
Thank you for bringing this to our attention. I'm not sure we have a good option other than to drop Ganglia support, then.

[2019-04-10 16:01] shakuzen commented on #422
Master is currently building with JDK 11 and using the `--release` flag for compatibility with Java 8. 1.1.x builds with both JDK 8 and JDK 10. Therefore, this issue can be closed as already resolved via other changes made.

[2019-04-10 16:01] #422 closed

[2019-04-10 20:35] johnzeringue commented on #1371
Thanks for the link! I'm new to Stackdriver

I see my metric in the Stackdriver UI with value type "Distribution", but there doesn't seem to any way to visualize the count in a line chart in Metrics Explorer.

Assuming I'm not overlooking something, would I need to create a separate `Counter` if I need to visualize counts?

[2019-04-11 08:43] shakuzen commented on #1371
I'm also new to Stackdriver, and I'm not sure the best way to visualize the count included in the Distribution. If we can find some resources on that, let's link them here for anyone else that finds this issue looking for the same thing. Stackdriver support resources are probably the best place to look for this, though. If for some reason the count in the Distribution cannot be visualized, we can

[2019-04-11 10:11] #1370 closed

[2019-04-11 10:17] shakuzen commented on #1370
@mmaia would you try out 1.1.5-SNAPSHOT with the fix from @izeye to see if it resolves the issue you were facing?

[2019-04-11 11:59] mmaia commented on #1370
sure, will do it now and get back to you here.

[2019-04-11 12:31] mmaia commented on #1370
@shakuzen - where should I get it from? I can't find a tag. Should I built it from branch 1.1.x?

[2019-04-11 12:33] izeye commented on #1370
@mmaia See the following configuration: https://github.com/izeye/sample-micrometer-spring-boot/blob/micrometer-gh-1370/build.gradle#L23-L39

[2019-04-11 12:40] shakuzen commented on #1370
As @izeye's sample shows, you just need to add to your build configuration the repository that we publish snapshots to (`https://repo.spring.io/libs-snapshot`) and then use the snapshot version `1.1.5-SNAPSHOT`.
https://github.com/micrometer-metrics/micrometer#snapshot-builds

[2019-04-11 14:22] johnzeringue commented on #1371
I found [this](https://cloud.google.com/logging/docs/logs-based-metrics/charts-and-alerts#features_for_distribution_metric_charts), which suggests that you can't do anything extra with a distribution other than build a heat map and visualize percentiles.

I'll see if I can't get in touch with support as well

[2019-04-12 07:03] mmaia commented on #1370
Hi guys, firs of all thank you for the quick support.

Unfortunately I am still having the issue. I took my time to test it to be sure. Here's the entry in a dependence tree(I use maven)...
[code]

The only strange thing is that 1.1.5 snapshot is bringing core 1.1.3. And in this setup the error still persists.

[code]

I will force core to also be in 1.1.5-SNAPSHOT and test it also, keep you poste

[2019-04-12 07:22] izeye commented on #1370
@mmaia To have consistent versions, you need to set the following property and drop version(s) on Micrometer dependencies if any to let Spring Boot manage versions for you:

[code]

As the fix lives in the `micrometer-registry-elastic` artifact, if the cause was the same, it should be fixed regardless of the version of the `micrometer-core` artifact.

Could you provide the request body by enabling

[2019-04-12 07:44] mmaia commented on #1370
Yes, I've tested with core also in snapshot and indeed same issue still there. It still looks the same: `[float] supports only finite values, but got [Infinity]`

I have also enabled debugging and only debug messages I got was a successfully sent(possibly in that case no Infinity was reported) and whenever there's Infinity in there the error pops up again:

<img width="1327" alt="Screen Shot 2019-

[2019-04-12 09:14] izeye commented on #1370
I expected the following debug log with the error log you were seeing if you have a correct snapshot: https://github.com/micrometer-metrics/micrometer/blob/1.1.x/implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java#L165

You can check whether you have a correct one by opening the source of the `ElasticMeterRegistry` in your IDE and seeing that t

[2019-04-12 09:27] mmaia commented on #1370
@izeye - I will have to blame IntelliJ for this one, after you pointed to the debug line I double check with the dependency tree and the version was correct 1.1.5-SNAPSHOT then I did a full: "Invalidate Caches / Restart" (damn IntelliJ) and after that it just works, sorry for the misleading message. It looks fixed indeed, great work. Thank you.

<img width="1195" alt="Screen Shot 2019-04-12 at 11

[2019-04-12 09:43] izeye commented on #1370
@mmaia Thanks for confirming the fix :+1:

[2019-04-13 20:37] mpoggy opened #1384 "StatsD SLAs Unusable (Datadog)"
### Problem
SLA metrics emitted from StatsD meters aren't currently usable to report violation counts. The counts reported to monitoring systems (Datadog) can contain samples that were recorded outside of a given time window making them inaccurate.

It appears that this is due to a few factors -

- The counts are collected via a `Gauge`, as gauges simply report the value of the SLA bucket at the t

[2019-04-14 19:01] mmaia commented on #1095
I can try helping here with this implementation. But after reading the linked issues and discussions it's still not clear to me which is the final decision. JMX or implementing [MetricsReporter](http://people.apache.org/~nehanarkhede/kafka-0.9-producer-javadoc/doc/org/apache/kafka/common/metrics/MetricsReporter.html) directly?
Indeed it seems nice to be possible to bypass JMX but in this case the

[2019-04-16 02:20] jonsie commented on #631
Here's an example of using Spectator with a Micrometer registry for those curious:

https://github.com/Netflix/spectator/tree/master/spectator-reg-micrometer

You can wire this up to report metrics to Datadog with either `StatsdMeterRegistry` or `DatadogMeterRegistry`.

[2019-04-17 10:03] Sidfate opened #1387 "How can i build DistributionSummary with fixed buckets of histogram?"
### Version

[code]

### ISSUE

My Code ---
[code]

what i expect ---
[code]

what i get ---
[code]

So how can i achieve my expection?

[2019-04-17 14:05] abadurczyk commented on #1172
Any news about this issue?

[2019-04-17 14:59] benbenw opened #1388 "Elastic registry doesn't support configuring multiple hosts"
The elastic registry lost its ability to connect to multiple hosts with commit https://github.com/micrometer-metrics/micrometer/commit/dd62f0c8322031bc98c872965e420b132c68ed69 (isssue #842)

It was previously possible to configure multiple host with :

_management.metrics.export.elastic.host**s**_

After dd62f0c8322031bc98c872965e420b132c68ed69 it became :

_management.metrics.export.elastic.host_

[2019-04-17 19:10] checketts commented on #1387
Set your `maximumExpectedValue` to the same as the minimum: `.maximumExpectedValue(1.toLong())`

The min/max are used for autogenerating the buckets I believe

[2019-04-18 02:17] Sidfate commented on #1387
@checketts 😆 thx for your reply and it works!

[2019-04-18 02:21] #1387 closed

[2019-04-18 14:11] maxio89 commented on #480
You cannot access a gauge using the same shortcut like during creating a gauge, and imagine a case where you cannot hold a reference for an object that is being gauged, e.g. in reactive streams, but you still want to have a meter that carries some info about current state of something. Gauges in Dropwizard works differently.

[2019-04-18 14:36] maxio89 commented on #480
Actually I cannot find a way to return this AtomicInteger I set in the gauge.

[2019-04-18 15:08] bw-tom opened #1389 "TelegrafStatsdLineBuilder appears to have a race condition"
As raised here https://stackoverflow.com/questions/55631373/telegrafstatsdlinebuilder-appears-to-have-a-race-condition, it seems we can consistently get metrics published to StatsD without common tags applied which _do_ appear on the Actuator Metrics endpoint, or when the Counter's `increment` is invoked by only a single thread at a time.

I've made a small Spring Boot app which seems to reliably

[2019-04-18 19:00] maxio89 commented on #480
Ok, I found the way, but anyway it's a little bit confusing how it works, and to find a proper doc you need to go very deep. I mean it's not documented right here:
` /**
     * Register a gauge that reports the value of the {@link java.lang.Number}.
     *
     * @param name   Name of the gauge being registered.
     * @param tags   Sequence of dimensions for breaking down the name.
     * @param

[2019-04-18 19:20] izeye commented on #1389
@bw-tom [`@Autowired` with an infinite loop](https://github.com/bw-tom/concurrent-metrics-publisher/blob/master/src/main/java/com/brandwatch/metrics/App.java#L28-L33) seems to prevent from completing to start the application. Is this intentional or am I missing something?

[2019-04-18 20:40] purginglisp opened #1390 "Using Timer for batch operations"
Hello,

I'm new to using Micrometer and am trying to see if there's a way to use a Timer that would also include a count of the number of items in a batch processing scenario.  Since I'm processing the batch with Java streams, I didn't see an obvious way to record the timer for each item processed, so I was looking for a way to set a batch size attribute.  One way I think that could work is to use

[2019-04-18 20:52] checketts commented on #1390
Please post this question on stack overflow and post a link here and I'll try to explain your options there. That way we can keep github issues clean for features/bugs.

[2019-04-18 21:28] purginglisp commented on #1390
Thanks.  I've posted the question at https://stackoverflow.com/questions/55753950/using-timer-for-batch-operations

[2019-04-18 23:46] bw-tom commented on #1389
@izeye Should only start the infinite loop once the application is ready, from my reading of https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/context/event/ApplicationReadyEvent.html!

[2019-04-18 23:49] izeye commented on #1390
Closing in favor of the re-posted SO question.

[2019-04-18 23:49] #1390 closed

[2019-04-18 23:58] izeye commented on #1389
@bw-tom As mentioned above, `@Autowired` seems to kick in first to me, so I’m not sure how it works for you. By the way why do you need the annotation there?

[2019-04-19 08:16] bw-tom commented on #1389
Ah, I think the Autowired actually does nothing! An earlier version of the method had parameters that needed to be wired in, I'll remove it 👍

[2019-04-20 14:32] izeye commented on #1389
@bw-tom Thanks for the report and the sample! I reproduced it thanks to your sample. I created #1391 to try to resolve this.

[2019-04-23 07:22] holyjak opened #1393 "Docs: Add CloudWatch to the list of supported backends, document"
Since there is https://github.com/micrometer-metrics/micrometer/tree/master/implementations/micrometer-registry-cloudwatch, CloudWatch should be mentioned at https://micrometer.io/docs just as InfluxDB & others and preferably link to a page with some documentation (such as the required IAM permissions to be able to use it).

Regarding IAM: perhaps only `cloudwatch:PutMetricData` needed?

Thank you

[2019-04-23 08:11] bw-tom commented on #1389
Happy to help, and thank you very much for the rapid response!

[2019-04-23 08:43] izeye commented on #1393
Duplicate of https://github.com/micrometer-metrics/micrometer-docs/issues/49

[2019-04-23 08:47] #1393 closed

[2019-04-23 08:48] izeye commented on #1393
@holyjak Thanks for the report but there's already an issue for it.

In regards to this specific question I'm not a CloudWatch user but the permission seems sufficient for Micrometer to work just by guessing based on its name.

[2019-04-23 14:41] mwesolowski opened #1394 "HibernateMetricsAutoConfiguration not included in spring.factories"
Shouldn't io.micrometer.spring.autoconfigure.orm.jpa.HibernateMetricsAutoConfiguration be included in micrometer-spring-legacy/src/main/resources/META-INF/spring.factories?

[2019-04-23 15:28] izeye commented on #1394
@mwesolowski Thanks for the report! You're right. It seems missed somehow. I created https://github.com/micrometer-metrics/micrometer/pull/1395 to resolve it.

[2019-04-24 06:09] #1389 closed

[2019-04-24 07:30] #1394 closed

[2019-04-24 07:56] shakuzen commented on #480
@maxio89 thank you for the feedback on this. Have you checked the documentation on the official website: https://micrometer.io/docs/concepts#_gauges? Is that clear? If you have suggestions for improvement, would you open a pull request or issue at https://github.com/micrometer-metrics/micrometer-docs/?
In addition, you can chat with us about things on the Micrometer Slack: http://slack.micrometer.

[2019-04-24 08:15] danieljamesscott opened #1396 "Log CloudWatch metric data when publishing fails"
When a failure occurs while sending to cloudwatch, I can see the exception in the logs:

https://github.com/micrometer-metrics/micrometer/blob/master/implementations/micrometer-registry-cloudwatch/src/main/java/io/micrometer/cloudwatch/CloudWatchMeterRegistry.java#L116

It would be useful to log the `metricData`, or possibly `putMetricDataRequest`. Would you accept a PR which does this?

[2019-04-24 08:40] izeye commented on #1396
@danieljamesscott Thanks for the suggestion! Sounds reasonable to me. FYI we already have error request logging for Elasticsearch. See https://github.com/micrometer-metrics/micrometer/blob/master/implementations/micrometer-registry-elastic/src/main/java/io/micrometer/elastic/ElasticMeterRegistry.java#L171

[2019-04-24 08:47] danieljamesscott commented on #1396
So would you want to only log it on debug? I would think that it would be OK to log it in the error log line?

[2019-04-24 08:47] shakuzen commented on #1388
Elasticsearch support was added 1.1.0 and the referenced issue/change is from `1.1.0-rc.1` so I don't think we will consider this a regression - the previous property/support was never in a GA version, as far as I can tell. I do agree that supporting configuring multiple hosts could be useful, though, and it is an enhancement we can consider.
There are some alternatives to this that people could u

[2019-04-24 09:15] izeye commented on #1396
@danieljamesscott I think it should be debug for consistency. If you think error fits better, you'd better open a separate issue for it as the change should be done across all meter registries consistently.

[2019-04-24 10:39] fkoehler opened #1397 "Add support for Cassandra database"
It would be helpful to have a Metric binder which, something similar to the KafkaConsumerMetrics binder. Maybe we can fetch the metrics via JMX from Cassandra?

[2019-04-24 11:14] danieljamesscott commented on #1396
My PR logs request/response data when there is an error sending to the registries

[2019-04-24 11:14] holyjak opened #1399 "micrometer-spring-legacy lacks support for the cloudwatch registry"
The [io.micrometer.spring.autoconfigure.export](https://github.com/micrometer-metrics/micrometer/tree/master/micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export) provides Spring integration for all supported systems but not for CloudWatch. For CloudWatch, [this line from Spring 1.5 docs is a lie](https://micrometer.io/docs/ref/spring/1.5):

Please add it :-)

(I will l

[2019-04-24 12:16] izeye commented on #1396
@danieljamesscott Thanks for creating the PR but I expected to create a separate issue for discussion if you want to change the existing log level. I don't have a strong opinion on it but looking at https://github.com/micrometer-metrics/micrometer/pull/1289#issuecomment-479363103, @shakuzen seems to have an opinion on this, so I thought it'd be better to discuss it in a dedicated issue before acti

[2019-04-24 12:24] danieljamesscott commented on #1396
Yep, understood. But logging on debug is useless for me because it's inconsistently reproducible - I can't run with debug logging enabled all the time. I'm using an extended `CloudWatchMeterRegistry` containing the required logging - so the problem is solved for me.

[2019-04-24 12:46] izeye commented on #1399
@holyjak Thanks for the suggestion but an auto-configuration for the CloudWatch lives in the Spring Cloud AWS repo. See https://github.com/spring-cloud/spring-cloud-aws/tree/master/spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics

See also https://github.com/spring-projects/spring-boot/pull/11276 for background.

[2019-04-24 12:46] #1399 closed

[2019-04-25 07:56] holyjak commented on #1399
Thanks a lot, @izeye ! But I see that `spring-cloud-aws-autoconfigure` includes it only from version 2.0.x so I guess my only option is to copy, paste, and adjust the packages from the 2.0.0 version...

[2019-04-25 08:15] izeye commented on #1399
@holyjak Sorry, I missed the fact that you want to use `micrometer-spring-legacy`.

`micrometer-spring-legacy` is just a module to provide Spring Boot 2.x integration for Spring Boot 1.x with the best effort by backporting changes from the Spring Boot 2.x repo. So based on the decision from Spring Boot, I think the only option for you is what you've mentioned above.

[2019-04-26 10:55] starlight36 opened #1400 "Hystrix thread pool metrics"
Hi, I'm looking for Hystrix thread pool metrics support. Some metric indexs like `currentActiveCount` or `currentLargestPoolSize` is useful to calculate runtime properties.

In [MicrometerMetricsPublisher.java](https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/hystrix/MicrometerMetricsPublisher.java)  , only `getMetricsP

[2019-04-26 14:00] ffeltrinelli commented on #1265
Hi! Sorry, I am not sure what you mean with cardinality? Are you referring to the number of headers that you could capture with the above methods? If so, it looks to me that you could configure both methods to capture either a single header or multiple headers.

[2019-04-28 16:53] handsomehari commented on #1177
Hi, I'm also facing a similar issue, where I could see 403 error code in the log file. I'm trying to integrate resilience4j metrics to new relic through mircrometer.
ERROR i.m.newrelic.NewRelicMeterRegistry - failed to send metrics to new relic: http 403 {}
Please suggest.

[2019-04-28 17:26] handsomehari commented on #1177
I'm using new relic trail version and trying to publish the metrics to new relic from micrometer.
In the log file, I could see a 403 error code.
ERROR i.m.newrelic.NewRelicMeterRegistry - failed to send metrics to new relic: http 403 {}

[2019-04-29 21:56] edwardsre opened #1402 "PostgreSQLDatabaseMetrics is querying nonexistent column "tmp_bytes"."
When using `PostgreSQLDatabaseMetrics`, the database logs the following events each time the metrics are queried:

[code]
In both PostgreSQL 9 and 10, the column name is `temp_bytes`, not `tmp_bytes`.

https://www.postgresql.org/docs/current/monitoring-stats.html#PG-STAT-DATABASE-VIEW
https://www.postgresql.org/docs/9.5/monitoring-stats.html#PG-STAT-DATABASE-VIEW

It looks like changing [this code

[2019-04-29 22:47] izeye commented on #1402
@edwardsre Thanks for the report! It seems a typo as you reported. I created https://github.com/micrometer-metrics/micrometer/pull/1403 to resolve this.

[2019-05-01 17:31] ccellist commented on #1120
Thanks for the fix. Any update on when this fix will make it to the next release?

[2019-05-01 18:16] izeye commented on #1120
@ccellist This should be included [since Micrometer 1.1.2](https://github.com/micrometer-metrics/micrometer/pull/1122). If that's not the case, please create a new issue with a sample project reproducing it.

[2019-05-03 12:08] kevcodez opened #1408 "Issue when creating Elasticsearch Index"
Using Spring Boot with actuator and micrometer-registry-elastic.

Versions:

* Spring Boot 2.1.4.RELEASE
* Micrometer registry elastic 1.1.4
* Elasticsearch 7.0

I am getting the following exception ONCE when submitting the metrics to Elasticsearch:

[code]

I am getting data into the index, not sure if anything is missing due to the previous error.

[2019-05-03 14:14] ciccio14 opened #1409 "DiskSpaceMetrics returns NaN when garbage collected"
When using standard DiskSpaceMetrics, metrics returned are always NaN
Jon said that it is a known issue:

Jon also has given a workaround:

[code]

[2019-05-07 16:03] PandaXass commented on #792
This feature could potentially work around https://github.com/containernetworking/plugins/issues/123 for Datadog agent?

[2019-05-07 16:11] nejckorasa commented on #604
Possible solution in #1407? It starts `LongTaskTimer` in case `longTask` is set.

[2019-05-07 20:41] nhmarujo opened #1410 "PrometheusTimer - Avoid overflow"
There is a high risk of overflow on timers for **Prometheus**. The majority of the monitoring systems are not prone to this, because they follow a rate normalized approach, while for **Prometheus** it needs to keep the cumulative value of the durations measured.

For **Prometheus** a timer holds internally a **long** that accumulates the durations in **nanoseconds**. The maximum value of a long is

[2019-05-08 02:32] coderztf opened #1411 "which latest version is supported for spring boot 1.5.x ?"

[2019-05-08 02:40] izeye commented on #1411
@coderztf 1.1.4 is the latest version for both Spring Boot 2.x and 1.5.x.

[2019-05-08 02:40] #1411 closed

[2019-05-08 07:43] coderztf opened #1413 "Doc about prometheus may be out of date"
This doc [Micrometer Prometheus](http://micrometer.io/docs/registry/prometheus) about Prometheus may be out of date . I don't find the class `MeterRegistryCustomizer ` mentioned in the version of 1.1.4 but find in the version of 1.0.3 . Is this due to the class removed in the latest version ?

[2019-05-08 07:57] #1413 closed

[2019-05-08 23:45] weistom commented on #604
Yes ! I checked #1407.
Thank you for revising.

[2019-05-09 07:29] fitzoh opened #1414 "Using a `MeterFilter` to modify the SLAs of an existing timer is not intuitive"
`Timer.Builder::sla` takes a `Duration...`, which is self-explanatory.

If you need to create/modify SLA boundaries for that `Timer`, (I think) you need to use a `MeterFilter` to create a new `DistributionStatisticConfig` and merge it with the existing one.

`DistributionStatisticConfig.Builder::sla` takes a `long...`, and the Javadoc provides no guidance on the units.  Only by reading the `Timer.

[2019-05-09 09:30] monkeymq opened #1415 "Duplicate metrics"
micrometer-registry-influx: 1.1.4

I think the problem of #53 still exist,

1557393683288000000 200  0      0.0.0.0:9999 0           histogram   /de/v1/testtimeconsuming 0:0:0:0:0:0:0:1:**63143** 0   0
1557393683288000000 200  0      0.0.0.0:9999 0           histogram   /de/v1/testtimeconsuming 0:0:0:0:0:0:0:1:63233 0   0
1557393673292000000 200  0      0.0.0.0:9999 0           histogram   /de/v1/

[2019-05-09 09:36] izeye commented on #1415
@monkeymq Thanks for the report but I'm not sure which metrics are duplicate as none of rows you provided doesn't seem to be a duplicate each other. Am I missing something?

[2019-05-09 10:09] monkeymq commented on #1415
@izeye Thanks for the reply.  Let me describe my issue in detail. I visited a URL /de/v1/testtimeconsuming, so you could see the local address **x.x.x: 63143**, obviously the same metrics data will appear every once in a while, even though the request is over, and these the same metrics data will continue to increase unless I close my app. So far I have found that the two metrics **http_server_con

[2019-05-09 10:16] shakuzen commented on #1408
I am guessing it is an issue with the index template containing something no longer supported in Elasticsearch 7.0. If metrics are still saved successfully, that's good there's no effective impact, but certainly we'll want to update things to avoid the warning. A pull request from anyone would be appreciated, keeping compatibility with previous versions of Elasticsearch also.

[2019-05-09 10:50] izeye commented on #1415
@monkeymq Thanks for the quick feedback! Can you please share a sample project reproducing this via a GitHub repo or by attaching a zip to this issue? You seem to have one already based on the logs you provided.

[2019-05-10 09:09] monkeymq commented on #1415
Hi @izeye , since i can't post the internal code, so i wrote a sample as an attachment,  but it also shows the problem. Send metrics data without interruption, as described previously.  In the sample, the main code is in the Main.java. Thanks a lot.
[MetricsDemo.zip](https://github.com/micrometer-metrics/micrometer/files/3165730/MetricsDemo.zip)

[2019-05-10 19:36] izeye commented on #1415
@monkeymq Thanks for the sample!

To try to understand this issue, I did the following:

- Run the sample.
- Hit the endpoint (`/demo`).
- Shutdown the sample after 6 metrics publiciations since the endpoint has been hit as follows:

[code]

Querying `vertx_http_server_responseTime` and `vertx_http_server_requestCount` measurements in InfluxDB, there are 6 rows respectively:

[code]

This seems to

[2019-05-10 19:47] izeye commented on #343
Closing as Micrometer support for Vert.x seems to exist in Vert.x repo now.

See https://github.com/vert-x3/vertx-micrometer-metrics
See also https://vertx.io/docs/vertx-micrometer-metrics/java/

[2019-05-10 19:47] #343 closed

[2019-05-10 20:01] checketts commented on #1415
Perhaps @monkeymq is confused by the `successfully sent 58 metrics to InfluxDB` and they were assuming it wouldn't send any metrics when there isn't traffic for a given endpoint?

I believe that is how statsd/graphite behave so the fact the Micrometer uses an aggregate approach instead of sending each action confused them?

[2019-05-13 02:21] monkeymq commented on #1415
@izeye Thanks for reply. I think the problem is that if don't shutdown the sample, metrics like

will continue to be written to influxDB, which may not be correct, because /demo is over, it should have no metrics data. Is my understanding right?

[2019-05-13 04:51] shakuzen commented on #1415
@monkeymq the Influx registry implementation aggregates metrics and sends them periodically, as @checketts mentioned. We document this in the [Micrometer documentation for Influx](https://micrometer.io/docs/registry/influx#_direct_to_influx):

It is sending values of 0 when there are no updates to the metrics, so it should not affect the accuracy of metrics in the backend.
Does this clear things u

[2019-05-13 05:57] monkeymq commented on #1415
@izeye @checketts @shakuzen Thank you for your warm help.  I didn't understand this sentence correctly befroe.

it's clear now and thanks again.

[2019-05-13 06:15] izeye commented on #1415
@monkeymq Thanks for the confirmation! Closing as answered.

[2019-05-13 06:15] #1415 closed

[2019-05-13 07:11] shakuzen commented on #1397
See also #1359. It would be nice if the Cassandra driver supported more extensible ways of recording metrics, or natively supported Micrometer itself. Have any users requested this to the maintainers of the Cassandra driver? We're moving away from the JMX way of retrieving metrics for the Kafka client because doing it via JMX can be pretty messy.

[2019-05-13 07:23] shakuzen commented on #1396
You should be able to configure your logging system to log DEBUG level for a specific logger (often corresponding to a single class), rather than all logging. Would that work for your purposes? Configuring the logging system as needed seems preferable to a custom MeterRegistry implementation.

[2019-05-13 09:41] jlerbsc opened #1417 "Design limitation on FlavorStatsdLineBuilder"
FlavorStatsdLineBuilder class defines the method

    abstract String line(String amount, @Nullable Statistic stat, String type); .

The default visibility of this method limits the extension or the use of adapter to accomodate to a specific design.

[2019-05-13 16:40] pete-woods commented on #1408
Some insight from looking into a related project (Zipkin), this is how they are handling the different versions of ElasticSearch:

https://github.com/apache/incubator-zipkin/blob/bf9350eceef8d4b58fb0c7e63ad83e277de4db00/zipkin-storage/elasticsearch/src/main/java/zipkin2/elasticsearch/VersionSpecificTemplates.java

You can see the diff here:
https://github.com/apache/incubator-zipkin/pull/2398/file

[2019-05-13 16:44] pete-woods commented on #1408
I see, significantly:
- `if (templates.version() >= 7) builder.addQueryParameter("include_type_name", "true");` on the URL
- In the payload: `"\"_default_\": { \"_all\": {\"enabled\": false} },\n"` for < 5 and not at all for 5+
- Also for >=7 `Colons are no longer allowed in index names`

[2019-05-13 17:03] sabareeshkkanan commented on #1370
I am still facing this issue even with the new snapshot. It produced several metric where elastic might consider it as not finite.
Spring boot 2.1.4
Spring cloud GreenwichSR1
Java11
Spring Cloud Kafka Streams

[code]

[code]

[2019-05-13 19:16] jkschneider commented on #1414
There is already a `Timer.builder::sla` method which takes a `Duration`. Is this what you're looking for? https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/Timer.java#L379

[2019-05-13 19:27] fitzoh commented on #1414
Bleh, I put the wrong class in the `Possible remedies` section...

In a `MeterFilter` you only have access to a `DistributionStatisticConfig`, which doesn't have a clean way to set times via `Durations`

[2019-05-14 02:50] mateuszmrozewski commented on #1393
`cloudwatch:PutMetricData` is enough from the IAM permissions side

[2019-05-14 08:10] #1402 closed

[2019-05-14 14:12] sabareeshkkanan opened #1420 "Elastic Shipper non finite value"
@izeye
I am still facing this issue even with the new snapshot. It produced several metric where elastic might consider it as not finite.
Spring boot 2.1.4
Spring cloud GreenwichSR1
Java11
Spring Cloud Kafka Streams

[code]

[code]

_Originally posted by @sabareeshkkanan in https://github.com/micrometer-metrics/micrometer/issues/1370#issuecomment-491905536_

[2019-05-14 14:51] izeye commented on #1420
@sabareeshkkanan Thanks for the report!

1.7976931348623157E308 is a finite value which is the max value of `double`, so I think this issue is different from #1370. I suspect this is due to type mismatch for the `value` field: `float` vs. `double`

Could you please provide full error logs including HTTP response from Elasticsearch? Also sharing the mapping of the index for metrics would help.

[2019-05-14 15:21] shakuzen commented on #1409
Could you share how you are configuring `DiskSpaceMetrics`? I am not able to reproduce this issue.

[2019-05-14 16:17] izeye commented on #1071
In Elasticsearch 6.7.2 (the latest 6.x version ATM), a floating point number (`count`) in JSON is typed as `float` as follows:

[code]

An integer number (`count`) in JSON is typed as `long` as follows:

[code]

Mixing the two ends up with `float` as follows:

[code]

But a type conversion error occurs occasionally. In Elasticsearch, the following exceptions are thrown:

[code]

The order of the t

[2019-05-14 16:25] sabareeshkkanan commented on #1420
I have isolated the ones I get error with because there are so many metrics. I have attached both the map and json response here
[metric-fields.xlsx](https://github.com/micrometer-metrics/micrometer/files/3178814/metric-fields.xlsx)
[elastic-error.txt](https://github.com/micrometer-metrics/micrometer/files/3178817/elastic-error.txt)

[2019-05-14 16:47] izeye commented on #1420
@sabareeshkkanan Thanks for sharing!

I confirmed `float` type handles it as infinity as follows:

[code]

I think this is a duplicate of #1071. I created #1421 to try to resolve both.

[2019-05-14 18:10] sabareeshkkanan commented on #1420
@izeye Thank you for this, when can we expect this to be merged and built

[2019-05-15 00:14] epkugelmass opened #1422 "API suggestion: Separate definition of tag keys and values"
Hello! I'd like to offer a suggestion for enhancing the Micrometer API, inspired by one of the aspects of the Prometheus Java API.

Today, most Micrometer entry points for defining and registering a Meter look like this: `Metrics.counter(String name, String... keysAndValues)`. To obtain a Meter, clients must always provide the Meter name as well as any tag keys and values. In my view, this unneces

[2019-05-15 02:28] izeye commented on #1420
@sabareeshkkanan If the PR gets merged, I think it will be in [1.1.5 which is not scheduled for a release ATM](https://github.com/micrometer-metrics/micrometer/milestone/45).

[2019-05-15 04:21] shakuzen commented on #1417
I'm curious what is the use case? Are you using some system that ingests a StatsD format we don't currently support? Those classes are in an internal package, so I assume they weren't intended to be extended by users, but it is something we can consider changing.

[2019-05-15 05:57] shakuzen commented on #1414
Fixing the JavaDoc to mention the implicit units (when it is time) is definitely welcome. Whether we make another method or not, we will be keeping that existing one for backwards compatibility in at least maintenance versions for a the foreseeable future.

[2019-05-15 06:57] ciccio14 commented on #1409
i'm using it like this:
 `PrometheusMeterRegistry prometheusRegistry = new PrometheusMeterRegistry(PrometheusConfig.DEFAULT);
new DiskSpaceMetrics(new File("/")).bindTo(prometheusRegistry);`

[2019-05-15 15:27] #1071 closed

[2019-05-15 15:27] #1420 closed

[2019-05-15 15:36] shakuzen commented on #1420
@sabareeshkkanan now that the fix is merged, please feel free to test out a [snapshot version](https://github.com/micrometer-metrics/micrometer/#snapshot-builds) containing the fix.

[2019-05-15 15:49] shakuzen commented on #1409
Did you figure out what the cause was or did you not mean to close the issue?
Is `new File("/")` returning an accessible directory when you are trying? From the Prometheus endpoint, I'm seeing

[code]

[2019-05-15 17:03] sabareeshkkanan commented on #1420
@izeye @shakuzen Is there something else I have to do ? weird we are not building a unique version every time for the snapshot but after redownloading the dependency i still got the same error. Should i delete and recreate the index ? Sorry i am bit new to elastic

[2019-05-15 17:13] izeye commented on #1420
@sabareeshkkanan When I was testing this, I deleted the index for metrics (`metrics-2019-05`) and the template for the index (`metrics_template`). So I'm afraid you need to do so, too.

See https://github.com/micrometer-metrics/micrometer/pull/1421#issuecomment-492321904

[2019-05-15 19:12] epkugelmass commented on #1422
I thought about this again overnight. While it would be nice if the Micrometer API supported this style, it's really not crucial because it doesn't impact what's required of any of the backend SPI providers (Prometheus integration, etc.).
If a user cares about building Meters in this way they're free to work on top of the existing Micrometer API with no impact on compatibility (compat story is aki

[2019-05-15 22:06] sabareeshkkanan commented on #1420
@izeye thanks for clarification. This appears to work fine now

[2019-05-15 22:51] rPraml opened #1424 "ClassLoader leak in TomcatMetrics"
When a web application is deployed multiple times, the old classloader will not be garbage collected. This is similar to #827

I debugged with eclipse and see the following behaviour:
registerMetricsEventually will be called 2x (for "type", "StringCache" and "j2eeType", "Servlet") but on redeploy, the listener, which removes itself with `mBeanServer.removeNotificationListener` is only called for t

[2019-05-16 09:23] ciccio14 commented on #1409
I had a chat with Jon Schneider, he tells me that DiskSpaceMetrics has an issue:
"there is an issue with that binder where we should have used a strong reference gauge"
Jon also give the workaround, you must replace the existing code (lines 57-67 of DiskSpaceMetrice.java) with this one;
`Iterable<Tag> tagsWithPath = Tags.concat(tags, "path", absolutePath);
        Gauge.builder("disk.free", path,

[2019-05-16 15:38] Simwar commented on #792
@PandaXass I believe so, as the connection will be through the socket, not via the port mapped via hostPort.
@jkschneider is there any news about adding UDS support to micrometer?

[2019-05-16 22:00] joshfermin commented on #1371
@shakuzen or @johnzeringue were you able to figure this out?

[2019-05-16 22:24] johnzeringue commented on #1371
@joshfermin I never reached out to GCP support, but I'm pretty sure you can't plot the counts associated with distributions. If you look at [built-in metrics for BigQuery](https://cloud.google.com/monitoring/api/metrics_gcp#gcp-bigquery), there are separate `query/count` and `query/execution_times` metrics. I still think Micrometer needs to publish a separate count metric too.

[2019-05-16 22:26] joshfermin commented on #1371
Bummer, I guess the workaround for now is to add a separate count metric in addition to my timer. Thanks for the update though.

[2019-05-17 07:37] shakuzen commented on #1409
I don't think it has an issue. A reference to the `path` is kept as a class field: https://github.com/micrometer-metrics/micrometer/blob/6c657f93479b03835478153c33cde4122b7b7ac2/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/DiskSpaceMetrics.java#L42

So it shouldn't need to set `strongReference` to `true`. This is why I'm asking for a way to reproduce the behavior where it

[2019-05-17 09:50] ciccio14 commented on #1409
you don't think that this metrics as an issue, Jon Schneider (the creator of micrometer library) thinks that this metrics HAS an issue. Speak with him and explain to him your ideas.
With the workaround provided by Jon i resolved my issue, so for me this is an issue closed

[2019-05-17 15:30] garfieldnate opened #1425 "support Autocloseable with Timer"
I'm migrating from the prometheus API and changing the Timer code is quite cumbersome. In Prometheus, I could do the following:

    public void myTimedMethod() throws CheckedException {
        try(timer.startTimer()) {
            methodThatThrowsCheckedException();
        }
    }

However, Micrometer's Timer objects are not Autocloseable. The methods I see in Timer, `record()` and `recordCalla

[2019-05-17 21:00] sabareeshkkanan opened #1426 "Kibana Visualization Help"
Finally our metrics are in elastic search but trying to look for tutorials or sample documentation on creating visualizations based on metric shipped by micrometer. Google didnt help much. As because metrics are in 2 different entries there is no obvious way to do this in Kibana. I understand this may not be right place to ask but I thought people here might have come across the same issue.
For ex

[2019-05-18 17:49] rPraml commented on #1424
It seems, that micrometer adds a listener until the "StringCache" bean is registered.
The listener is removed on that event.
Unfortunately, the listener will not be removed, when the "StringCache"-register event does never occur.

I tried to create a patch https://github.com/FOCONIS/micrometer/commit/e785d71614064bf5da1312a7b5ebbd81a60c6ac0 but I noticed that the changed file (TomcatMetricsBinder)

[2019-05-19 14:23] izeye commented on #1408
I created #1428 to try to resolve this.

[2019-05-19 19:47] prasan89 commented on #584
I am facing the same issue, Can you send me sample java code for the Same

[2019-05-20 04:19] izeye commented on #584
@prasan89 Based on [the current Spring Boot reference documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-metrics-jdbc), instrumentation on `DataSource` beans doesn't seem to be limited to auto-configured ones:

I confirmed it works automatically with a user-defined `DataSource` bean using [a sample](https://github.com/izeye/sample-micrometer-sprin

[2019-05-20 08:10] shakuzen opened #1429 "Integration test against supported Elasticsearch versions"
Let's set up some integration tests (probably with testcontainers) so we can ensure via CI that this works with all the versions we say? https://www.testcontainers.org/modules/elasticsearch/

_Originally posted by @shakuzen in https://github.com/micrometer-metrics/micrometer/pull/1428#issuecomment-493867872_

[2019-05-20 16:37] sureshnaik-git opened #1430 "How to enable ExcecutorServiceMetrics in SpringBoot 2 ?"
How can we enable ExecutorServiceMetrics listed here ?
https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jvm/ExecutorServiceMetrics.java

I am quite new to micrometer, just trying to understand, if any properties would enable this metrics, or we have to create a new auto-configuration for this metrics. Looks like SpringB

[2019-05-21 09:05] mweirauch commented on #1429
I assume one would spin up the testcontainers from within the Java code when running the tests. This implies that every contributor would require a working docker setup. I wouldn't mind. Just thinking loud. (Is this a "contribution-stopper"?)
One way out would be to only run these tests on CI with opt-in when building locally.

[2019-05-21 09:51] JamazRuan opened #1431 "WebMvcMetricsAutoConfiguration throw exception when both use loggingMeterRegistry and prometheusMeterRegistry"
In my springboot2 project, I want to use both LogMeterRegistry and PrometheusMeterRegistry，so I set  ```management.metrics.export.prometheus.enabled=true``` and define LoggingMetricsExportAutoConfiguration
the code is the same with  micrometer-spring-legacy like this(but I didn't import micrometer-spring-legacy)
[code]
WebMvcMetricsAutoConfiguration init would try to found meterRegistry and throw

[2019-05-21 09:53] JamazRuan commented on #605
hi @jkschneider , when I use LoggingMetricsExportAutoConfiguration, webMvcMetricsFilter would throw an exception, the detail is
https://github.com/micrometer-metrics/micrometer/issues/1431

[2019-05-21 13:27] izeye commented on #1431
@JamazRuan I confirmed both `PrometheusMeterRegistry` and `LoggingMeterRegistry` work as expected  with [a sample](https://github.com/izeye/sample-micrometer-spring-boot/tree/micrometer-gh-1431). Please see the referenced sample.

Closing as answered.

[2019-05-21 13:27] #1431 closed

[2019-05-21 13:59] pukkaone commented on #1429
While testcontainers requires Docker, https://github.com/allegro/embedded-elasticsearch is a library that allows Java integration tests to start Elasticsearch in a separate process.

[2019-05-21 16:25] aantono commented on #792
Something like this would need to be added: https://github.com/Frankqsy/netty-sample/blob/master/netty-client/src/main/java/org/daisy/stevin/netty/sample/client/uds/UdsClient.java

[2019-05-21 18:35] #1430 closed

[2019-05-22 06:48] JamazRuan commented on #1431
@izeye thank you
I found the problem was caused by the  annotation ```@ConditionalOnBean(Clock.class)```

[code]
but it's no problem in [PrometheusMetricsExportAutoConfiguration](https://github.com/micrometer-metrics/micrometer/blob/122cba7a3df1066a10337e6dfa06fe417741ff5c/micrometer-spring-legacy/src/main/java/io/micrometer/spring/autoconfigure/export/prometheus/PrometheusMetricsExportAutoConfigu

[2019-05-22 07:39] izeye commented on #1431
@JamazRuan The annotations you mentioned are for auto-configurations. I suspect you're confused between user-defined configurations vs. auto-configurations.

[2019-05-22 12:12] cuneytcalishkan opened #1432 "Associate multiple values with the same tag key"
Hello,

We are currently using DataDog for reporting our metrics and wanted to replace it with micrometer and statsd using DATADOG flavor. However, we found out that a use case currently working on DataDog is not supported in micrometer.
DataDog allows to have a single **value** or **key:value** format in the reports, see [documentation.](https://docs.datadoghq.com/tagging/#defining-tags)

This al

[2019-05-22 14:43] checketts commented on #1432
You can get this benefit by using multiple counters.

[code]

Is there any reason this wouldn't work?

[2019-05-22 15:03] cuneytcalishkan commented on #1432
For a single key that might be a solution. However imagine a case where you add different tags along the lifetime of a request and in the end only once this metric is reported. e.g. some service_1 called for metric_value_1 and some other service_2 called for metric_value_2. In this case, we end up with multiple tag keys that have multiple values which means an exponential number of metrics to repo

[2019-05-23 03:08] izeye commented on #1429
@mweirauch Thanks for the feedback! I think we can use similar to [`SkippableContainer` from Spring Boot](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-tools/spring-boot-test-support/src/main/java/org/springframework/boot/testsupport/testcontainers/SkippableContainer.java) for the concern.

@pukkaone Thanks for the suggestion! I think using Testcontaine

[2019-05-23 11:46] wilkinsona opened #1433 "Allow Tomcat's metrics to be bound when its MBean registry has been disabled"
Tomcat 9.0.20 has [introduced](https://bz.apache.org/bugzilla/show_bug.cgi?id=63361) an option to disable its MBean registry. This improves startup time and reduces Tomcat's heap footprint by ~2MB. Spring Boot will [disable the registry by default in 2.2](https://github.com/spring-projects/spring-boot/issues/16498).

A downside of disabling the registry is that a number of the MBeans that are used

[2019-05-23 13:50] izeye commented on #1429
I created #1434 to try to resolve this.

[2019-05-23 15:57] alimate opened #1435 "Declarative Annotation Based API for Counters"
Synopsis
--------
Although using `Timer` and `DistributionSummary` we can publish a count of events in addition to other measurements, sometimes it just makes sense to use a plain `Counter`.

For timers, in order to keep track of how long a particular task is running, we have two options:
 1. Manually starting and stopping the `Timer`.
 2. Declarative time tracking using the `@Timed`.

These two o

[2019-05-23 16:48] checketts commented on #1435
I like this proposal, but would recommend simplifying the suffix idea to use tags instead.  The common usecase I think this helps address is in counting the failure rate.

By default you don't need to track the attempted (aka started) count either. I could see supporting that feature, but disable it by default.

[2019-05-23 17:20] alimate commented on #1435
@checketts I agree, Using tags would simplify the API.
So, by default, we would just count the failed attempts. If the client has opt-in, we can calculate the total attempts, too.

[2019-05-27 13:59] mschirmacher commented on #65
looks like it didn't make it into 1.1.0. did it? Is there any update on this one?

[2019-05-28 05:59] #1408 closed

[2019-05-28 10:52] wilkinsona opened #1438 "TomcatMetrics incorrectly assumes that embedded Tomcat's JMX domain will always be Tomcat"
There's an assumption in `TomcatMetrics` that the JMX domain used by embedded Tomcat will always be `Tomcat`. This assumption does not hold true as the name of the domain is configurable. In Spring Boot, the name is suffixed by an instance ID if the ID is greater than zero. This is to allow multiple embedded Tomcat web servers to exist and register MBeans at the same time. When this happens and th

[2019-05-28 13:20] izeye commented on #1438
@wilkinsona Thanks for the issue! I created #1439 to try to resolve this as you suggested.

[2019-05-28 13:41] wilkinsona commented on #1438
Thanks, @izeye. FWIW, the proposed changes look good to me.

[2019-05-28 15:48] #1438 closed

[2019-05-29 19:23] kedaly commented on #65
If you can point me to the correct place I'd be more than happy to build the Zabbix integration

[2019-05-29 19:24] kedaly commented on #65
@jkschneider Looks like you're the guy to talk to about that.

[2019-05-29 21:35] mootpt commented on #1252
@shakuzen knowing very little about this issue, would setting the connection duration to hosts ttl be an option?

[2019-05-30 03:50] pivotal-jbarrett opened #1441 "CompositeMeters don't ignore NoopMeters when forwarding value get calls to child."
For example, consider a `CompositeCounter` made up of `Counter`s from two registries where one registry may have filtered or otherwise produces a `NoopMeter`. Invoking `CompositeCounter.count()` may result in either `0` from the `NoopMeter` or some other value from the other `Counter`.

The problem appears to be in `AbstractCompositeCounter.firstChild()` as it doesn't filter out `NoopMeters` when

[2019-05-30 20:50] engineal opened #1444 "Exception thrown from gauge stops scheduled task"
I am using micrometer with the CloudWatchMeterRegistry. I have registered a gauge like so:

`registry.gauge("my_repository.count", Tags.empty(), myRepository, MyRepository::count);`

The CloudWatchMeterRegistry, being a child of the PushMeterRegistry, schedules the publish task at a fixed rate. However, if `MyRepository::count` throws an exception, metrics stop being published until the applicatio

[2019-05-30 23:02] izeye commented on #1444
@engineal [Any `Throwable` from `PushMeterRegistry.publish()` should be caught in `PushMeterRegistry.publishSafely()`](https://github.com/micrometer-metrics/micrometer/blob/bbd4113990061f09d8a97696be38d5ebbbd912c0/micrometer-core/src/main/java/io/micrometer/core/instrument/push/PushMeterRegistry.java#L43-L52) since #1228, so 1.1.4+ should be okay. Which version of Micromter are you using?

[2019-05-30 23:14] engineal commented on #1444
Thanks for your comment, I am using 1.1.3. I will test 1.1.4 to verify that my bug is fixed there.

[2019-05-31 20:24] #1444 closed

[2019-06-03 05:08] izeye commented on #982
[Integration with Resilience4j lives in its own repo](https://github.com/resilience4j/resilience4j/tree/master/resilience4j-micrometer), the referenced class seems to be relocated in [TaggedCircuitBreakerMetrics](https://github.com/resilience4j/resilience4j/blob/master/resilience4j-micrometer/src/main/java/io/github/resilience4j/micrometer/tagged/TaggedCircuitBreakerMetrics.java) and there's no us

[2019-06-03 13:29] izeye commented on #1327
I created #1446 to try to resolve this as @zeratul021 suggested.

[2019-06-04 07:59] #1327 closed

[2019-06-04 08:08] shakuzen commented on #1444
@engineal if with the logging of the exception you've found an issue in Micrometer code, please let us know and we'll try to get it fixed.

[2019-06-07 08:49] shakuzen commented on #1430
If Spring Boot doesn't offer auto-configuration of metrics for an executor it makes, you can request they add that, if it is generally useful.

[2019-06-07 08:54] #982 closed

[2019-06-07 09:11] shakuzen commented on #1426
I am not aware of any pre-built Kibana dashboards out there for visualizing Micrometer metrics in Elasticsearch, but if someone makes one, feel free to share it here.

[2019-06-07 20:36] codeperfector opened #1451 "statsd counter and timer are not pollable but gauges are"
I'm using version 1.1.4 of micrometer-statsd-registry in a spring boot app and sending metrics to telegraf version 1.9.2 running locally.
When I create a statsd gauge I see gauge metrics being reported to telegraf periodically. However when I create a counter using Counter.builder(...).register(...) or StatsdMeterRegistry.counter(...) I never see any metrics reported. Ditto for timers.
I looked in

[2019-06-07 21:37] mprimi opened #1452 "Unregister meters whose weak reference has been broken"
I'm like to report something that is slightly counter-intuitive. What i am suggesting is either a change of behavior or explicit documentation on the current one.

The behavior:
 - a meter is created with a weak reference object
 - After the referenced object is GC'd, the corresponding meter is retained forever
 - This meter is effectively useless, it won't ever publish a value again (because it's

[2019-06-11 15:16] liu0013 commented on #792
when we plan to implement it? it is very useful for k8s integrate with Datadog.

[2019-06-12 14:27] shakuzen commented on #1432
That is how tags work if you keep making unique combinations of key/values. There is one time series for each unique metric name/type and tag key/value. Is the difference that you're expecting previous tag key/values to not be reported if they haven't been recorded recently?

Otherwise I'm not understanding the issue here. You can make metrics with the same tag name and different tag values using

[2019-06-12 15:34] roded commented on #1409
I'm experiencing the same issue with micrometer 1.1.4.
Setting the Gauge's strongReference to `true` has resolved the issue as suggested.

@shakuzen, regarding the `path` reference: I think that that would work if a reference to `DiskSpaceMetrics` was retained in using code. However, I assume some (or most?) users do the following:
`new DiskSpaceMetrics(new File("/"), tags).bindTo(compositeRegistr

[2019-06-12 16:25] cuneytcalishkan commented on #1432
Hello,

I think the use case is pretty simple that we are facing, no need for a code sample. We would like to be able to report a metric with the following tags:  key:value_1, key:value_2. This is currently the case with DataDog client where you don't need to actually provide a key/value pair at all. But if the string value you provide includes a : (colon), the left hand side of the string is trea

[2019-06-12 16:39] shakuzen commented on #1432
Thank you for helping me understand. I didn't realize we were deduplicating tags by key name always. I was able to reproduce the issue now.

[2019-06-12 17:20] shakuzen commented on #1409
@roded thank you for having the patience to explain how this could be reproduced. I have now reproduced this and we'll get it fixed.

[2019-06-13 03:51] jkschneider commented on #1425
I could see adding an overload for `Timer.start(Timer)` that returns a subclass or specialization of `Timer.Sample` that is auto-closeable. Not happy with the inability in Java to handle exceptions functionally with generics, and this does seem like a better approach.

[2019-06-13 12:53] jkschneider commented on #1425
I think I'm recalling why we didn't do this before when I looked at this kind of approach earlier. When you time blocks that can throw exceptions in almost every case you want to add some sort of `outcome` tag so that you can dimensionally drill down on failures vs. successes.

## Things that don't work

1. `AutoCloseable` just doesn't provide any means to retrieve the exception on close. If it di

[2019-06-13 23:51] wneild opened #1454 "HazelcastCacheMetrics latency values reported as nanos where they are retrieved as millis"
HazelcastCacheMetrics latency values are reported as nanos where Hazelcast (versions >= 3.9) stats report them as milliseconds.

e.g.
[code]
Simply need to correct the TimeUnit to milliseconds but this will break for anyone using an old version of Hazelcast.

[2019-06-14 06:01] #1409 closed

[2019-06-14 06:18] shakuzen commented on #65
Hi @kedaly thank you for your interest in contributing the Zabbix integration. You can reference the other backend implementations for examples: https://github.com/micrometer-metrics/micrometer/tree/master/implementations
I took a quick look around the Zabbix website but I wasn't sure how applications would send metrics to Zabbix via Micrometer. If possible, Micrometer can send metrics to a Zabbix

[2019-06-14 07:05] sormuras opened #1455 "Support JUnit Platform metrics"
The JUnit "5" Platform exposes live test run related events via calling following methods on registered [TestExecutionListener](https://junit.org/junit5/docs/current/api/org.junit.platform.launcher/org/junit/platform/launcher/TestExecutionListener.html)s:

![image](https://user-images.githubusercontent.com/2319838/59489329-25a56600-8e82-11e9-946d-72579f7d852c.png)

A `MicrometerTestExecutionListen

[2019-06-14 08:38] #1371 closed

[2019-06-14 08:40] shakuzen commented on #1371
Thanks to the pull request from @ormanli, a separate count will be published for Timers from version 1.1.5. Feel free to try out snapshots in the meantime, though the release should be coming very soon.

[2019-06-14 09:45] shakuzen commented on #1451
Counter increments are published immediately when they happen.

https://github.com/micrometer-metrics/micrometer/blob/fb956dd319dc9e1cf9fd1f72d58a4a321bf7b313/implementations/micrometer-registry-statsd/src/main/java/io/micrometer/statsd/StatsdCounter.java#L40-L46

Counters don't need to be polled because they only change when an increment is made. Same for Timers. Gauges, however, may not have any

[2019-06-14 09:59] shakuzen commented on #1452
Thank you for the detail explanation of the use-case you have and the issue you are facing. As a (possibly long-term) workaround, have you tried using the `remove` method to remove the Gauge instead of dereferencing the gauge's value object? See #479
Separate from that we can consider your request also, but I just wanted to point that out for now.

[2019-06-14 11:06] shakuzen commented on #1454
Do you mean that Hazelcast changed the units it returns for these stats, in a non-backwards compatible way? If so, could you link to something from Hazelcast that mentions this change?
Or do you mean that the units were always milliseconds and the code in Micrometer has always been wrong?

[2019-06-14 18:39] mprimi commented on #1452
Hello @shakuzen
I have tried using `remove`, however it doesn't seem to interact well with our backing implementation (Spectator) and the following happens:

* Create gauge `g` for user *u*
* Update the value read by `g` as long as *u* is active
* When *u* goes away, do `registry.remove(g)`

Let's say the last value published for `g` was 10.
So far so good, this works, I see (e.g., in Atlas), that

[2019-06-14 19:31] wneild commented on #1454
@shakuzen I'm not entirely clear what the case was before 3.9 but the best reference I could find is that they changed the code off of this pull request and comment explicitly describes a change from nanos to millis being reported https://github.com/hazelcast/hazelcast/pull/10930#issuecomment-315681738. They haven't documented it as a breaking change as far as I can tell even though IMO it looks l

[2019-06-14 22:28] izeye commented on #1454
If I read the reference PR correctly, it seems to change its internal time resolution from milliseconds to nanoseconds. Hence, there seems to be no change on getters for latencies which `HazelcastCacheMetrics` depends on. They seem to be in milliseconds from the beginning.

I created #1456 to resolve it.

[2019-06-15 10:42] shakuzen commented on #1282
Resolved by #1392

[2019-06-15 10:42] #1282 closed

[2019-06-15 12:16] #1454 closed

[2019-06-17 12:33] checketts commented on #1455
I like this idea. It would be good for the listener to be configurable for a given registry since some we would need to configure where the metrics are being pushed to when the run finishes and also avoid pushing metrics when not in a CI environment.

[2019-06-17 13:00] #1236 closed

[2019-06-18 04:33] #1435 closed

[2019-06-18 09:16] jschmied opened #1458 "Support OpenJ9 GC policies"
OpenJ9 (Java11b04) uses different names for GC:
nursery-allocate/nursery-survivor/tenured-SOA/tenured-LOA

Not sure how this fits into the Old/New GcGenerationAge.

https://www.eclipse.org/openj9/docs/gc/

[2019-06-18 12:33] jschmied commented on #1458
I did a rough implementation of JvmGcMetrics for OpenJ9.
[JvmGcMetrics.java.txt](https://github.com/micrometer-metrics/micrometer/files/3301460/JvmGcMetrics.java.txt)

[2019-06-18 13:28] izeye commented on #1458
@jschmied Thanks for the suggestion!

I have no experience on Eclipse OpenJ9 but just based on the doc you shared, "nursery area" seems to belong to "young generation" and "tenured area" seems to belong to "old generation". I think it'd be better to map them to the current corresponding concepts if possible rather than creating a dedicated implementation for it.

[2019-06-18 13:47] jschmied commented on #1458
Hmm, the behavior is different.
- there are two old pools (small/large)
- there is no "ConcurrentPhase"
Even if we map both GC to same counter/gauges, we have to switch between implementations. This could be done by the memory-pool names. Maybe we can have a shared set of counter/gauges and if a gc has special values the can create them additionally.

[2019-06-18 14:07] izeye commented on #1458
@jschmied I didn't look into `JvmGcMetrics` in details but there are similar discrepancies among various garbage collectors in Oracle's JVM and I expect it covers them, so it might be possible to fit Eclipse OpenJ9 into it somehow.

[2019-06-18 14:30] jschmied commented on #1458
"jvm.gc.max.data.size" gives back -1 others work

[2019-06-19 09:58] shakuzen opened #1462 "Run tests on OpenJ9"
In addition to HotSpot, we try to support OpenJ9 where applicable and feasible. We, however, don't run our test suite on an OpenJ9 JVM to proactively catch issues and ensure compatibility.
We should consider adding an OpenJ9 build.

[2019-06-19 14:11] s425267 opened #1464 "Support Dynatrace custom device group name property."
I see the custom metrics being reported from spring application to dynatrace under the name which I mentioned as device id `management.metrics.export.dynatrace.device-id=@project.artifactId@` but it is under some random custom device group name.

![image](https://user-images.githubusercontent.com/47148956/59772778-6d5d3080-927a-11e9-8dd1-7bbf48d4965e.png)

Can we add a property in DynatraceConfig

[2019-06-19 14:46] checketts commented on #1464
Sounds like a good idea. I'm happy to review a PR for it.

[2019-06-20 20:03] pawel2401 opened #1465 "Graphite registry - escape dots in tags"
Hello,
The graphite-registry is not escaping dots in tags - when dot is present in tag name/value it will be treated as next tag value, e.g.
Tag<tagName.subName, tagValue.subValue> will be treated as <tagName, subName, tagValue, subValue>

One of the possible solutions is to escape the dots, for example by replacing them with underscore will fix the issue.
/Regards,
Pawel

[2019-06-20 20:04] checketts commented on #1465
Are there any other characters that are problematic? Like spaces?

[2019-06-20 20:30] pawel2401 commented on #1465
From graphite doc:

It is parsing the metrics basing on space split, so I think that spaces should be escaped as well.

[2019-06-20 22:35] dn5678 opened #1466 "Duplicate Counter increments for same log event"
io.micrometer:micrometer-core:1.1.4

I am trying to track down an issue where the log event counters are over x100 bigger than expected.

I noticed that in Log4JMetrics, there is a bindTo(MeterRegistry registry) method that is registering the same metricsMeter object to the same root LoggerConfig for every logger created (which is over 100).

Then, on a single log event, CompositeFilter will loop

[2019-06-21 04:44] izeye commented on #1466
@dn5678 Thanks for the report but I couldn't reproduce it with [a sample using the latest version (1.1.5) of Micrometer](https://github.com/izeye/sample-micrometer-spring-boot/tree/log4j2). Could you please provide a sample reproducing it? It's okay to modify mine linked above if you prefer.

[2019-06-21 14:41] robinhood202078 opened #1468 "Configure micrometer-registry-statsd in spring boot 2"
Hi, I've spent a few days and could not get it working, new to instrumentation in spring.

I have a spring boot 2 app. In `pom.xml` I defined:
[code]
In `application.conf`:
[code]
In the app when it starts I want to export a new metric (counter):
[code]
If it is coded like above, it's not available under http://localhost:8081/actuator/metrics/myCounter. But if I uncomment `.register(Metrics.global

[2019-06-21 15:41] dn5678 commented on #1466
Thanks. I loaded a sample project to https://github.com/dn5678/micrometer_1466

Put a break point at Log4j2Metrics.java:159: infoCounter.increment(); then start the app (MainApplication).

You should see that it is being called multiple times for the same log event.

[2019-06-22 03:24] izeye commented on #1468
@robinhood202078 Spring Boot will create components for StatsD for you unless you defined them as beans yourself. You're creating components yourself and they are not even beans, so there are two sets of components for StatsD. I think you just need to use the auto-configured one by Spring Boot.

[2019-06-22 15:55] izeye commented on #1466
@dn5678 Thanks for the sample! I could reproduce it by changing additivity for the root logger in my sample to false. I initially assumed that additivity for the root logger won't be false, so I'm not sure for what the use case is. Could you please explain why you set additivity for the root logger to false?

[2019-06-22 16:24] izeye commented on #1466
I created #1470 to try to resolve this as regardless of the validity of the use case, the current behavior doesn't seem to be right.

[2019-06-22 19:36] dn5678 commented on #1466
@izeye I don't know why it is set to false either. I will remove that setting and see if it resolves the problem. Thanks!

[2019-06-24 08:29] robinhood202078 commented on #1468
@izeye thanks for the comment. What do you mean by components? I followed these docs https://www.baeldung.com/micrometer and https://micrometer.io/docs/registry/statsD. How to create a bean for my code or alternative how to use the auto-configured one by Spring Boot? Is not `Metrics.globalRegistry` the auto-configured one?

[2019-06-24 13:01] izeye commented on #1468
@robinhood202078 I meant `StatsdConfig` and `StatsdMeterRegistry` objects.

Please see [this sample](https://github.com/izeye/sample-micrometer-spring-boot/tree/statsd-telegraf) for an example.

Yes, it will have a reference to the auto-configured one.

Closing as this is more of a question on Spring Boot and Spring Framework rather than Micrometer. If you have more questions, it'd be better to as

[2019-06-24 13:01] #1468 closed

[2019-06-25 09:37] bilelkhalsi opened #1471 "micrometer keep tracking counters and publish 0 values"
Hello,
I'm using micrometer counter within spring batch jobs. I noticed that micrometer continue to track counter and send 0 values after the job finish.
This behavior creates a huge number of elastic-search documents (1go every day).

[2019-06-25 15:46] checketts commented on #1471
It sounds like you are experiencing a 'cardinality explosion'. Metrics are best for tracking aggregates of events. Logging is where individual details should be exposed.

A good rule of thumb when adding a tag to a metric is to keep the expected values for that tag 10 values with 100 being a red flag.

The nature of counters are intended to be a monotonic (only increasing number) so you can run qu

[2019-06-26 03:32] noxymon opened #1472 "micrometer-registry-influx timeout block main Application"
Hi, i found strange behavior on micrometer registry influx when connection timeout is occurred. it causes stuck in main application.

is there any trick for this issue ?

[2019-06-26 05:35] shakuzen opened #1473 "Remove v1 CloudWatch module"
See #1165. Users should use the new v2 module instead, which uses the AWS SDK v2 underneath.

[2019-06-26 05:59] #1466 closed

[2019-06-26 08:11] vbertie opened #1474 "StatsDMeterRegistry not sending UDP message?"
Hi,
I can't deal with configuration StatsdMeterRegisty.
The problem I met is with simple configuration like this one (my java app):

[code]

and UDP Server like this:

[code]

I don't receive any logs or messages at my UDP server. Why?
I'm not using Spring in my application.
In my java application there are such logs:

[DEBUG] (main) Using Console logging
[ WARN] (main) [udp] resources will use th

[2019-06-26 08:31] vbertie commented on #1474
well... that example was quite stupid. The reason why message was not sent is be cause program terminated before writing object:)

[2019-06-26 08:31] #1474 closed

[2019-06-26 13:19] tom-mi commented on #1451
The problem with this approach is that counters that are infrequently (or never) incremented never appear in the monitoring (we are using Datadog and push metrics via dogstatsd). This is problematic for meters like error counters, which we would like to define alerts & graphs on error counters, but we never see any data until actual errors happen.
Is there a workaround for that, like sending a zer

[2019-06-26 16:11] #1464 closed

[2019-06-26 22:23] bilelkhalsi commented on #1471
@checketts thank you so much.

Concretely, i have some spring-batch jobs. And i need to report the number of items/rows treated by each job. So i configured a listener that looks like this one:
`
@Component
public class MyItemWriterListener implements ItemWriteListener<Domain> {
    private final MeterRegistry meterRegistry;

    @Autowired
    MyItemWriterListener(MeterRegistry meterRegistry) {

[2019-06-27 01:18] querplis commented on #65
@jkschneider , @shakuzen zabbix way of doing this is called zabbix sender:
https://www.zabbix.com/documentation/4.2/manual/concepts/sender
This was first hit on google "zabbix sender java" https://github.com/hengyunabc/zabbix-sender
but  there might be other/better implementations.

[2019-06-27 03:28] shakuzen commented on #1471
Could you share this portion of the code? The counter should not continue to be reported if it has been removed.

[2019-06-27 04:26] querplis commented on #65
@jkschneider , @shakuzen  that is if we want to push data into zabbix

[2019-06-27 07:57] shakuzen opened #1478 "Add Gradle dependency locks for 1.2 release"
Before publishing the 1.2.0 release, we should make sure that builds are 100% reproducible by locking all of the dependency versions with lockfiles, like other maintenance branches. It will probably be easiest to do this last, just before tagging the release and just after branching from master to the `1.2.x` maintenance branch. That way, the `master` branch can remain lockfile-free.

[2019-06-27 08:29] bilelkhalsi commented on #1471
[code]

[2019-06-27 14:05] michaelmcfadyen commented on #1472
what version on micrometer-registry-influx are you using?

[2019-06-27 14:22] michaelmcfadyen commented on #1472
From a quick look over the influx registry code any connection issues should not block the main thread. When the influx registry is initialised a separate single thread is configured via a ScheduledExecutorService which will periodically attempt to send the metrics to your influx instance. I can't see any code which is run on the main thread which communicates to influx.

Personally, I've started

[2019-06-28 02:43] shakuzen commented on #1095
I think the MetricsReporter route would be better going forward. #1173 is open with an implementation of this, but we have a couple things to figure out before we can merge it still. Feel free to take a look and help out.

[2019-06-28 03:53] izeye commented on #1472
I also tried to reproduce this but failed to do so with [this sample](https://github.com/izeye/sample-micrometer/tree/micrometer-gh-1472).

[2019-06-28 21:00] mrkk opened #1479 "v 1.15 fails to work with elastic 5.6.7 while checking version"
V 1.10 seems to work

   2019-06-28T14:27:40.03-0500 [APP/PROC/WEB/1] OUT 28-06-2019 19:27:40.036 [elastic-metrics-publisher] WARN  io.micrometer.core.instrument.push.PushMeterRegistry.publishSafely:50 - Unexpected exception thrown while publishing metrics for ElasticMeterRegistry java.lang.IllegalArgumentException: Unexpected response body: No handler found for uri [/] and method [POST]
 at io.mi

[2019-06-28 21:02] mrkk commented on #1479
Basically it looked like it was doing a POST instead of GET to my server at http://10.126.171.176:9200

[2019-06-28 22:56] izeye commented on #1479
@mrkk I can see the mixed versions of Micrometer dependencies in your stack trace: `micrometer-core-1.1.4.jar` vs. `micrometer-registry-elastic-1.1.5.jar`. I think #1427 which has been fixed in 1.1.5 is the cause, so if you also use 1.1.5 for `micrometer-core`, it should work.

Closing as this seems a problem of mixed versions of dependencies which has been affected by a fixed bug.

[2019-06-28 22:56] #1479 closed

[2019-06-29 04:02] ZhanPeng opened #1480 "invalid_index_name_exception"
spring config:
[code]
error:
[code]

fixed:
[code]

Springboot document and micrometer document cannot ask anything...

https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-metrics.html#production-ready-metrics-export-elastic

[2019-06-29 05:46] shakuzen commented on #1480
What version of Micrometer are you using?
Are you saying that this fails without the trailing slash on the `host` property?
I'm seeing the opposite behavior when I tested with the latest snapshots (1.2.0-SNAPSHOT) - everything works without a trailing slash (`management.metrics.export.elastic.host=http://localhost:9200`) and fails with a trailing slash (`management.metrics.export.elastic.host=http

[2019-06-29 06:21] ZhanPeng commented on #1480
I get from maven center, version is 1.1.5
[code]
Yes, I add the trailing slash, it worked. The elastic version is 7.20
I install elastic in aliyun, it have a public ipv4 address. I cannot used hostname.
I think, this problem is hostname and ip address problem.

[2019-06-29 06:34] izeye commented on #1480
Looking at the `reason` property in the error response, it seems that the part of the `host` property is being used for the index name but I'm not sure how it could happen at the moment. I tried to reproduce this with [a sample with the provided properties](https://github.com/izeye/sample-micrometer-spring-boot/tree/micrometer-gh-1480) but failed to do so.

@ZhanPeng Could you please provide a sam

[2019-06-29 08:11] ZhanPeng commented on #1480
sample address: https://github.com/ZhanPeng/elastic-metrics-slash.git

[2019-06-29 08:34] #604 closed

[2019-06-29 09:47] subrasel opened #1481 "Metrics sent intermittently to datadog"
We are using spring boot 1.5 and we have custom metrics sent to datadog using micrometer. Though this worked fine in all environment when we put it in production we got error "failed to send metrics: Payload too big". For this we looked at the issue https://github.com/micrometer-metrics/micrometer/issues/1250 and added the batch size.

After adding batch size it started sending metrics but after 2

[2019-06-29 10:26] ZhanPeng commented on #1480
Other problem:

[code]

when use ip address, uri result is `http://xx.xxx.xx.xx:9200//_template/metrics_template`

it will no elastic index

I will try http://xx.xx.xx.xx:9200/newindex

[2019-06-29 10:30] ZhanPeng commented on #1480
bad result. change url will make `determineMajorVersionIfNeeded();`not work

[2019-06-29 11:07] #1285 closed

[2019-06-29 13:29] izeye commented on #1480
@ZhanPeng Sorry but I couldn't reproduce the error response you mentioned above with the sample you provided above.

Adding `logging.level.io.micrometer.elastic=debug` to `application.properties` gave me the following logs:

[code]

So I think the sample worked as expected.

If you could reproduce the error response with the sample, please provide the exact steps you use to do so.

[2019-06-29 19:10] #1331 closed

[2019-06-29 19:13] #1329 closed

[2019-06-29 19:29] #1314 closed

[2019-06-29 20:04] shakuzen commented on #1478
Resolved via https://github.com/micrometer-metrics/micrometer/commit/e8f84afbcf819ec1edfe1fed99965f44948c0ce1

[2019-06-29 20:04] #1478 closed

[2019-06-30 02:25] kevinjom commented on #1227
any update on this?

[2019-06-30 09:39] ZhanPeng commented on #1480
I find problem. The Astrill proxy make it.

[2019-06-30 09:41] #1480 closed

[2019-07-01 03:01] noxymon commented on #1472
so, i'm using kafka consumer with micrometer library. based on [this issue](https://stackoverflow.com/questions/50687794/spring-boot-kafkalistener-stops-consuming-messages-after-running-some-time)

it seem's the symptom of the message stopped not caused by micrometer.

[2019-07-01 03:01] #1472 closed

[2019-07-01 04:38] DevCeN opened #1483 "Spring boot failed to start after updating to 1.2.0, has to stay with 1.1.5"
Getting error:
[code]

[2019-07-01 05:35] izeye commented on #1483
@DevCeN Thanks for the report but I couldn't reproduce the failure with [a sample which is using Caffeine](https://github.com/izeye/sample-micrometer-spring-boot/tree/cache). Could you please provide more information to reproduce the failure? A sample to reproduce it would be ideal if possible.

[2019-07-01 06:15] DevCeN commented on #1483
Thank you @izeye , can't really provide a minimal project right now. In the meantime, not sure if thats related but I am still on Spring Boot 1.5 instead of 2.1.

[2019-07-01 07:08] izeye commented on #1483
@DevCeN Thanks for the feedback! I missed the package (`io.micrometer.spring.autoconfigure.cache`) of `CacheMetricsRegistrarConfiguration`. However, I still failed to reproduce it with [a sample using Spring Boot 1.5.x](https://github.com/izeye/sample-micrometer-spring-boot/tree/1.5.x-cache). The auto-configuration for cache metrics in Spring Boot 1.5.x has been added since Micrometer 1.2.0 via #1

[2019-07-01 08:15] DevCeN commented on #1483
Thanks again @izeye . I finally have time to look at my code again and I can reproduce it using your sample code. So I noticed that I actually do not have the com.github.ben-manes.caffeine:caffeine dependency in my gradle build. If you comment that out you can reproduce the error. Then if you change micrometerVersion to 1.1.5, you won't get it.

It might have been me not adding caffeine as a depen

[2019-07-01 08:57] izeye commented on #1483
@DevCeN Thanks for the info 👍 I can see what went wrong now.

When I was porting the auto-configuration for cache metrics from Spring Boot 2.x to 1.5.x in #1355, I missed the semantic change on `@ConditionalOnBean` against multiple beans ("or" in 1.5.x vs. "and" in 2.x).

I created #1484 to resolve it.

[2019-07-02 23:19] izeye commented on #1400
Duplicate of #1229

[2019-07-02 23:19] #1400 closed

[2019-07-03 07:50] YashchenkoN opened #1489 "[Stackdriver] Allow to set custom MonitoredResource"
Currently, StackdriverMeterRegistry has hardcoded MonitoredResource with type "global" and label "project_id".

There is no possibility to set different resource type other than "global" and put more labels.
Please enhance the code to allow customization of MonitoredResource

[2019-07-04 08:18] nickstolwijk opened #1492 "Autoclosable issue on multiple Metrics implementation"
Some Metrics extend AutoCloseable which causes code quality tools to flag those metrics as not being closed.

`
@Configuration
public class MetricsConfiguration {
    private final MeterRegistry registry;

    public MetricsConfiguration(MeterRegistry registry) {
        this.registry = registry;
    }

    @PostConstruct
    public void enableMetrics() {
        // do not change to try-with-resou

[2019-07-04 08:46] favetelinguis opened #1493 "Custom implementation of MeterRegistry"
We would like to send metrics to cloudwatch. Using the provided cloudwatch solutions makes to many assumptions about how your project is setup, for example you need to depend on cloud AWS which then makes even more assumptions. We would like to write a more lightweight implementation which just get a CloudWatchAsyncClient injected and makes no other assumptions about our project.

However im not s

[2019-07-04 09:31] subrasel commented on #1481
More details from the above issue

Code Snippet
import io.micrometer.core.instrument.MeterRegistry;
import io.micrometer.core.instrument.Counter;

@Inject
private MeterRegistry meterRegistry;
String[] tags = {"tag1key", "tag1value"};
Counter c = Counter.builder("some-key").description("").tags(tags).register(meterRegistry);
c.increment(1);
c.close();

We are seeing these errors in thread dump repo

[2019-07-04 11:50] danieljamesscott opened #1494 "Gauges do not send units to CloudWatch"
It looks like guages do not send units to cloudformation:

https://github.com/micrometer-metrics/micrometer/blob/master/implementations/micrometer-registry-cloudwatch/src/main/java/io/micrometer/cloudwatch/CloudWatchMeterRegistry.java#L159

Would it be possible to pull the baseunit from the gauge and call the overloaded `metricDatum` message with the units?

[2019-07-04 12:48] itsgauravsaxena opened #1495 "Jetty metrics springboot"
I am trying to include jetty metrics in my springboot 2.0.3.Release configuration so as I can see it my prometheus output. I am somehow not able to do it using JettyStatisticsMetrics. Any idea or example I can refer to?

[2019-07-04 13:31] pedro-carneiro commented on #1268
Is there a known workaround for this? Either by changing the batch size or the step?

[2019-07-04 14:34] Docjones commented on #807
Hello!

i found this great feature - but i cannot find a few examples. I am (currently still) weak in terms of stream usage. I have a `List<T>` and want to register the elements to the MultiGauge and Mapping a few field of T.

can anyone enlighten me a bit?

thanks
/M

[2019-07-04 19:53] checketts commented on #807
@Docjones Let's move this to a stack overflow question. Post a code sample there of what you have so far.

[2019-07-05 01:28] izeye commented on #1465
I created #1498 to try to resolve this and improve Graphite name sanitization in general.

[2019-07-05 06:15] Docjones commented on #807
I am sorry, but i dont have much:

`List<T>` with 100 Elements read from a database table using springboot/hibernate
`T` contains the fields
* unique identifier
* longitude
* latitude
* value

i want to turn this into multiple gauges like

[code]

The metrics shall be scraped by prometheus and then visualized using [grafana/worldmap
](https://www.robustperception.io/using-geohashes-with-the-worldm

[2019-07-05 10:11] #1495 closed

[2019-07-05 16:10] checketts commented on #807
Let's answer this on https://stackoverflow.com/ so it doesn't cause noise in the issue tracker. (Especially closed tickets)

[2019-07-05 16:13] msmsimondean commented on #1465
@checketts would it be possible to sanitize `?` question marks too?   Spring Boot puts question marks in metric names in some situations.  Here's an example:

`httpClientRequests.clientName.some.host.name.method.POST.status.200.uri._path?key__clientKey_.count`

If it helps, here are the characters that HostedGraphite (as an example of a hosted Graphite provider) allow in a Graphite metric path:

`

[2019-07-05 16:15] msmsimondean commented on #1465
In the example above, the question mark comes from a URI that's embedded in the metric path via a tag.

[2019-07-05 16:17] checketts commented on #1465
@msmsimondean Could you add that info to @izeye 's PR: https://github.com/micrometer-metrics/micrometer/pull/1498/files#diff-6bc8bb17eeb45b5274912aaa910ac3d7R37 ?

[2019-07-05 21:04] checketts commented on #1471
That is strange that removing after the increment call didn't work. The `@PreDestroy` probably needs to include the tags too in the `find` call.

[2019-07-06 09:59] Docjones commented on #807
[ok](https://stackoverflow.com/questions/56913027/converting-a-java-listt-into-a-stream-usable-with-iomicrometers-multigauge)

[2019-07-06 10:54] subrasel commented on #1250
We are using micrometer 1.0.3 and even after setting the batch size to 5000 and reducing the step time to 30seconds we are getting this error. Any suggestions.

[2019-07-06 21:09] michaelmcfadyen commented on #416
Is there an open issue on the spring boot project for this?

[2019-07-07 16:57] pchatsu opened #1499 "connection time out in sending metrics to datadog"
We use io.micrometer:micrometer-core:1.1.0 with spring boot actuator.
We have sometimes failed to send metrics to datadog during running application.

[Log]
message: failed to send metrics to datadog
module: i.m.d.DatadogMeterRegistry
line: 146
exception:  java.net.SocketTimeoutException: connect timed out
	at java.base/java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.base/java.net.A

[2019-07-08 00:10] izeye commented on #416
https://github.com/spring-projects/spring-boot/issues/14087 is the only issue for this I can find at the moment and it has been declined. This seems to be cloeable unless things change since the Spring Boot team’s decision.

/cc @philwebb

[2019-07-08 00:16] izeye commented on #1499
@pchatsu Thanks for the report but it seems to be "connect timed out" from JDK, so there’s nothing Micrometer can do for it. You can tweak connect timeout configuration to fit your environment if it helps.

[2019-07-08 05:12] checketts commented on #416
We could add a snippet to the docs that demonstrates a recommendation. I have a sample I would be happy to use.

[2019-07-08 05:28] izeye commented on #416
@checketts I thought it's already been documented [here](http://micrometer.io/docs/guide/healthAsGauge). Do you have another in mind?

[2019-07-08 07:32] #1483 closed

[2019-07-08 08:01] markostijak commented on #1471
Hi. I also have a question regarding this. Is there any way to prevent sending zero values, and that it is not using the remove method?

[2019-07-08 08:22] shakuzen commented on #1495
Hopefully you closing the issue means that you figured it out. Auto-configuration support for `JettyStatisticsMetrics` was added to Spring Boot in 2.1.0. Support for 2.0.x has ended, by the way, so I would suggest upgrading to the latest 2.1.x version of Spring Boot which should have the auto-configuration you're looking for.

[2019-07-08 08:48] shakuzen commented on #1481
If you have a lot of tags or long tag names/values, then the payload size will increase per metric, which might be putting you over the payload size limit Datadog enforces. Those thread names look related to the Datadog agent, not Micrometer.

[2019-07-08 08:52] shakuzen opened #1500 "Batch Datadog metrics payload by size rather than number of meters"
See #1250 and #1481. We currently batch by number of `Meter`s, which we make configurable. Datadog's API defines a payload size limit https://docs.datadoghq.com/api/?lang=bash#post-timeseries-points

It would be more complicated to do the batching by payload size, but it would avoid errors since the payload size per metric is not uniform or easily pre-calculated. With more payload taken up by tags

[2019-07-08 09:30] shakuzen commented on #1499
It sounds like your application may not be able to connect quickly to the Datadog API. The `connectTimeout` can be configured with the `HttpSender` used with the `DatadogMeterRegistry`. For now, it can also be configured with the `connectTimeout` method on the Config class - it defaults to 1 second.

[2019-07-08 10:21] shevyf commented on #1465
For information, that's a slightly larger list of characters than normal Graphite allows (HG uses different storage). Vanilla Graphite doesn't allow the colon character either, as Whisper stores metrics as files so it would have issues in any OS that prohibits colons in file names (e.g. Windows). The backslashes shown there are just escape characters, for the same reason.

[2019-07-08 18:28] krishnakumar797 commented on #513
Prometheus showing down status for SpringBoot /actuator/prometheus endpoint. Manifests as follows,

[code]
  we are getting

http://10.1.1.131:8080/actuator/prometheus | down | endpoint="das-port"                                    instance="10.1.1.131:8080"                                    job="das-service"                                    namespace="default"

[2019-07-08 19:46] itsgauravsaxena opened #1502 "DataSourcePoolMetadataProvider"
I know it must have been discussed before but I am struggling to setup data source metrics in my application. Spring boot 2.0.3.Release with oracle database (local h2 DB). Any working  example would be a great help as I am in really last minutes.

[2019-07-08 20:41] izeye commented on #1502
@itsgauravsaxena If you're using an auto-configured data source, you don't need any additional configuration for it. Please see [this sample using H2/HikariCP](https://github.com/izeye/sample-micrometer-spring-boot/tree/jdbc).

[2019-07-08 20:41] #1502 closed

[2019-07-09 03:56] itsgauravsaxena commented on #1502
I am not using auto configuration due to historical reasons.
My configuration bean rather looks like this

    @Bean
    DataSource dataSource() throws SQLException {

        OracleDataSource dataSource = new OracleDataSource();
        dataSource.setUser(username);
        dataSource.setPassword(password);
        dataSource.setURL(url);
        dataSource.setImplicitCachingEnabled(true);

[2019-07-09 05:14] izeye commented on #1502
@itsgauravsaxena Thanks for the additional info. Based on the bean definition you provided above, the `DataSource` won't be pooled with any data source pool library Spring Boot supports and the metrics you referred above are for the pooled data sources. So your bean definition for `DataSource` should be changed to be a pooled version if you want to see the metrics for the pooled data sources. This

[2019-07-09 06:08] itsgauravsaxena commented on #1502
Thanks @izeye
I just switched to pooled datasource but I dont see any change in behaviour.

` @Bean
public DataSource dataSource() throws SQLException {
            PoolDataSourceImpl dataSource = new PoolDataSourceImpl();
            dataSource.setConnectionFactoryClassName("oracle.jdbc.pool.OracleDataSource");`

Or should it be like this.
`@Bean
	public DataSource customDataSource() {
		return D

[2019-07-09 07:48] izeye commented on #1502
@itsgauravsaxena Spring Boot provides out-of-the-box support only for the following three pooled data sources at the moment:

- `com.zaxxer.hikari.HikariDataSource`
- `org.apache.tomcat.jdbc.pool.DataSource`
- `org.apache.commons.dbcp2.BasicDataSource`

If you want to create the `DataSource` bean on your own, you need to create an instance from one of them. Or you can resort to the `DataSourceBuil

[2019-07-09 10:42] pchatsu commented on #1499
@izeye @shakuzen thanks for your advice! I'll try to configure `connectTimeout`.

[2019-07-09 12:38] bsideup commented on #1021
Hi @slovdahl,

it would be really nice if you submit it! I'm not a maintainer of Micrometer, but a consumer, and we would benefit from having it in Micrometer 👍

@shakuzen WDYT?

[2019-07-09 16:12] #1465 closed

[2019-07-09 19:54] mixcloud-downloader opened #1505 "[Regression] IllegalArgumentException in ElasticMeterRegistry.getMajorVersion()"
The latest Spring Update pulled in micrometer-registry-elastic-1.1.5.jar, which fails now with this exception:

Jul 09 19:46:59 ubuntu downloader.jar[13292]:         at io.micrometer.elastic.ElasticMeterRegistry.getMajorVersion(ElasticMeterRegistry.java:253)

If I check the offending ElasticMeterRegistry.java:253, I see [this pattern](https://github.com/micrometer-metrics/micrometer/blob/d41fbf531

[2019-07-09 20:37] izeye commented on #1505
@mixcloud-downloader Thanks for the report! Your Elasticsearch seems to be configured to disable pretty-print for the info response somehow unlike the default installation as follows:

[code]

[2019-07-09 20:40] mixcloud-downloader commented on #1505
It's not my Elasticsearch. It's a commercial provider where I have no control on such settings. Please consider my PR to fix that.

[2019-07-09 20:51] izeye commented on #1505
@mixcloud-downloader Thanks for the quick feedback! I reviewed your PR and assigned this issue to the 1.1.6 milestone.

[2019-07-10 09:53] #1505 closed

[2019-07-10 13:18] mweirauch commented on #1021
When working on this, there should be - not necessarily on this issue - a consolidation of metric and tag naming between Executor, ExecutorService and SchedulerExecturService metrics as mentioned in related tickets.

[2019-07-10 14:19] pertu opened #1509 "Incorrect Kafka "last-heartbeat-seconds-ago"/"last-heartbeat" time unit"
In `KafkaConsumerMetrics` there is `last-heartbeat` metric attached to `last-heartbeat-seconds-ago` JMX metric.

Original `last-heartbeat-seconds-ago` is in seconds, and `KafkaConsumerMetrics` additionally "converts" it from `MILLISECONDS` to `SECONDS`.
Result: 1 second real value is `0.001` in micrometer gauge.

[2019-07-11 14:13] mardoz opened #1510 "Uri tag replaced with REDIRECTION when 304 response"
We have an S3 bucket sitting behind a spring-cloud-gateway service and our client makes use of the If-Modified-Since header so that it doesn't have re-download assets from S3 it already has.

Whenever S3 returns a 304 (Not Modified) to indicate that the client should use the cached asset the uri tag gets replaced with "REDIRECTION" in our spring-cloud-gateway metrics which means that unfortunately

[2019-07-12 12:26] bsideup opened #1511 "`ExecutorService` support requires documentation"
The support was added in https://github.com/micrometer-metrics/micrometer/issues/15 but it lacks any documentation.

[It would help Project Reactor](https://github.com/reactor/reactor-core/issues/1539) to have a page to reference to instead of duplicating this info in Reactor's docs.

[2019-07-12 16:21] krmeda opened #1512 "Datadog Registry implementation does not honor commonTags for WebFlux metrics"
When common tags are configured as per [documentation](https://micrometer.io/docs/concepts#_common_tags), the datadog registry ignores the common tags.

I verified common tags setup by using a secondary Prometheus registry where it is showing up correctly in `/actuator/prometheus` endpoint.

Makes using the `name-tag` support of Datadog Registry a problem for already available metrics such as Spri

[2019-07-12 17:30] austinarbor opened #1513 "InfluxMeterRegistry - More Granular Configuration Options"
I'm mostly coming from a spring-boot actuator use case perspective here, but it'd be nice to get more configuration options for using the `micrometer-registry-influx` package to customize how the metrics are sent to InfluxDB.  For example, if I use the InfluxDB client directly, I can instantiate a `Point` and  specify the exact values I want to use for the  measurement, field, tags, etc.  I dug th

[2019-07-15 15:50] checketts commented on #416
That works great! The only change my code uses is to make the 'bad' statuses negatives:

[code]

That simplifies my charting in Prometheus

[2019-07-17 12:49] Docjones commented on #807
Meh... Not a single answer since 11 days. Great feature (at least i think so), but either i am too dumb or there is a lack of documentation...

[2019-07-17 13:06] admir200 commented on #236
is this in spring-cloud-openfeign? if so, how do we use it?

[2019-07-17 13:51] izeye commented on #1509
@pertu Thanks for the report! I created #1521 to resolve this and fix other wrong time units.

[2019-07-18 04:24] wangyf2010 opened #1522 "performance downgrade after enable "http.server.requests" metrics with micrometer-jersey2"
we're using spring-boot:2.1.1.RELEASE. After add below 2 dependencies to enable prometheus metrics for "http.server.requests". we saw there are performance downgrade:
micrometer-registry-prometheus:1.1.1 & micrometer-jersey2:1.1.1

LnP report shows:
cpu: enable "http.server.requests" - 34% vs diable "http.server.requests" - 25%.
GC overhead: 1% vs 0.7%
Latency: 69ms vs 40ms

any ideas to improve i

[2019-07-18 20:23] mweirauch commented on #1522
Hi @wangyf2010 thanks for reporting. I got some remarks and questions.
* First of all, instrumentation doesn't come for free. There's always an overhead.
* The only thing which comes to my mind (without checking the code again) is that we are collecting the resource class and method annotations on every request. We could introduce some caching, so that this overhead is only present once on the fir

[2019-07-18 21:03] IRus commented on #1489
Does it differ from contributing [common tags](https://micrometer.io/docs/concepts#_common_tags)?

Should it be part of StackdriverConfig? @shakuzen

[2019-07-19 03:04] wangyf2010 commented on #1522
Thanks @mweirauch for detail comments!

It is over actuator endpoints requests. we did LnP with histogram & without histogram. both of them have big CPU overhead. And we just did LnP on our business API, not ping /actuator/prometheus at all.
I have one question here: does micrometer have window to record http request metrics? if there are many requests come in, will record too many metrics, then h

[2019-07-19 03:57] wangyf2010 commented on #1522
found logic to scan annotations per request: https://github.com/micrometer-metrics/micrometer/blob/6c657f93479b03835478153c33cde4122b7b7ac2/micrometer-jersey2/src/main/java/io/micrometer/jersey2/server/MetricsRequestEventListener.java#L76

[2019-07-19 06:46] addozhang commented on #844
I reproduced this issue in debug mode on local machine.

This should comes when pause occurs in system. The `PauseDetector` detected pause and compensation latency via invoking `AbstractTimer#recordValueWithExpectedInterval()`. It compensations `time` together with `count`.

When long pause occurs, it falls in loop highlighted below. Then the case comes.

![image](https://user-images.githubusercon

[2019-07-19 07:54] #1509 closed

[2019-07-19 08:11] shakuzen commented on #1489
Yes, I think a configuration option there with a default of "global" for backwards compatibility would make most sense.

[2019-07-19 08:41] shakuzen commented on #1513
Could you share more about what kind of customizations you're wanting to make and the motivation for that? All registries make opinionated decisions about what to call things like "sum", "count", etc. and we try to use what's most common for the given backend. If there is some reason the current choices are not ideal, we'd like to know and understand why.

That said, you can always make your own `

[2019-07-19 14:15] izeye commented on #1494
@danieljamesscott Thanks for the suggestion! I created #1523 to try to resolve it generally.

[2019-07-19 16:06] YashchenkoN commented on #1489
Hi @shakuzen,
Please review #1524

[2019-07-19 16:12] austinarbor commented on #1513
@shakuzen I'm mainly just talking about being able to specify the field names.  For example, like in the [Getting Started docs](https://docs.influxdata.com/influxdb/v1.7/introduction/getting-started/)f I had a `temperature` measurement, I'd want to be able to have an `internal` field and an `external` field.  As far as I know, this is not possible with the current registry.  On the InfluxDB side t

[2019-07-19 20:07] mweirauch commented on #1522
The memory usage should be constant per unique (basically the same tags on `http.server.requests`) HTTP-request metric.  There should be no leak, just the regular memory usage per metric. Of course recording histogram data additionally has its memory overhead. There's a [memory footprint estimation](https://micrometer.io/docs/concepts#_memory_footprint_estimation) in the docs.

So if you don't ser

[2019-07-20 02:00] wangyf2010 commented on #1522
I tried 1.1.4 and did lnp, no big improvement for performance.
If there isn't mem leak for per recording metrics. I'd prefer to analyze it by below 2 ways:
1. I want to improve annotation scanning part to see whether it helps.
2. Understand there is cost for instrumentation, while per lnp looks like there are much more overhead for CPU. And there are more GC overhead, so I suppose there are memory

[2019-07-20 05:44] izeye commented on #1511
@bsideup Thanks for the issue! I created https://github.com/micrometer-metrics/micrometer-docs/pull/96 to try to resolve this.

FYI there's a dedicated repo for docs here: https://github.com/micrometer-metrics/micrometer-docs

[2019-07-20 08:23] bsideup commented on #1511
@izeye thanks! I am ok to transfer this issue to `micrometer-docs` via GitHub's transfer mechanism, since it definitely belongs there :)

[2019-07-21 11:21] tudanmeng opened #1526 "Cannot find total_time of gc pause when using graphite registry"
Hi team of micrometer,

When I using graphite registry with micrometer, I cannot find metric of total_time in any of those metrics, the following is the gc pause metrics returned by spring actuator
`{
  "name": "jvm.gc.pause",
  "description": "Time spent in GC pause",
  "baseUnit": "milliseconds",
  "measurements": [
    {
      "statistic": "COUNT",
      "value": 4.0
    },
    {
      "statist

[2019-07-21 12:39] artjock opened #1527 "Human-readable output for SimpleMeterRegistry"
When doing first steps with micrometer it's not that straight forward to understand what is going on. It would simplify the learning curve massively if you can just output metrics you've collected in a human-readable form like Dropwizard is doing:

[code]

I know you can [hook up](https://micrometer.io/docs/guide/consoleReporter) dropwizard registry, which is convenient for those, who are familiar

[2019-07-21 14:49] izeye commented on #1510
@mardoz Do you mean the metrics from [`GatewayMetricsFilter`](https://github.com/spring-cloud/spring-cloud-gateway/blob/master/spring-cloud-gateway-core/src/main/java/org/springframework/cloud/gateway/filter/GatewayMetricsFilter.java)?

[2019-07-22 07:30] tudanmeng commented on #1526
After debugging, it turns out to be dropwizard does not support total time...
https://github.com/dropwizard/metrics/issues/712

[2019-07-22 07:30] #1526 closed

[2019-07-22 08:18] shakuzen commented on #1492
Thank you for letting us know about the usability problem here. Indeed those `MeterBinder`s should not be closed after binding, but they generally should be closed on application shutdown, to clean up side effects of the binder. In environments that manage lifecycles (e.g. Spring beans), these being `AutoCloseable` can be helpful as the environment will automatically `close` them on application sh

[2019-07-22 08:41] shakuzen commented on #1493
You are working in the right direction. I think the issue is config methods that are trying to return a `Duration` are using your constant `testtest` value returned by the `get` method to parse a `Duration`. For example, look at the default `step()` implementation on `PushRegistryConfig`:

https://github.com/micrometer-metrics/micrometer/blob/6c657f93479b03835478153c33cde4122b7b7ac2/micrometer-cor

[2019-07-22 08:52] nickstolwijk commented on #1492
Would then Closeable be a better solution?

https://docs.oracle.com/javase/8/docs/api/java/io/Closeable.html

With regards,

Nick

On Mon, 22 Jul 2019, 10:18 Tommy Ludwig, <notifications@github.com> wrote:

[2019-07-22 09:34] mardoz commented on #1510
My understanding of the Spring Cloud Gateway code isn't the best but that does look like the relevant place.

It looks like SCG is correctly filling the URI but then Micrometer is rewriting the URI because the response code is 304, hence me raising it here and not in the SCG project.

[2019-07-22 10:01] izeye commented on #1510
@mardoz Thanks for the feedback! Could you please provide the metric name and tags you're seeing?

[2019-07-22 10:14] mardoz commented on #1510
Sure, here's the Prometheus metric where we see this:
[code]

[2019-07-22 14:11] izeye commented on #1510
@mardoz Thanks! I'm not familiar with Spring Cloud Gateway but I took an opportunity to create a sample and reproduced what you're seeing. It's the default behavior of `WebFluxTagsProvider` (`DefaultWebFluxTagsProvider`) which Spring Boot provides unless there's a `HandlerMapping.BEST_MATCHING_PATTERN_ATTRIBUTE` attribute. If you want to change the behavior, you need to provide your own `WebFluxTa

[2019-07-22 15:31] checketts commented on #1527
Sounds good. What does the current SimpleMeterRegistry`'s `toString` return right now?

[2019-07-22 17:22] artjock commented on #1527
It's the default `Object`'s implementation, at least for version 1.2.0:

[code]

[2019-07-22 17:26] checketts commented on #1527
That could really be improved. Go for it and we can iterate on the output format in the PR.

[2019-07-24 02:06] shakuzen opened #4616 "Make references to classes link to the source code"
See https://twitter.com/CorainChicago/status/1153767720686620674

[2019-07-24 17:54] jiwonys opened #1530 "Posting Gauge metrics once per call"
I know that by default, there is a 1 min interval at which the metrics are posted to the database.
I wanted to see if I could make it post just once per call instead of repeating every minute.
I also wanted to carry out multiple different calls with different values which will be posted according to different endpoints.

What I tried to do was
for(String key:keys) {
        	produceAllMetrics(key)

[2019-07-25 00:59] addozhang commented on #844
Continue previous comment:

###reproduce###
Reproduce case in docker container by trigger full gc via heap dump per seconds, the kept increasing high even no incoming request.

![image](https://user-images.githubusercontent.com/2224492/61837759-c131e980-aeb8-11e9-90c3-48679fb8b8a4.png)

![image](https://user-images.githubusercontent.com/2224492/61837847-2ede1580-aeb9-11e9-98aa-03d958aea5ce.png)

#

[2019-07-25 11:39] ekdxhrl0096 opened #1531 "GraphiteMeterRegistry prints stacktrace at shutdown time."
I experienced stacktrace every time I quit the spring application.
It seems that when trying to close a non-Singleton value, an error occurs.
How can I fix it?

*application.yml*
[code]

*Stacktrace*
[code]

Has anyone experienced this experience?

[2019-07-25 15:38] izeye commented on #1531
@ekdxhrl0096 Looking at the stack trace, `GraphiteMeterRegistry.close()` is calling `ScheduledReporter.report()` and along the way, some code from Spring Integration is calling `AbstractApplicationContext.getBeansOfType()` which triggers the exception. Looking into `IntegrationManagementConfigurer`, it uses `AbstractApplicationContext.getBeansOfType()` in gauge value functions, so it seems to be i

[2019-07-25 15:44] izeye commented on #1531
Regardless of the log level, the metrics from on-close publishing will be lost, so it'd be good to be resolved somehow there.

[2019-07-25 16:23] mardoz commented on #1510
Thanks. I can't see exactly how that works but I'll give it a go.

[2019-07-25 16:26] izeye commented on #1531
I created #1532 to publish other metrics although there's any exception from gauge value functions and the metric(s) couldn't be handled properly.

[2019-07-26 10:37] xiaobing395845388 opened #1534 "ProcessorMetrics.processCpuUsage"
when springboot project run in a docker container of k8s clouder, processCpuUsage reports  current process CPU load / k8s host node, not current process CPU load/contianer

[2019-07-26 13:11] checketts commented on #1534
This is a JVM limitation.  Are you running with `-XX:+UnlockExperimentalVMOptions` or `-XX:+UseCGroupMemoryLimitForHeap` ?

Either way, this isn't something Micrometer can address itself.

More information here: https://dev.to/zac_siegel/java-and-docker---memory-and-cpu-limits-3h77

[2019-07-29 08:01] shakuzen commented on #1534
The automatic docker support added in Java 10 was backported to Java 8 update somewhat recently, so I would suggest trying to use the latest update of Java 8. That said, I don't know if it solves the process CPU usage issue or not. The current implementation in `ProcessorMetrics` depends on the result of the `OperatingSystemMXBean`'s method `getProcessCpuLoad`.  There's also #1274 to add/switch to

[2019-07-29 09:26] xiaobing395845388 commented on #1534
1.8.0_201

[2019-07-29 10:01] shakuzen opened #1535 "JavaDocs for Timed annotation methods"
Inspired by #1533, let's make sure we document these better.

[2019-07-29 10:13] #1535 closed

[2019-07-29 10:21] shakuzen commented on #1534
@xiaobing395845388 thank you for responding quickly. That version should have the backport of the docker support things (which went in u191, I think).
How are your CPU limits configured for the container?

[2019-07-29 19:26] #1530 closed

[2019-07-30 10:33] shakuzen commented on #1510
@mardoz as @izeye mentioned, the logic for this is in Spring Boot's `DefaultWebFluxTagsProvider`. If you think it makes sense in the general case for 304s to record the actual URI template, you could open an issue in the Spring Boot repository requesting that change.

[2019-07-30 10:33] #1510 closed

[2019-07-30 12:57] shakuzen commented on #1530
@jiwonys I see you've closed the issue. Were you able to figure out what you wanted to know?

Once per call of what?

I'm not understanding what you want to do here. Could you elaborate on this?

Generally registries are only closed on application shutdown.

[2019-07-31 00:28] ekdxhrl0096 commented on #1531
When Spring manages the life cycle, it is working based on a spring bean, which seems to be a non-singleton issue. I will take a closer look at this part and send a request to the Spring side.

Thanks for kind reply for me.

[2019-07-31 00:29] ekdxhrl0096 commented on #1531
LGTM. Thanks :)

[2019-07-31 09:59] xiaobing395845388 commented on #1534
configure  CPU  limit 6  cores   and  CPU request  2 cores

[2019-08-01 15:23] kkocel opened #1536 "[Question] New Relic application name in insights api?"
Is there a possibility to set application name property and send it over Insights API?
When I have multiple environments for single app then data from different environments is mixed.

I've also posted this question on SO:
https://stackoverflow.com/questions/57311072/how-to-pass-application-name-for-new-relic-insights-in-spring-boot-micrometer

[2019-08-01 18:26] sfitts opened #1537 "Composite meters should ignore Noop children when reporting their value"
The current implementation of the composite meters is to report their value from the first child.  However, if that child is a no-op (because the associated registry denied the meter) then the value reported will be 0.  Since it isn't possible for no-op children to have a meaningful value it would seem to make sense to ignore them when reporting the value of a composite and instead report a value

[2019-08-01 20:39] izeye commented on #1537
This seems to be a duplicate of #1441.

[2019-08-01 20:40] sfitts commented on #1537
So it is - sorry -- my search-fu needs improving.

[2019-08-01 20:40] #1537 closed

[2019-08-02 08:37] koekj opened #1538 "Spring boot Embbeded Tomcat with multiple deployments"
When using multiple war files, the TomcatMetrics is only registring the Servlet from the "main" container. This is caused by the fact that the notificationlistener is  removed from the mbean server which is triggered when a new object is registered.

To my opinion the registration of the listener should be removed, so that when servlets are created manually or when multiple war files are deployed

[2019-08-02 11:36] kkocel commented on #1536
combination of `MeterRegistryCustomizer<MeterRegistry>` and `NewRelic.getAgent().config.getValue("app_name")` solved my problem

[2019-08-02 11:36] #1536 closed

[2019-08-02 23:26] edudar opened #1539 "Histogram returns 0s at percentiles"
Metric monitoring and analysis systems, we use Datadog and an internal system, allow aggregations of a given metric by some dimensions like hostname. Aggregating client-side percentiles between servers is not something very useful but taking one server at a time it should have the same `max`, `min` and `avg` or so I thought. I ran a few tests, looked through HistogramSnapshot and this assumption c

[2019-08-02 23:51] #1539 closed

[2019-08-05 14:51] shakuzen commented on #575
Only the information available as comments on this issue. Which license do users requesting this have so we can know what solution would work for them? Another solution would be for AppDynamics customers to request AppDynamics to support collecting Micrometer metrics from the AppDynamics Java agent.
Do users want Micrometer metrics in AppDynamics for the purpose of custom metrics in their applicat

[2019-08-06 14:05] neiljpowell opened #1540 "New Relic Java Agent MeterRegistry"
@shakuzen We are users of the New Relic Java Agent and would like a MeterRegistry that delegates to the New Relic Insights API available on Agent.
We have created our own delegating implementation that is very similar to the existing NewRelicMeterRegistry, but it provides several additional benefits:
- Avoids the need for separate API key provisioning/management, which is required for the existing

[2019-08-06 15:40] checketts commented on #1540
@neiljpowell Sounds like you have experience working with New Relic. Are you planning on contributing your code to the project?

If you could do it in such a way to enhance the current `NewRelicMeterRegistry` and allow enabling your new features via config, that would be ideal.

We could discuss making yours the default behavior, as long as there is a way for users to disable that behavior if they

[2019-08-06 16:52] neiljpowell commented on #1540
@checketts Hi. I do plan to contribute. Enhancing the existing NewRelicMeterRegistry should be fairly easy. I had an opportunity to discuss with @shakuzen and he suggested starting with this Issue submission to help gauge interest.

[2019-08-07 13:47] shakuzen opened #1541 "Upgrade to Checkstyle 8.23"

[2019-08-07 14:17] #1541 closed

[2019-08-08 09:30] shakuzen opened #1542 "Deprecate micrometer-spring-legacy module"
With the [announcement of the end of life of Spring Boot 1.x](https://spring.io/blog/2019/08/06/it-is-time-goodbye-spring-boot-1-x), we will deprecate (for removal) our support of the micrometer-spring-legacy module. Users of micrometer-spring-legacy should upgrade to Spring Boot 2.x to continue using supported Spring integration of Micrometer features.

[2019-08-13 07:26] cscheffel opened #1543 "Micrometer with ehcache and datadog throws InvocationTargetException"
We have integrated micormeter in a spring boot 2.1.6-App which use ehcache 2.10.6 as caching provider. The runtime enviroment is open jdk 11. After adding micrometer 1.1.5 (and as a try 1.2.0) and a custom specifc counter everything works well at the beginning.

Micrometer transfers the custom counter to datadog.

After a view seconds (i.e. timerbased), micrometer trys to transmit metering data fo

[2019-08-13 13:35] shakuzen commented on #1543
Is ehcache 2.10.6 compatible with Java 11?

[2019-08-13 14:58] cscheffel commented on #1543
As far as I know, it is. We use it as the Version, which is referenced by Spring Boot 2.1.6 (via bom) and use it with java 11 and without any problems since 4 month.

The documentation says: java >= 8

[2019-08-14 08:06] shakuzen commented on #1543
I'm having trouble reproducing this. Could you provide a minimal sample project with steps to reproduce this? I'm getting a similar warning (below), but it does not cause any exception.

[code]

[2019-08-14 08:29] cscheffel commented on #1543
I have seen this warning as well. After a while, transimission stopped.

I will try to create a demo project.
Which Version of micrometer did you use? 1.1.5, 1.2.0 or latest?

[2019-08-14 08:57] shakuzen commented on #1543
I used 1.2.0

[2019-08-14 13:35] cscheffel commented on #1543
I have build a small demo app: [https://github.com/cscheffel/demo-micrometer-ehcache](https://github.com/cscheffel/demo-micrometer-ehcache)

If you checkout, build (mvn package) and start this, it is a typical web hello world. Calling localhost:8080 shows a starting page and uses ehcache as cache. I you are interessted, i can send you a prebuild jar.

In this implementation, I was not able to repr

[2019-08-14 13:53] ST-DDT commented on #656
There is also an interceptor based implementation available in https://github.com/yidongnan/grpc-spring-boot-starter:

* [shared](https://github.com/yidongnan/grpc-spring-boot-starter/tree/master/grpc-common-spring-boot/src/main/java/net/devh/boot/grpc/common/metric)
* [client](https://github.com/yidongnan/grpc-spring-boot-starter/tree/master/grpc-client-spring-boot-autoconfigure/src/main/java/net

[2019-08-15 04:02] shakuzen commented on #1543
The exception on shutdown is different. It happens because the cache is already shutdown when it is trying to publish the metrics on application shutdown. We could probably handle that better, but it is a separate issue.

[code]

[2019-08-16 00:50] neiljpowell commented on #1540
@checketts @shakuzen The existing NewRelicMeterRegistry has been update since the last version. It's meter processing functions convert to Stream<String>.  The previous handled as a map then converted them all to Json before the REST call, which aligned better with the Agent's Insights API, "recordCustomEvent(string eventType, Map attributes).  Adding the feature would result in undoing much of it

[2019-08-16 07:15] shakuzen commented on #1540
I think I'd still rather have it in one `NewRelicMeterRegistry`. It sounds like there will be some significant internal refactoring, but I think we can get it to a state where it is usable by both options, which will be better long-term. Otherwise we'll have two separate MeterRegistry implementations that need to be maintained and understood by users which to choose. It would also be the first mod

[2019-08-16 10:23] shakuzen opened #1545 "Build broken since Atlas version 0.93.0"
Noticed by @mwl https://github.com/micrometer-metrics/micrometer/pull/1544#issuecomment-521543413

Since the `master` branch doesn't use dependency locks and the dependency is declared with `latest.release` as the version, we get the latest version of the `com.netflix.spectator:spectator-reg-atlas` dependency on each build. Since version `0.93.0` the tests are failing. They continue to fail with t

[2019-08-16 11:36] BartoszKaszewczuk opened #1546 "Unable to send metrics to NewRelic using ReactorNettySender - 400 Bad Request"
Hi,

I believe I found a problem with Micrometer when using `ReactorNettySender` as the underlying network `httpClient` where Micrometer/Netty seems to fail to send properly formatted message to NewRelic, producing a`400 Bad Request` response on each attempt.

Given `NewRelicMeterRegistry` with a simple `ReactorNettySender` instantiated like so:
[code]
Log Output:
[code]
---
For debugging purposes

[2019-08-16 13:58] brharrington commented on #1545
There are two issues:

1. `AtlasMeterRegistryCompatibilityTest` can be fixed by updating the config. Spectator AtlasRegistry now supports multiple step sizes for on-demand streaming, but that is causing a problem with the consolidated value that is published for storage in the way the test is setup.
2. `AtlasMeterRegistryTest` is using reflection to call a private method that was renamed. What it

[2019-08-17 02:00] harshitdx29 opened #1547 "Unable to send metrics to Datadog `MissingRequiredConfigurationException`"
I am using springboot 1.4.1 and integrated Micrometer with it. I want to push metrics to Datadog and my application.properties read as:

[code]

And my datadog config is:

[code]

But I am getting error as:

[code]

[2019-08-17 02:26] shakuzen commented on #1545
Thank you for the support, @brharrington. We'll do a better job of checking with the Spectator/Atlas team in the future on these things.

[2019-08-18 17:06] phucnh opened #1548 "DatadogMeterRegistry didn't send the correct counter metric's value when close registry earlier than the 'step'"
When the `DatadogMeterRegistry` is closed earlier than `DatadogConfig#step`, seems that the counter's value is not set correctly.

For example:
- I init the DatadogConfig with `step` is 10 seconds (Flushing metric interval)
- I define a `DatadogMeterRegistry` and create a `counter`
- Increment `counter` by `counter.increment()`
- Wait 1 second and call `registry.close()`
- The `counter` that is pu

[2019-08-19 07:16] shakuzen commented on #1547
Try with `management.metrics.export.datadog.apiKey`. Spring Boot 1.4 doesn't have the configuration property normalization built into access via `Environment` like Spring Boot 2.x has.
I would also note though that we don't test micrometer-spring-legacy with Spring Boot 1.4. We test it with Spring Boot 1.5, which was until recently the supported version of Spring Boot 1. Now even Spring Boot 1.5 i

[2019-08-19 10:29] shakuzen commented on #1546
Thank you for the detailed report and sorry for the inconvenience of this not working as expected.

The issue is that `ReactorNettySender` is not sending the configured HTTP headers. This is a bug and we'll get it fixed. I'm just curious: what was your motivation for configuring this sender as opposed to the default?

[2019-08-19 11:06] shakuzen commented on #1545
@brharrington could you elaborate more on the change that should be made? I took a look but wasn't sure what to change in the test configuration.

[2019-08-19 11:16] BartoszKaszewczuk commented on #1546
Thanks for reply,

Default sender doesn't support authenticated HTTP proxy and since my stack already depends on `Reactor` and `Netty` it made sense to switch to `ReactorNettySender`, but unfortunately the above problem popped up.
As a temporary workaround I implemented the same but using `OkHttpSender` which I can say that certainly works but from my perspective it's a suboptimal solution since I

[2019-08-19 11:27] BartoszKaszewczuk commented on #1546
@shakuzen
Actually, its definitely the missing header.
I just tested it by injecting `reactor.netty.http.client.HttpClient` with `X-Insert-Key` header specified at the Netty level like in the snipped below and the requests are now posted successfully and NewRelic replies with `200` 👌🏻
[code]
Log Output:
[code]

[2019-08-19 11:53] BartoszKaszewczuk commented on #1546
@shakuzen
I drafted a fix for this issue in Kotlin and I can confirm that it works. I will need some time to convert it to Java and then I can submit a PR.

[2019-08-19 14:29] BartoszKaszewczuk commented on #1546
@shakuzen
Fix is ready for review and merge

[2019-08-19 23:07] brharrington commented on #1545
See #1550. It is basically making the `lwcStep` value used for on-demand streaming of the data match the publishing step.

[2019-08-21 20:07] debashish-github commented on #807
I have similar issue . No examples or documentation.. its pity..

[2019-08-22 06:39] #1545 closed

[2019-08-22 07:00] shakuzen commented on #1539
Since you are using StatsD to send metrics to DataDog, the aggregation for max/min/avg is not done by Micrometer. Micrometer is sending individual measurements to StatsD.

[2019-08-22 10:31] wilkinsona opened #1551 "Synchronization during meter registration may result in deadlock"
A [Spring Boot issue](https://github.com/spring-projects/spring-boot/issues/17765) has been opened reporting a deadlock. There appears to be two parts to the problem, both caused by calls to foreign code while holding a lock. One part is in Spring Framework and the other is in Micrometer.

Here's a minimal example that reproduces a similar problem without Spring Framework's involvement:

[code]

T

[2019-08-22 10:33] wilkinsona commented on #1551
Here's a zip of a complete project containing the test in the comment above: [meter-registration-deadlock.zip](https://github.com/micrometer-metrics/micrometer/files/3529652/meter-registration-deadlock.zip)

[2019-08-23 07:49] shakuzen opened #1553 "Add tests for HttpSender implementations"
See #1546. We did not have tests to ensure the functionality defined in `HttpSender` worked for each implementation.

Edit: We had some unit tests mocking internals of some implementations. This issue intends to enhance these tests by making them issue actual requests and add these to the 1.1.x branch. Some or all parts of the mocked unit tests might be obviated by these tests issuing real request

[2019-08-23 08:14] shakuzen opened #1554 "ReactorNettySender outputs logs on each request at INFO level"
See https://github.com/micrometer-metrics/micrometer/blob/04cb310abd68a00ab53da7641b2bdbe2a30c02c2/micrometer-core/src/main/java/io/micrometer/core/ipc/http/ReactorNettySender.java#L39

Which results in logs like the following on each request sent.

[code]

[2019-08-23 17:24] lucasmogari opened #1555 "Elastic registry should send host and some other identifiers"
For example, if I have 2 micronaut instances running in 2 hosts, I would like to send the metrics to the same index and be able to group them by some field like host.

[2019-08-26 02:52] woshiyjs123 opened #1557 "monitor apps on k8s using prometheus pushgateway, but data from destroyed pots not disappeared on grafana"
Sorry to disturb, i encountered a problem.
    our company's applications is running on k8s, using deployment. our applications is using spring cloud framework which integrated micrometer packages. i use prometheus pushgateway to collect metrics  because pod ip will change ofter pod rebuild everytime.
    but i discovered that pods' data on grafana will not disappeared after pod is rebuilded .
see

[2019-08-26 02:58] checketts commented on #1557
You really should move away from pushgateway and use Prometheus relabeling for this use case.

Done do your metrics based off up, but instead switch to the pods label (typically a useful one declared in the deployment)

[2019-08-26 05:07] woshiyjs123 commented on #1557
thank you very much, i will try it.

[2019-08-26 06:51] shakuzen commented on #1553
Looking into the failure of these tests once merged to the `1.2.x` branch... https://circleci.com/gh/micrometer-metrics/micrometer/4226

[2019-08-26 16:22] #1546 closed

[2019-08-27 08:21] shakuzen commented on #1553
This hard-to-reproduce test failure was a doozy. I could not reproduce it running tests locally from the IDE or command line. I also failed to reproduce it running the tests in the same docker image used by the build (`cirlceci/openjdk:11-jdk`). I could reproduce it using the CircleCI CLI to run the build in CircleCI containers locally, but I could not expose a port on that to do remote debugging.

[2019-08-27 08:58] #1554 closed

[2019-08-27 09:19] shakuzen opened #1559 "Upgrade to pcollections 3.0.5"
Since we shade this dependency, it will not be affected by a user's runtime classpath.

[2019-08-27 10:11] shakuzen opened #1560 "Upgrade to reactor-core and reactor-test 3.2.11.RELEASE"
Since we shade these dependencies, they will not be affected by a user's runtime classpath.

[2019-08-27 10:32] woshiyjs123 commented on #1557
i think  about your idea a good while, but also can't got what i should do.
prometheus relabeling only can be used to change the metrics, but can't solve my problem. i want to delete the prometheus data from destoryed pods.

[2019-08-27 10:48] shakuzen opened #1561 "Upgrade to reactor-netty 0.8.10.RELEASE"
Since we shade this dependency, it will not be affected by a user's runtime classpath.

[2019-08-27 10:58] shakuzen commented on #1561
This transitively upgrades to Netty 4.1.36.

[2019-08-27 11:43] shakuzen commented on #1553
I was not aware, but we already have a TCK for HttpSender in the micrometer-test module, and test implementations for each of the HttpSender implementations in micrometer-core. Re-opening the issue again to port any functionality missing in the TCK tests or move implementation-specific tests, and finally to delete the tests I added in micrometer-core as they are redundant and we want tests kept in

[2019-08-27 11:53] #1559 closed

[2019-08-27 11:53] #1560 closed

[2019-08-27 11:53] #1561 closed

[2019-08-27 20:23] mweirauch commented on #1557
Regarding the metrics of gone pods remaining in Pushgateway, you can set the shutdown-operation in your Spring-Boot application which shall be performed on application shutdown. You can set it with the following property: ` management.metrics.export.prometheus.pushgateway.shutdown-operation`; options are `none` (default), `delete` and `push`. You want `delete` in your case. Remember though, that t

[2019-08-28 06:34] shakuzen opened #1562 "Fix JavaDoc on HttpSender.Builder#withPlainText"
Looks like a copy-paste mistake from the `withJsonContent` method's JavaDoc.

https://github.com/micrometer-metrics/micrometer/blob/c47143f9a16ef60734d0a7dc42177d871ea1deb4/micrometer-core/src/main/java/io/micrometer/core/ipc/http/HttpSender.java#L180-L188

[2019-08-28 07:55] woshiyjs123 commented on #1557
thank you, i got it.

[2019-08-28 07:55] #1557 closed

[2019-08-28 08:02] shakuzen commented on #1555
The documentation for Common Tags can be found here: https://micrometer.io/docs/concepts#_common_tags

[2019-08-28 08:02] #1555 closed

[2019-08-28 09:02] mgr32 commented on #535
I needed to add a dynamic tag for all meters that have already been registered, and I ended up with following workaround - it adds the tag in `getConventionTags()` which is invoked from `publish()` of registries (e.g. `ElasticMeterRegistry`):
[code]

[2019-08-28 10:24] #1553 closed

[2019-08-28 10:24] #1562 closed

[2019-08-28 16:02] gorjan-bux opened #1563 "java.lang.ClassNotFoundException: io.micrometer.core.instrument.stats.quantile.Quantiles"
Getting `java.lang.ClassNotFoundException: io.micrometer.core.instrument.stats.quantile.Quantiles` exception when using `spring-boot-actuator-starter` and setting up a data source.

version used:
`org.springframework.boot.spring-boot-starter-actuator:2.1.7.RELEASE`

also worth noting:
As a transitive dependency, I already load
`io.micrometer.micrometer-registry-prometheus:1.1.1`

[code]

Does anyo

[2019-08-28 16:55] izeye commented on #1563
@gorjan-bux I suspect you have a corrupted jar for the `io.micrometer:micrometer-core` dependency in your cache. Please try deleting the jar in the cache and then start your application again.

[2019-08-28 17:06] izeye commented on #1563
@gorjan-bux Sorry, I overlooked the class which has triggered the `ClassNotFoundException`. Ignore the first comment. There's [no `io.micrometer.core.instrument.stats.quantile.Quantiles` in `io.micrometer:micrometer-core:1.1.1`](https://github.com/micrometer-metrics/micrometer/tree/v1.1.1/micrometer-core/src/main/java/io/micrometer/core/instrument). Based on the stack trace, it seems you're using

[2019-08-28 17:41] gorjan-bux commented on #1563
@izeye Thanks for the fast response.
For some reason we are using a custom version HikariCP, and I will investigate this further and post an update.

[2019-08-29 05:31] shakuzen commented on #1563
Micrometer integration should work well with official versions of HikariCP.
Your stacktrace doesn't match with the HikariCP source: https://github.com/brettwooldridge/HikariCP/blob/086bf18389282d1a7484e243d6af49890cec4fd7/src/main/java/com/zaxxer/hikari/metrics/micrometer/MicrometerMetricsTrackerFactory.java

If you can use official versions of HikariCP, that would be best.

[2019-08-29 08:28] gorjan-bux commented on #1563
I was using:
[code]
now I switched to:
[code]
which seems to have solved the problem.

Thanks for your help guys, I appreciate it.

[2019-08-29 08:28] #1563 closed

[2019-08-30 02:40] todaynowork commented on #535
Hello @zeratul021 @jkschneider , I am not quite understand how to add dynamic tags. Could you kindly sharing code block I could refer to ? My scenario is, we have a set of spring cloud stream applications to process data in kafka, from one system to other. We'd like to record metrics of each batch while most of application are running always to process data. The producer produce the data with batc

[2019-08-30 06:55] slovdahl commented on #1021
I tried rebasing the branch on upstream master, but there were some conflicts. I'm lacking the time to investigate further at the moment, but I'll try to pick it up sometime in the future.

If someone else has the time, feel free to take my WIP branch and submit a pull request.

[2019-08-30 12:31] CakeSpork commented on #1370
I'm having the exact same issue as @sabareeshkkanan above - with the same kafka_consumer_records* fields with MAX_DOUBLE being somehow treated as 'infinite'.

Running under Spring boot 2.1.7.RELEASE with Greenwich.SR2 cloud dependencies and
io.micrometer:micrometer-core:jar:1.1.5:compile
io.micrometer:micrometer-registry-elastic:jar:1.2.0:compile

[2019-09-02 04:01] shakuzen commented on #1370
@CakeSpork have you seen the note in the release note about deleting the template so the fixed template can be configured? https://github.com/micrometer-metrics/micrometer/releases/tag/v1.1.5

[2019-09-02 07:49] shakuzen commented on #1471
@markostijak could you open a separate issue describing your situation in more detail (which registry? what's the problem? what's the expectation?) so we can keep better track of things? You can also come chat with us on Slack.

[2019-09-02 08:23] shakuzen commented on #1512
@krmeda I'm trying to find my Datadog credentials to try to reproduce this, but could you confirm you've tried with the latest versions and this is still an issue? Are you using the DatadogMeterRegistry or the StatsdMeterRegistry? Since you mention WebFlux, I assume you are using Spring Boot. In that case you should use [the Spring Boot configuration property](https://docs.spring.io/spring-boot/do

[2019-09-03 02:31] shakuzen commented on #1522
Could you share more about how you are getting these numbers? What's the load you are putting on the application and what variety of requests are you sending?

Please make an issue for this so we can track it separately. Thank you.

[2019-09-03 04:12] shakuzen commented on #1492
I think `Closeable` would not match in these cases based on its JavaDoc:

I'm happy to add to a JavaDoc on these classes or methods to help explain why and when they should be closed. What do you think?

[2019-09-03 06:27] shakuzen commented on #1538
I'll need more time to dig into this and understand your situation, how it differs from the more typical setup, and how changes might affect both.
In the meantime, as a workaround, you can use a custom implementation of `TomcatMetrics` in your applications.

[2019-09-03 07:01] shakuzen commented on #1021
A pull request would likely help move this along. I'll try to get to it in time for the 1.3 release regardless, but there's a lot to do for this release and time is limited.

[2019-09-03 09:37] shakuzen commented on #699
To solve this, I think we'll need new API to pass the active task timings (<id, startTime> map) of each `LongTaskTimer` from composite to new child when registering a new child. However, this isn't API we generally want to expose, hence why it isn't in the API now.

[2019-09-03 09:47] shakuzen commented on #699
This is also complicated because the task IDs do not necessarily match between the composite and any children. While not a problem demonstrated in the given test, if a `LongTaskTimer` is started on a composite, there's no way for the user to know what task ID to use to stop it on a child.

[2019-09-03 13:31] shakuzen commented on #595
I looked into this and I'm not seeing a sensible way to achieve this for Graphite without affecting all repositories right now. I'm thinking something like #620 may be a better general approach to the problem-space.

[2019-09-03 15:49] shakuzen opened #1566 "Logging dependencies"
I don't think we're clear on what logging dependencies we have where, and I'd like to clear that up first. @izeye brought this up in https://github.com/micrometer-metrics/micrometer/pull/1475#issuecomment-506583936. I'll make an issue and link it here.

_Originally posted by @shakuzen in https://github.com/micrometer-metrics/micrometer/pull/1532#issuecomment-515289099_

[2019-09-03 16:25] shakuzen opened #1567 "ElasticMeterRegistry uses slf4j but does not declare it as a dependency"
In investigating #1566 I discovered that the ElasticMeterRegistry is using classes from slf4j but not declaring a dependency on it. It compiles due to the optional dependency on slf4j in micrometer-core, but it could fail in a user's application if slf4j is missing from the classpath.

[2019-09-03 16:35] shakuzen opened #1568 "GangliaMeterRegistry uses slf4j but does not declare it as a dependency"
Same issue as #1567, found while investigating #1566

[2019-09-03 16:39] shakuzen opened #1569 "HumioMeterRegistry uses slf4j but does not declare it as a dependency"
Same issue as #1567 and #1568, found when investigating #1566.

[2019-09-03 16:50] shakuzen opened #1570 "KairosMeterRegistry uses slf4j but does not declare it as a dependency"
Same issue as #1567, #1568, #1569. Discovered when investigating #1566

[2019-09-03 16:52] shakuzen opened #1571 "StackdriverMeterRegistry uses slf4j but does not declare it as a dependency"
Same issue as #1567, #1568, #1569, #1570. Discovered while investigating #1566.

[2019-09-03 17:17] shakuzen commented on #1566
Here's my archaeology dig on logging throughout the project. Some related early history: #473

---

A search in my IDE on the `1.1.x` branch shows that the following registry implementations already declare a direct dependency on SLF4J in `build.gradle`:

* AppOptics
* Azure
* CloudWatch
* Datadog
* Dynatrace
* Influx
* New Relic
* SignalFX
* Wavefront

---

A number of registry implementations we

[2019-09-03 17:25] #1567 closed

[2019-09-03 17:25] #1568 closed

[2019-09-03 17:25] #1569 closed

[2019-09-03 17:25] #1570 closed

[2019-09-03 17:25] #1571 closed

[2019-09-03 17:32] jspofford commented on #595
I ended up implementing my own HierarchicalNameMapper to provide a consistent prefix order and to pull out certain meter tags and put them into a specific order.  The remaining tags get sorted.

But this is definitely less than ideal.  Sorting the graphite hierarchy makes a mess of the hierarchy and the hierarchy is inconsistent across Meters.  What would be better is if during Meter creation, if

[2019-09-03 18:42] checketts commented on #1566
Great analysis! The `PushMeterRegistry` finding seems like the most important to address. I couldn't tell if there were any plans to address that finding (or others), or just making sure we knew about it.

[2019-09-04 01:27] krmeda commented on #1512
I am using the `DatadogMeterRegistry`. I will check with the latest versions and also use the spring boot configuration property and reply back...

[2019-09-04 03:01] shakuzen commented on #1566
I wanted to figure out the complete current state in this issue and decide a direction. @izeye has a pull request open for `PushMeterRegistry` specifically: #1475. As I [commented there](https://github.com/micrometer-metrics/micrometer/pull/1475#discussion_r320550216), the direction is that we will introduce delegating logging that removes the dependency on slf4j.

With that decided, I think we ca

[2019-09-04 03:01] #1566 closed

[2019-09-04 03:04] shakuzen opened #1572 "Remove slf4j usage from JvmGcMetrics"
This was previously done in #981, but the logging has somehow creeped back in. Based on the direction in #1566, I will remove the logging for now and we can add it back once we have a delegating logging solution in place.

[2019-09-04 03:18] #1572 closed

[2019-09-04 07:25] shakuzen opened #1573 "Upgrade to reactor-core and reactor-test 3.2.12.RELEASE"

[2019-09-04 07:35] shakuzen opened #1574 "Upgrade to reactor-netty 0.8.11.RELEASE"
Also upgrades transitive dependency on netty to 4.1.39

[2019-09-04 08:10] #1573 closed

[2019-09-04 08:10] #1574 closed

[2019-09-05 04:58] #1494 closed

[2019-09-05 07:57] rpkim commented on #657
Is there any update?

[2019-09-05 09:05] shakuzen opened #1576 "Publish artifacts to one Bintray package"
When syncing artifacts to Maven Central, it is done per Bintray package. Currently, our release process will publish each artifact to a separate Bintray package because no Bintray package is specified in the build and [that's the spring-bintray-plugin default](https://github.com/spring-gradle-plugins/spring-bintray-plugin/blob/9a2c413a6b2ede7452374734e3d169c066ac7abb/src/main/kotlin/io/spring/grad

[2019-09-05 09:21] shakuzen commented on #657
As mentioned in the original issue description, this looks like it is an issue in Netty when Netty is present and a WAR is undeployed. Micrometer is just shading Netty, which makes the package look like a Micrometer package, but it is an exact copy of Netty code, so I would expect this to happen the same without Micrometer if Netty is present. I don't think there is anything Micrometer can do to h

[2019-09-05 20:16] paulofreitas-hotmart commented on #1156
@alexvuta Did you find any  other solution to push the metrics manually ?

[2019-09-06 05:21] shakuzen commented on #1576
Following convention of other projects in the same Bintray repository, I'm proposing we use `io.micrometer` for artifacts published from this project. Other projects (like `prometheus-rsocket-proxy`) will have to use a more specific package name.

[2019-09-06 06:27] shakuzen commented on #1576
Reopening because the Maven Central sync needs to be adjusted for this change now. It is still set to run the `mavenCentralSync` task for each subproject, but all now use the same Bintray package making extra calls to `mavenCentralSync` unnecessary and they will fail.

[2019-09-06 06:38] shakuzen commented on #1576
Closed via eefdcec

[2019-09-06 06:38] #1576 closed

[2019-09-06 09:39] #1542 closed

[2019-09-09 04:06] shakuzen opened #1579 "bintrayPublish not run for each subproject"
With the changes made in #1576 and the [implementation of the `spring-bintray-plugin`](https://github.com/spring-gradle-plugins/spring-bintray-plugin/blob/9a2c413a6b2ede7452374734e3d169c066ac7abb/src/main/kotlin/io/spring/gradle/bintray/task/PublishTask.kt#L50-L53), not all files are getting published during the release process anymore, which requires the person doing the release to publish the re

[2019-09-09 12:35] #469 closed

[2019-09-09 15:02] dharmeshjogadia commented on #1227
Hey @shakuzen
Can please review my PR?

[2019-09-10 05:08] izeye commented on #1543
I could reproduce this with [a sample](https://github.com/izeye/sample-micrometer-spring-boot/tree/micrometer-gh-1543) if `--illegal-access=deny` VM option has been set. The stack trace wasn't the same but similar as follows:

[code]

@cscheffel Could you confirm that `--illegal-access=deny` VM option has been used when the exception was thrown? If not, could you share how to run your application

[2019-09-10 07:01] cscheffel commented on #1543
I did not set the --illegal-acces explicitly, but I will check this in my running environment.

What I have done is an implementation similar to #1582 in the DatadogMeterRegistry. This catches all exceptions while getting the value. This solved my problem and transmission does not stop anymore.

I think, it is a good idea to catch the errors at this point.

I could offer a pull request if interess

[2019-09-10 07:02] cscheffel commented on #1543
Sorry for closing. I hit the wrong button

[2019-09-10 17:20] brahtala-leovegas commented on #1451
I have the same problem, I use counters for alerts, and if value is 0 long enough, that counter is not visible in Datadog.
It looks like I should move to gauges.

[2019-09-10 17:58] zachariahyoung commented on #1543
Not sure if this helps but I'm getting a similar error.

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by net.sf.ehcache.pool.sizeof.ObjectGraphWalker (jar:file:/jbh/ws_infrastructure_rules.jar!/BOOT-INF/lib/ehcache-2.10.6.jar!/) to field java.util.ArrayList.elementData
WARNING: Please consider reporting this to the maintainers of net.sf.ehcache.p

[2019-09-10 18:58] zachariahyoung commented on #1543
Any workarounds for this issue?  Would ehcache 3 fix this?

[2019-09-10 20:25] cscheffel commented on #1543
If you use the changes in the pull request referenced above, it should be fixed. We tried it in production and have no drops anymore (except that we have events from ehcache which causes the fail).
Of course it would be better to fix the source error, but for mircometer it should be (imho) a good idea to not distrub other transmission if one event source fails.

[2019-09-10 21:14] zachariahyoung commented on #1543
@cscheffel I'm not using Datadog in my case.

[2019-09-12 13:06] sthallapalli opened #1584 "Performance issue reporting EhCache metrics with a large cache"
Spring Boot 2.0.x
EhCache: 2.10.6
micrometer: 1.0.8

[code]

[2019-09-13 08:48] holyjak commented on #1399
@zverbatim Yes, I did - see https://gist.github.com/holyjak/70115d2c0fe3a2f0f856a678342ba61a

[2019-09-13 09:17] fdw commented on #236
Is this issue solved already? I cannot find any information neither here nor in spring-cloud-openfeign.

[2019-09-14 22:22] jonatan-ivanov opened #1586 "Improve Tag propagation for @Timed"
Currently, there isn't an easy way to add tags to a `Timer` if it was created through the `TimedAspect` using the `@Timed` annotation.

I’m thinking about implementing two things:
1.  A class ([`ExtraTagsPropagation`](https://github.com/jonatan-ivanov/micrometer-tags/blob/master/src/main/java/com/example/micrometertags/ExtraTagsPropagation.java)) with a few static methods (like SLF4J's `MDC` or Sp

[2019-09-15 16:16] romilptl opened #1587 "http.server.requests : MAX property settled to 0"
I am using Spring Boot 2.1.4 and added actuators and configured Spring Boot Admin which works fine. I am using `/metrics/http.server.requests` to get the details about endpoints. From that, we get MAX property which indicates the max time taken by the endpoint to be execute. As discussed here [here](https://stackoverflow.com/questions/57247185/spring-boot-actuator-max-property) is set back to 0 af

[2019-09-16 14:14] checketts commented on #1587
That StackOverflow question is confusing and doesn't seems to answer the question, but rather has some guesses involved. I also checked and the docs don't document this very clearly (that I could find).

MAX is intended to show the outlier and worst case measurement in a timeframe. Some other metrics libraries would display a MAX that was the highest the system had ever seen (since the JVM had bee

[2019-09-16 14:14] #1587 closed

[2019-09-16 15:55] alternate11 opened #1590 "DiskSpaceMetrics don't work with Dynatrace"
DiskSpaceMetrics don't work with Dynatrace.

Error from the log:
`2019-09-16 17:05:07,586 ERROR [dynatrace-metrics-publisher] [DynatraceMeterRegistry] failed to send metrics to dynatrace: {"error":{"code":400,"message":"Could not map JSON at 'series[42].dimensions' near line 1 column 6292"}}`

Any ideas?

[2019-09-16 16:15] checketts commented on #1590
Are you saying if you disable the `DiskSpaceMetrics` that you don't receive this error? Can you capture the JSON being sent and include that in this issue?

[2019-09-16 20:00] edwardsre opened #1591 "StatsD UDP publishing stops after failing to send lines"
We have updated several applications to `Spring Boot 2.1.8` and metric publishing using the StatsD meter registry has stopped. The `actuator/metrics` endpoint shows metrics being collected as expected. We publish to `localhost` on port `8125` at a `1m` interval (all defaults).

The `actuator/configprops` endpoint shows the metrics publication is enabled for statsd.
[code]
### Result summary of Boo

[2019-09-16 22:00] alternate11 commented on #1590
Exactly, if I disable DiskSpaceMetrics (and only this one) the errors goes away.
Currently I get the following message in Dynatrace:

I'm not sure if this quote is per day or in general, I haven't quite figured out yet how to make Micrometer visible in Dynatrace.

[2019-09-17 06:24] perlun commented on #1080
@shakuzen and others: this is addressed by #775, which has been pending for a long time.

Could we get that PR reviewed? If the change suggested there feels too agressive, I might be able to submit a PR that only changes `executor` -> `executor.execution`, so we at least fix the inconsistency. We can then try to fix the `executor.idle` metric in due time.

/cc @slovdahl

[2019-09-17 15:34] zverbatim commented on #1399
@holyjak thank you very much! It was helpful.

[2019-09-17 21:01] edwardsre commented on #1591
I have found some additional information on this issue. When running `1.1.5`, I am able to see the Spring Boot java process has established a connection on an ephemeral port sending to port 8125 and can capture the UDP traffic using tcpdump.

[code]
[code]
[code]
When running with `1.1.6`, the java process does not have any ports bound to 8125. I have verified the listening application is bound to

[2019-09-17 23:10] edwardsre commented on #1591
One more update...

After changing the logging level to `DEBUG` for `io.micrometer.shaded.reactor`, I could see this `onNextDropped` debug message output for every meter with its associated line data:

[code]
I could see in `Operators` that multicast is being used, so that led me to `ifconfig lo` and finding that multicast is not turned on for the loopback interface for our AWS EC2 instances.

###

[2019-09-17 23:14] alternate11 commented on #1590
Error:

JSON:
`{"type":"java","series":[{"timeseriesId":"custom:jvm.gc.max.data.size","dataPoints":[[1568761781575,5726797824]],"dimensions":{"appStack":"unknown","appId":"tst-server1"}},{"timeseriesId":"custom:jvm.memory.used","dataPoints":[[1568761781611,66525152]],"dimensions":{"area":"heap","appStack":"unknown","appId":"tst-server1","id":"PS Old Gen"}},{"timeseriesId":"custom:jvm.buffer.memory

[2019-09-18 01:13] izeye commented on #1590
@alternate11 Thanks for the report and sharing the request JSON! I found broken parts from the request JSON, for example as follows:

[code]

I created #1593 to fix this.

[2019-09-19 07:47] ssy-lehmann opened #1594 "NoClassDefFoundError for EmbeddedWebApplicationContext with embedded Jetty"
Using a demo application with:

- Spring Boot 2.1.6.RELEASE
- micrometer-spring-legacy 1.2.1
- exclusion of tomcat and using jetty instead (example taken from offical documentation)
- just a HelloWorldController returning "hello world" and the standard standalone Spring Application class.

I'm getting the stacktrace as shown afterwards. It's not clear to me what exactly is needed.

[code]

The onl

[2019-09-19 08:08] izeye commented on #1594
@ssy-lehmann `io.micrometer:micrometer-spring-legacy` is only for Spring Boot 1.x. You're using Spring Boot 2.x, so you need to remove it and add `org.springframework.boot:spring-boot-starter-actuator` instead.

[2019-09-19 10:15] breun commented on #1591
Not sure if it's the same issue, but I have noticed some of our applications using Micrometer with StatsD recently have stopped publishing metrics at seemingly random moment, but **all the same time**. They recently seem to have been upgraded from Micrometer 1.1.5 to 1.1.6, as managed by respectively Spring Boot 2.1.7.RELEASE and 2.1.8.RELEASE.

Will try downgrading to Micrometer 1.1.5 to see if t

[2019-09-20 10:04] abendt-mhp opened #1596 "CloudWatchMeterRegistry: error sending metric data"
we are using micrometer-registry-cloudwatch to write metrics from a spring boot application running in ECS/Fargate to AWS Cloudwatch.

we regularely have these errors in the log:
[code]

we have set the batchsize using spring boot options:
* _management.metrics.export.cloudwatch.batchSize_
* we tried some values <= 20

due to our setup we cannot directly debug in AWS. When trying to reproduce the

[2019-09-20 18:14] #1590 closed

[2019-09-20 19:06] shakuzen commented on #1591
If I were to guess, the upgrade from reactor-netty 0.8.1 to 0.8.11 (see #1574 and #1561) is a likely candidate for the difference in behavior here. In previous patches, we never upgraded the shaded version of reactor-netty we were using. I will have to look into this more to confirm the root cause and what to do about this, though.

Thank you for the thorough investigation @edwardsre and write-up

[2019-09-20 19:10] shakuzen commented on #1227
@dharmeshjogadia thank you for the pull request. I've optimistically marked this for inclusion in 1.3.0, but I can't guarantee we'll be able to get it reviewed and merged in time.

[2019-09-20 20:22] shakuzen commented on #1587
@checketts Shall we open an issue to improve the docs?

[2019-09-20 21:48] echatman opened #1597 "Can't remove meters after a filter is added"
`MeterRegistry.remove()` fails to remove metrics that were created before a `commonTags()` filter was applied. It seems to apply the filter to the metric ID before trying to look it up, and so it finds nothing, and fails to delete it.

Tested using the latest version (`io.micrometer:micrometer-core:1.2.1`).

Here is my test case:
[code]

[2019-09-22 10:23] romilptl commented on #1587
@shakuzen [DistributionStatisticConfig ](https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/distribution/DistributionStatisticConfig.java)has `.expiry(Duration.ofMinutes(2))` which sets the measurements to 0 if there is no request has been made in between expiry time or rotate time. Do I am going in the right direction?

If yes,

[2019-09-23 09:32] rafal-dudek opened #1598 "Missing connectionCount metric in TomcatMetrics"
We have recently found that Micrometer does not expose 'connectionCount' metrics for Tomcat, as a part of the PR: https://github.com/micrometer-metrics/micrometer/pull/1595 we also spotted that there is no effective test for metrics derived from 'mBeanServer' (in contrast to Manager object) since invalid metrics name would result in zero value rather than exception during initialization.

[2019-09-23 15:56] codefromthecrypt opened #1599 "Accidental strict dep on LatencyUtils"
It seems there are some guards to try to not use LatencyUtils unless pause detection is in use. However, there's still a compile dep.

[code]

[2019-09-24 11:11] adriancole commented on #1599
here's an example of another project working around a similar accidental strict dep https://github.com/line/armeria/pull/2107

[2019-09-24 11:26] adriancole commented on #1599
It looks like HdrHistogram is also effectively mandatory, It would be nice for these to be optional.

[code]

[2019-09-24 18:12] ignaciomolina opened #1602 "Timer sends zero values every step"
Hi I’m using micrometer to send metrics to dynatrace, I recently notice that the library is sending the accumulated metrics every step (1 minute) even if the number of events has been zero. Which affects to the way dynatrace calculates and shows the metrics. After reading a bit other issues I found that this is the expected behavior for the library... ¿is anyway to disable this behavior? If not do

[2019-09-25 20:19] 66-24 commented on #1093
So if we dont report unchanged metrics how does one distinguish between "app not sending metrics say because reporting thread died" vs "app not sending unchanged data" ?

[2019-09-25 21:56] neiljpowell opened #1603 "New Unexpected Common Tags Break Metrics"
Related to the recent introduction of java buildpack "cf" common tags https://github.com/cloudfoundry/java-buildpack/issues/748

As noted in the related build pack issue, common tags can be unexpectedly introduced by third parties and impact metrics.  If introduced with a MeterFilter annotated with @ Order default (lowest precedence), customers are not able to confidently introduce their own Meter

[2019-09-25 23:56] izeye commented on #1370
@CakeSpork I can see you’re using mixed versions of Micrometer. You’d better use a consistent version to avoid potential incompatibilities.

[2019-09-26 08:00] CakeSpork commented on #1370
@izeye this was because the 1.2.0 release had some issues - they seem to be resolved in 1.2.1. But you're right that I could've used 1.1.5 registry-elastic.

@shakuzen I missed that - but I have to find out more about the metrics_template

[2019-09-26 15:13] MacyTech opened #1604 "Initialize metrics to zero at start up"
We are using micrometer in our application. We want the metrics to initialize to zero at start up. Right now metrics only show when the first message is received. Is there anyway to default it to zero at start up of the application? We need this for both http metrics and custom metrics.

[2019-09-26 16:08] philwebb opened #1605 "micrometer-registry-cloudwatch2 is missing from the BOM"
Originally raised by @dreis2211 [here](https://github.com/spring-projects/spring-boot/pull/18367), it appears that the `micrometer-registry-cloudwatch2` has not been included in the published BOM.

[2019-09-26 16:08] philwebb commented on #1605
Sorry, ignore me. There is no micrometer BOM yet.

[2019-09-26 16:08] #1605 closed

[2019-09-26 18:58] mweirauch commented on #1604
Where do you want the metrics to be initalized to zero at startup? In your monitoring system?
When the application starts, they are always zerod within the application process.
Please leave a note what monitoring system backend - respectively which micrometer-registry-project you are using.

[2019-09-26 19:33] zeldigas opened #1606 "Source information is not available in signalfx"
Current reporter for SignalFx does not send information about "source", that is by default equal to hostname.

SFX team's dropwizard reporter sends this information as dedicated dimension, appended to every data point: https://github.com/signalfx/signalfx-java/blob/master/signalfx-codahale/src/main/java/com/signalfx/codahale/reporter/AggregateMetricSenderSessionWrapper.java#L195

Micrometer implem

[2019-09-26 20:23] zeldigas commented on #1606
I'm ready to send PR for this issue if you are fine to add this improvement

[2019-09-27 22:02] neiljpowell commented on #1603
Statsd and Graphite meter registries have a secondary option of using a HierarchicalNameMapper to filter unwanted tags. However, an easy way to whitelist common tags would still be much better.

[2019-09-27 22:03] shakuzen commented on #1451
Not that I can think of. It is a (in my opinion, reasonable) optimization to not send values for meters that do not have values. Incrementing by zero won't work because values of zero or less will be ignored by the current implementation.
https://github.com/micrometer-metrics/micrometer/blob/373ea7bf1e391f6321f4b475e80214b5355b274b/implementations/micrometer-registry-statsd/src/main/java/io/microm

[2019-09-27 22:12] shakuzen commented on #1584
It will be hard to diagnose what the cause of the OOM error is without more information. Can you check a heap dump when the OOM occurs? If it is related to Micrometer, the most likely cause is that unique metrics are being created with high cardinality (unbounded). If that's the cause, we'd want to see what metric there are a lot of. Perhaps check the Prometheus endpoint before an OOM happens to s

[2019-09-27 22:14] shakuzen commented on #1177
I would check with New Relic to make sure that your license includes the Insights API.

[2019-09-27 22:20] shakuzen commented on #1586
This is something that's been asked about before. We don't do general context propagation right now. While `ThreadLocal` should work fine in thread-based runtimes, with other runtimes (e.g. Netty, Reactor) I think there's probably more required.
I'd have to look more into this later.

[2019-09-27 22:28] checketts commented on #1584
In a project I helped with, we weren't hitting OOM errors, but we were seeing that the way that ehcache checks it size and local memory usage were both inefficient. We had to turn it off by:

[code]

We weren't able to work around it with Micrometer because the calls to ehcache themselves (`StatisticsGateway.getLocalHeapSizeInBytes` for example) itself just wasn't efficient.

Alternatively you cou

[2019-09-27 22:53] shakuzen commented on #1584
Would a `MeterFilter` that denies those metrics work?

If those two metrics are generally problematic, maybe we should not register those metrics by default. What do you think?
Also, is there an open issue in EHCache regarding the inefficiency of these methods? Maybe there is an alternative we could use or they could improve it.

[2019-09-27 23:06] checketts commented on #1584
Since this is the first issue opened in this regard, I don't think they are generally problematic. We could add at `try/catch` to `EhCache2Metrics` that could encourage the user to disable the metric at that time (if it is causing them errors).

The project I saw where they ran into this were a little oblivious to how much they were caching and how large the objects were.

I hadn't checked for an

[2019-09-28 00:23] shakuzen commented on #1605
A Micrometer BOM was added as part of #469 which is part of the upcoming 1.3 release.

[2019-09-28 11:45] JotBePunkt opened #1607 "Idea: Kotlin extension for easier setup of registries"
I am currenly working on the integration of micrometer metrics in ktor. While doing so I had the idea of a Kotlin DSL to configure the specific registries.

Here is an idea how I thought about the installation of an AppOptics specific metrics plugin in Ktor:

[code]

this is much easier to read then the traditional way by implementing the configuration interface:
[code]

I think this DSL would fit

[2019-09-29 14:13] JotBePunkt commented on #1607
see full code example here: https://github.com/JotBePunkt/ktor/pull/2

[2019-09-29 15:34] shakuzen commented on #1607
This sounds like it would be useful for Micrometer users building apps in Kotlin. I'm generally in favor of the idea as long as it doesn't force any Kotlin dependencies on non-Kotlin users. I'll take a closer look into this later as I'm busy with the 1.3 release now.

[2019-09-29 17:00] JotBePunkt commented on #1607
Continuing to Atlas which is the next in the alphabet, it looks like the actual pattern how to configure MeterRegistries by implementing the *Config Interface originates from the spectator project (see [AtlasConfig](https://github.com/Netflix/spectator/blob/a45c15ee59be2e6c4b3deff2ff4dba1a04397792/spectator-reg-atlas/src/main/java/com/netflix/spectator/atlas/AtlasConfig.java) ) which is used in Mi

[2019-09-29 19:04] shakuzen commented on #1606
Right now we're just passing the configured `SignalFxConfig#source` as the `defaultSourceName` parameter to the `AggregateMetricSender` provided by SignalFx's Java client. I'm wondering why that doesn't result in the expected behavior and if the change belongs in Micrometer or SignalFx's Java client.

[2019-09-29 19:45] shakuzen commented on #1598
Could you open a separate issue for this, please? That way we don't lose track of that. A pull request would also be greatly appreciated.

[2019-09-29 19:54] shakuzen commented on #1596
From the information you've provided, it looks likely the issue is caused by us batching by Micrometer `Meter`s but each `Meter` can translate to multiple `MetricData`, so a batch of 20 Meters might be more than 20 MetricData.

[2019-09-29 22:59] #1021 closed

[2019-09-29 23:04] shakuzen commented on #1021
@bsideup let us know if what was merged works for your purposes.

[2019-09-29 23:22] shakuzen commented on #1080
Idle timing was added with #1608. The remaining inconsistency is the naming of the task execution timer across the timed executors. Current state is:

* `TimedExecutor`: `executor.execution` and `executor.idle`
* `TimedExecutorService`: `executor` and `executor.idle`
* `TimedScheduledExecutorService` (just added in 1.3): `executor` and `executor.idle`

The naming inconsistency is unfortunate, but

[2019-09-29 23:45] #1489 closed

[2019-09-30 01:27] shakuzen opened #1609 "Lock dependencies prior to releasing 1.3.0"
Generate all lock files for stable versions prior to releasing. Make a `1.3.x` branch from `master`, add locks, and then start the release.
See #1478 for the last time this was done.

[2019-09-30 01:50] #1579 closed

[2019-09-30 05:54] zeldigas commented on #1606
Maybe some SFX folks could comment here. @mpetazzoni, @beccatortell, appreciate you can comment on the `source` field in protobuf spec compared to dimension

[2019-09-30 08:23] IRus commented on #1227
I use undertow without servlets, and https://github.com/micrometer-metrics/micrometer/pull/1575 only cover servlets part (which more specific), but not the undertow server itself, which based on handlers. Example of built-in metric handler: https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/server/handlers/MetricsHandler.java

[2019-09-30 13:34] nylund commented on #1596
This is potentially caused by this PR https://github.com/micrometer-metrics/micrometer/pull/1504

[2019-09-30 13:37] jrcdsf opened #1611 "Incorrect metrics format on /prometheus"
We have been using micrometer-registry-prometheus and micrometer-spring-legacy (both version 1.2.1) to expose resilience4j (1.0.0) metrics on /prometheus but somehow the format of the metrics looks weird as shown below:

"# HELP tomcat_sessions_alive_max_seconds  \n# TYPE tomcat_sessions_alive_max_seconds gauge\ntomcat_sessions_alive_max_seconds 0.0\n# HELP apiSession_connections_max  \n# TYPE api

[2019-09-30 13:45] jrcdsf commented on #1611
![Captura de tela de 2019-09-30 10-34-00](https://user-images.githubusercontent.com/3901128/65884492-53e67d00-e36f-11e9-9a50-6e4a44b0443b.png)

[2019-09-30 14:48] izeye commented on #1611
@jrcdsf Thanks for the report but I couldn't reproduce the problem with [a sample (Spring Boot 1.5.22.RELEASE, Micrometer 1.2.1)](https://github.com/izeye/sample-micrometer-spring-boot/tree/1.5.x). Could you provide a sample to reproduce it?

[2019-09-30 15:18] checketts commented on #1611
How are you service the Prometheus metrics on the url `/prometheus`? Are you creating you own `@RequestMapping` and service the metrics as a string, or are you configuring actuator to do that?

Perhaps that config would lend some hints.

[2019-09-30 16:53] izeye commented on #1596
Sorry for the trouble. I created #1612 to resolve this. The milestone needs to be changed to 1.2.2 or later as this was a regression which has been introduced in 1.2.1 due to #1504.

[2019-09-30 16:57] jrcdsf commented on #1611
We are using actuator, I forgot to mention that, sorry about it.

Thanks.

[2019-09-30 17:08] #1596 closed

[2019-09-30 17:42] jrcdsf commented on #1611
Here is our pom.xml:

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">

    <modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>org.springframework.boot</groupId>
        <a

[2019-09-30 18:43] checketts commented on #1611
What about the config to make the actuator use that url?

[2019-09-30 21:29] shakuzen opened #1613 "Downgrade to reactor-netty 0.8.6 / netty 4.1.34"
After upgrading these dependencies, users are experiencing #1591. We need more time to investigate the root cause and fix for the issue there, but in the meantime, reverting the dependency upgrades fixes the issue per my testing.

[2019-09-30 21:46] #1613 closed

[2019-09-30 21:50] shakuzen commented on #1591
As a workaround, I've downgraded reactor-netty in #1613 which restores the previous behavior as far as my testing can tell.

**Request to affected users**
Would those affected by this issue please test with Micrometer 1.1.7-SNAPSHOT or 1.1.7 when it is released to confirm this fixes things for now?

I'm leaving this issue open as we still want to identify the root cause and figure out where a fix

[2019-09-30 22:20] shakuzen opened #1614 "bintrayUpload task is skipped during release"

[2019-09-30 22:25] #1614 closed

[2019-10-01 01:13] sbilello commented on #21
if you want to know the number of requests in a certain period of time. How can you achieve that with the given `_sum` and `_count` metrics.
https://www.innoq.com/en/blog/prometheus-counters/ I was looking to apply the increase function correctly.

[2019-10-01 01:19] sbilello opened #1615 "@Timed get metric with `_total` or retrieve number of requests in a time interval"
Hello!

By default `@Timed` is able to show the metric with `http_server_requests_sum` and `_count`. The latency is computed with `my_metric_sum/my_metric_count` but how can I get the `_total` [?](https://www.innoq.com/en/blog/prometheus-counters/)
I would like to know if it is possible to use the above metrics to get the number of requests in a time interval.
If I use the `increase` function on `

[2019-10-01 03:33] shakuzen opened #1616 "Apache HttpClient per route metrics"
See https://github.com/micrometer-metrics/micrometer/pull/1223#pullrequestreview-295350576 and prior comments.

[2019-10-01 03:41] shakuzen opened #1617 "DNS, SSL, and TCP metrics for Apache HttpClient"
Add metrics for:

1. DNS resolution time (inject custom `DnsResolver`, delegating to the user-provided resolver, and timing).
2. SSL handshake time (inject `SSLConnectionSocketFactory`, delegating).
3. TCP connect time (also in custom `SSLConnectionSocketFactory`).

Apply these on custom `PoolingHttpClientConnectionManager`.

Feedback suggests that DNS resolution/SSL handshake can go up dramatical

[2019-10-01 03:42] shakuzen commented on #533
With the merged pull requests, I'm considering this enhancement request complete. There is now `MicrometerHttpRequestExecutor` which can be used to time requests made from an Apache `HttpClient`, and there is `PoolingHttpClientConnectionManagerMetricsBinder` which provides metrics on the connection pool for a `PoolingHttpClientConnectionManager`.

I've opened up follow-up issues to track other ide

[2019-10-01 03:42] #533 closed

[2019-10-01 05:32] #1609 closed

[2019-10-01 06:24] breun commented on #1591
In the cases I witnesses and heard about, the application has been running for a couple of days already. Does anyone have a quicker way to reproduce/test?

[2019-10-01 06:26] breun commented on #1591
@shakuzen I heard from colleagues that they also encountered this with a Micrometer 1.2.0. Is that possible and does `reactor-netty` maybe also need a downgrade in the 1.2.x branch?

[2019-10-01 06:33] shakuzen opened #1618 "License missing from micrometer-bom"
Maven Central requires that POM metadata includes a license. The license is missing from the micrometer-bom POM.

[2019-10-01 07:03] shakuzen commented on #1618
I think the reason I made a separate publication from the nebula one was to avoid all of the properties it adds to the POM, but those are added to the separate `mavenBom` publication anyways. Removing the extra code to use a separate publication for now so the license gets properly added. I'll look at removing the unnecessary properties later, as they should be harmless (though ugly) in the BOM.

[2019-10-01 07:19] zeldigas commented on #1606
@shakuzen I've did some search in SFX docs and while `source` field is present in protobuf descriptor, there is no such field in http api docs as well as other docs:
1. https://developers.signalfx.com/ingest_data_reference.html - API endpoint definition to send metric data
2. https://docs.signalfx.com/en/latest/getting-started/concepts/data-model.html - description of data model
3. https://docs.si

[2019-10-01 07:57] shakuzen commented on #1618
I was reminded that just using the nebula publication as is results in javadoc, source, and binary jars getting published as well. Switching the micrometer-bom project to the `java-platform` plugin was the right approach for Gradle as explained here: https://docs.gradle.org/current/userguide/java_platform_plugin.html

[2019-10-01 08:02] #1618 closed

[2019-10-01 08:39] rafal-dudek opened #1619 "Missing tests for mBeanServer in TomcatMetrics"
We spotted that there is no effective test for metrics derived from 'mBeanServer' in TomcatMetrics (in contrast to Manager object) since invalid metrics name would result in zero value rather than exception during initialization.

Previously mentioned in https://github.com/micrometer-metrics/micrometer/issues/1598

[2019-10-01 15:06] breun commented on #1591
@shakuzen I see Micrometer 1.1.7, 1.2.2 and 1.3.0 have been released. You say `reactor-netty` was downgraded in 1.1.7, which seems to be have been released now, and the 1.3.0 release notes mention all changes in 1.1.7 and 1.2.2 are also incorporated into 1.3.0. However, the 1.3.0 release notes also mention this issue as a known issue. So, is the issue fixed or not in 1.1.7, 1.2.2 and 1.3.0?

[2019-10-01 16:25] edwardsre commented on #1591
@shakuzen I have deployed one of our affected applications with the `1.1.7` release and it seems to have remedied the reported problem seen with `1.1.6`. For us, it did not take days for the break to occur as suggested by @breun above, but was immediate upon deploy. Either way, I will watch it for a while to make sure it doesn't stop working.

Thanks for leaving this open and continuing to look in

[2019-10-02 07:26] bsideup commented on #1021
@shakuzen thanks a lot! I will try to integrate it into reactor-core and report back if anything 👍

[2019-10-02 08:46] mcekovic opened #1622 "Lost Counter increments when registering Counters from multiple threads using CompositeMetricsRegistry with Prometheus"
There is an issue in the Micrometer 1.3.0 (also checked from 1.1.4 onward, but did no check earlier versions) that manifests in the lost Counter increments when registering Counters from multiple threads using CompositeMetricsRegistry with Prometheus.

Here is the minimal example code:

[code]

Running the above test couple of times will provoke the issue at least once.
The issue seems to **not**

[2019-10-02 18:34] marcingrzejszczak opened #1626 "Provide a Grafana dashboard for Hystrix Metrics"

[2019-10-02 19:07] shakuzen commented on #1626
@checketts I think you had some kind of dashboard for Hystrix metrics, if I remember correctly. Is any of that open source, or could it be?

[2019-10-02 20:18] checketts commented on #1626
I had one at a previous employer. But those were based of Hystrix Prometheus before Micrometer had support. So this Dashboard would match that: https://grafana.com/grafana/dashboards/2113

[2019-10-02 22:06] shakuzen opened #1627 "Website to join Slack (slack.micrometer.io) is down"
As reported on Twitter: https://twitter.com/JotbePunkt/status/1178240113844916225

[2019-10-03 01:45] izeye commented on #1622
@mcekovic Thanks for the report and the test! I could reproduce this locally with your test, even with `SimpleMeterRegistry`.

There seems to be a race condition between `MeterRegistry.meterMap.plus()` and `CompositeMeter.add()` via meter-added event listener in `MeterRegistry.getOrCreateMeter()`. Hence, an empty `AbstractCompositeMeter.children` could happen while incrementing its children in `Co

[2019-10-03 03:41] jonatan-ivanov commented on #1586
@shakuzen I might be missing something but since `TimedAspect` is calling the actual method synchronously (through the joinpoint) if `TimedAspect` works, `ThreadLocal` must too since you can't change threads there.
Assuming that the key-value pair is added in that method without tricking with it (adding from an async handler, starting a new thread and adding from it, etc).

[2019-10-03 09:53] marcingrzejszczak commented on #1626
No it's not a high priority at all. I thought that maybe there is one already. We are absolutely going towards Micrometer with Resilience4j

[2019-10-03 12:31] #1611 closed

[2019-10-03 12:31] jrcdsf commented on #1611
Unfortunately I am unable to reproduce the issue by creating a new project with same configs, thanks for your assistance!

Regards,
JR.

[2019-10-03 17:08] lnorregaard opened #1629 "Configurable _source.enabled Elastic mapping property"
From Elastic's documentation:
https://www.elastic.co/guide/en/elasticsearch/reference/7.3/mapping-source-field.html

This means that it is not possible to see the fields in the index and Kibana view will not show the metrics.

I would make a pull request to change to enabled: true for Elasticsearch 7.3 and up